In [1]:
'''
对叉车的搬运的工时进行统计
'''
import re
import os
import easygui
import numpy as np
import pandas as pd

In [2]:
fname = r"F:\a00nutstore\006\zw\产成品出入库工作记录\仓库日常入库工作记录.xlsx"
df = pd.read_excel(fname,header = 1)
df = df[[i  for i  in  df.columns.to_list() if (i != '货物数量(托)') and  (i != '序号') and ('Unnamed' not in i)]]
df

           日期    车间   货物件数 入库叉车1 入库叉车2 入库叉车3  搬运1  搬运2  搬运3
0  2024-10-09  软抄车间  866.0   刘革红    黄康   NaN  吴长江   李城  NaN
1  2024-10-09  软抄车间  120.0   胡国华   NaN   NaN  代朝威  NaN  NaN
2  2024-10-09  夹子车间    7.0    黄康   NaN   NaN   李城  NaN  NaN
3  2024-10-10    简装  932.0   刘革红    黄康   NaN   李城  吴长江  NaN
4  2024-10-10    简装   93.0   胡国华   NaN   NaN  代朝威  NaN  NaN
..        ...   ...    ...   ...   ...   ...  ...  ...  ...
67        NaT   NaN    NaN   NaN   NaN   NaN  NaN  NaN  NaN
68        NaT   NaN    NaN   NaN   NaN   NaN  NaN  NaN  NaN
69        NaT   NaN    NaN   NaN   NaN   NaN  NaN  NaN  NaN
70        NaT   NaN    NaN   NaN   NaN   NaN  NaN  NaN  NaN
71        NaT   NaN    NaN   NaN   NaN   NaN  NaN  NaN  NaN

[72 rows x 9 columns]

In [3]:
#删除空行
df = df[df['货物件数'].notna()]
df

           日期    车间    货物件数 入库叉车1 入库叉车2 入库叉车3   搬运1  搬运2  搬运3
0  2024-10-09  软抄车间   866.0   刘革红    黄康   NaN   吴长江   李城  NaN
1  2024-10-09  软抄车间   120.0   胡国华   NaN   NaN   代朝威  NaN  NaN
2  2024-10-09  夹子车间     7.0    黄康   NaN   NaN    李城  NaN  NaN
3  2024-10-10    简装   932.0   刘革红    黄康   NaN    李城  吴长江  NaN
4  2024-10-10    简装    93.0   胡国华   NaN   NaN   代朝威  NaN  NaN
5  2024-10-10  夹子车间    23.0   刘革红   NaN   NaN   代朝威  NaN  NaN
6  2024-10-10    成品    76.0   刘革红    黄康   胡国华   代朝威   李城  吴长江
7  2024-10-14    简装   420.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
8  2024-10-14    简装    51.0    黄康   NaN   NaN    李城  NaN  NaN
9  2024-10-14    简装   160.0   刘革红   NaN   NaN  车间码好  NaN  NaN
10 2024-10-14    成品   132.0   刘革红    黄康   NaN    李城  吴长江  NaN
11 2024-10-14    柔印    28.0    黄康   NaN   NaN    李城  NaN  NaN
12 2024-10-15    简装   420.0    黄康   NaN   NaN    李城  吴长江  NaN
13 2024-10-15    简装   213.0   刘革红    黄康   胡国华    李城  吴长江  NaN
14 2024-10-15    简装   120.0   刘革红   胡国华   NaN    李城  吴长江  代朝威
15 2024-10-15    简装   293.0   刘革红    黄康   NaN  车间码好  NaN  NaN
16 2024-10-15    成品   143.0   刘革红   胡国华   NaN    李城  吴长江  代朝威
17 2024-10-16    简装   800.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
18 2024-10-16    简装   346.0   刘革红   NaN   NaN  车间码好  NaN  NaN
19 2024-10-16    成品   127.0   刘革红    黄康   胡国华   吴长江  代朝威  NaN
20 2024-10-16  夹子车间    21.0   刘革红   NaN   NaN   吴长江  NaN  NaN
21 2024-10-17    简装   585.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
22 2024-10-17    简装   818.0   刘革红    黄康   胡国华  车间码好  NaN  NaN
23 2024-10-17    成品   132.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
24 2024-10-19    简装  1473.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
25 2024-10-19    简装   240.0   刘革红    黄康   胡国华  车间码好  NaN  NaN
26 2024-10-19    成品   191.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
27 2024-10-21    简装   810.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
28 2024-10-21    简装   864.0   刘革红    黄康   胡国华  车间码好  NaN  NaN
29 2024-10-21  夹子车间    49.0   刘革红   胡国华   NaN   吴长江  代朝威  NaN
30 2024-10-21    成品   198.0   刘革红    黄康   NaN    李城  吴长江  NaN
31 2024-10-22    简装   417.0   刘革红   NaN   NaN   吴长江  NaN  NaN
32 2024-10-22    简装   769.0   刘革红    黄康   胡国华   吴长江   李城  代朝威
33 2024-10-22    简装   509.0   刘革红    黄康   胡国华  车间码好  NaN  NaN
34 2024-10-22    成品   194.0   刘革红    黄康   胡国华   吴长江   李城  代朝威
35 2024-10-22    成品    99.0   刘革红    黄康   NaN   吴长江   李城  NaN
36 2024-10-22  夹子车间    17.0   刘革红   NaN   NaN   吴长江  NaN  NaN

In [4]:
df1 = df.set_index(['日期','车间','货物件数'])
df1

                       入库叉车1 入库叉车2 入库叉车3   搬运1  搬运2  搬运3
日期         车间   货物件数
2024-10-09 软抄车间 866.0    刘革红    黄康   NaN   吴长江   李城  NaN
                120.0    胡国华   NaN   NaN   代朝威  NaN  NaN
           夹子车间 7.0       黄康   NaN   NaN    李城  NaN  NaN
2024-10-10 简装   932.0    刘革红    黄康   NaN    李城  吴长江  NaN
                93.0     胡国华   NaN   NaN   代朝威  NaN  NaN
           夹子车间 23.0     刘革红   NaN   NaN   代朝威  NaN  NaN
           成品   76.0     刘革红    黄康   胡国华   代朝威   李城  吴长江
2024-10-14 简装   420.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
                51.0      黄康   NaN   NaN    李城  NaN  NaN
                160.0    刘革红   NaN   NaN  车间码好  NaN  NaN
           成品   132.0    刘革红    黄康   NaN    李城  吴长江  NaN
           柔印   28.0      黄康   NaN   NaN    李城  NaN  NaN
2024-10-15 简装   420.0     黄康   NaN   NaN    李城  吴长江  NaN
                213.0    刘革红    黄康   胡国华    李城  吴长江  NaN
                120.0    刘革红   胡国华   NaN    李城  吴长江  代朝威
                293.0    刘革红    黄康   NaN  车间码好  NaN  NaN
           成品   143.0    刘革红   胡国华   NaN    李城  吴长江  代朝威
2024-10-16 简装   800.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
                346.0    刘革红   NaN   NaN  车间码好  NaN  NaN
           成品   127.0    刘革红    黄康   胡国华   吴长江  代朝威  NaN
           夹子车间 21.0     刘革红   NaN   NaN   吴长江  NaN  NaN
2024-10-17 简装   585.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
                818.0    刘革红    黄康   胡国华  车间码好  NaN  NaN
           成品   132.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
2024-10-19 简装   1473.0   刘革红    黄康   胡国华    李城  吴长江  代朝威
                240.0    刘革红    黄康   胡国华  车间码好  NaN  NaN
           成品   191.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
2024-10-21 简装   810.0    刘革红    黄康   胡国华    李城  吴长江  代朝威
                864.0    刘革红    黄康   胡国华  车间码好  NaN  NaN
           夹子车间 49.0     刘革红   胡国华   NaN   吴长江  代朝威  NaN
           成品   198.0    刘革红    黄康   NaN    李城  吴长江  NaN
2024-10-22 简装   417.0    刘革红   NaN   NaN   吴长江  NaN  NaN
                769.0    刘革红    黄康   胡国华   吴长江   李城  代朝威
                509.0    刘革红    黄康   胡国华  车间码好  NaN  NaN
           成品   194.0    刘革红    黄康   胡国华   吴长江   李城  代朝威
                99.0     刘革红    黄康   NaN   吴长江   李城  NaN
           夹子车间 17.0     刘革红   NaN   NaN   吴长江  NaN  NaN

In [5]:
df2 = df1.stack()
df2

日期          车间    货物件数
2024-10-09  软抄车间  866.0  入库叉车1    刘革红
                         入库叉车2     黄康
                         搬运1      吴长江
                         搬运2       李城
                  120.0  入库叉车1    胡国华
                                 ...
2024-10-22  成品    99.0   入库叉车2     黄康
                         搬运1      吴长江
                         搬运2       李城
            夹子车间  17.0   入库叉车1    刘革红
                         搬运1      吴长江
Length: 148, dtype: object

In [22]:
df2.to_excel('banyunStack.xlsx')

In [6]:
df2 = df2.reset_index()
df2.columns = ['date','chejian','jian','gongzhong','people']
(
    
    df2.reset_index()
)
df2

          date chejian   jian gongzhong people
0   2024-10-09    软抄车间  866.0     入库叉车1    刘革红
1   2024-10-09    软抄车间  866.0     入库叉车2     黄康
2   2024-10-09    软抄车间  866.0       搬运1    吴长江
3   2024-10-09    软抄车间  866.0       搬运2     李城
4   2024-10-09    软抄车间  120.0     入库叉车1    胡国华
..         ...     ...    ...       ...    ...
143 2024-10-22      成品   99.0     入库叉车2     黄康
144 2024-10-22      成品   99.0       搬运1    吴长江
145 2024-10-22      成品   99.0       搬运2     李城
146 2024-10-22    夹子车间   17.0     入库叉车1    刘革红
147 2024-10-22    夹子车间   17.0       搬运1    吴长江

[148 rows x 5 columns]

In [7]:
df3 = df2.copy()
df3.gongzhong = df3.gongzhong.str.replace('\d+','',regex = True)
df3.gongzhong

0      入库叉车
1      入库叉车
2        搬运
3        搬运
4      入库叉车
       ...
143    入库叉车
144      搬运
145      搬运
146    入库叉车
147      搬运
Name: gongzhong, Length: 148, dtype: object

In [8]:
df4 = df3.copy()
df4

          date chejian   jian gongzhong people
0   2024-10-09    软抄车间  866.0      入库叉车    刘革红
1   2024-10-09    软抄车间  866.0      入库叉车     黄康
2   2024-10-09    软抄车间  866.0        搬运    吴长江
3   2024-10-09    软抄车间  866.0        搬运     李城
4   2024-10-09    软抄车间  120.0      入库叉车    胡国华
..         ...     ...    ...       ...    ...
143 2024-10-22      成品   99.0      入库叉车     黄康
144 2024-10-22      成品   99.0        搬运    吴长江
145 2024-10-22      成品   99.0        搬运     李城
146 2024-10-22    夹子车间   17.0      入库叉车    刘革红
147 2024-10-22    夹子车间   17.0        搬运    吴长江

[148 rows x 5 columns]

In [9]:
data = []
gp = df4.groupby(['date','chejian','jian','gongzhong'])
for k,v in gp:
    v = v.assign(jian2 = v.jian/len(v))
    data.append(v)
df5 = pd.concat(data)
df5

          date chejian   jian gongzhong people       jian2
6   2024-10-09    夹子车间    7.0      入库叉车     黄康    7.000000
7   2024-10-09    夹子车间    7.0        搬运     李城    7.000000
4   2024-10-09    软抄车间  120.0      入库叉车    胡国华  120.000000
5   2024-10-09    软抄车间  120.0        搬运    代朝威  120.000000
0   2024-10-09    软抄车间  866.0      入库叉车    刘革红  433.000000
..         ...     ...    ...       ...    ...         ...
127 2024-10-22      简装  769.0      入库叉车     黄康  256.333333
128 2024-10-22      简装  769.0      入库叉车    胡国华  256.333333
129 2024-10-22      简装  769.0        搬运    吴长江  256.333333
130 2024-10-22      简装  769.0        搬运     李城  256.333333
131 2024-10-22      简装  769.0        搬运    代朝威  256.333333

[148 rows x 6 columns]

In [9]:
df5.to_excel('叉车搬运工时加工后原表2.xlsx',index = False)

In [10]:
df6 = df5.assign(fapei = df5.gongzhong.str[:2],gongzhong1 = df5.gongzhong.str[2:])
df6

          date chejian   jian gongzhong people       jian2 fapei gongzhong1
6   2024-10-09    夹子车间    7.0      入库叉车     黄康    7.000000    入库         叉车
7   2024-10-09    夹子车间    7.0        搬运     李城    7.000000    搬运
4   2024-10-09    软抄车间  120.0      入库叉车    胡国华  120.000000    入库         叉车
5   2024-10-09    软抄车间  120.0        搬运    代朝威  120.000000    搬运
0   2024-10-09    软抄车间  866.0      入库叉车    刘革红  433.000000    入库         叉车
..         ...     ...    ...       ...    ...         ...   ...        ...
127 2024-10-22      简装  769.0      入库叉车     黄康  256.333333    入库         叉车
128 2024-10-22      简装  769.0      入库叉车    胡国华  256.333333    入库         叉车
129 2024-10-22      简装  769.0        搬运    吴长江  256.333333    搬运
130 2024-10-22      简装  769.0        搬运     李城  256.333333    搬运
131 2024-10-22      简装  769.0        搬运    代朝威  256.333333    搬运

[148 rows x 8 columns]

In [11]:
df7 = df6[[ 'fapei',
       'gongzhong1','people', 'jian2']]
df7

    fapei gongzhong1 people       jian2
6      入库         叉车     黄康    7.000000
7      搬运                李城    7.000000
4      入库         叉车    胡国华  120.000000
5      搬运               代朝威  120.000000
0      入库         叉车    刘革红  433.000000
..    ...        ...    ...         ...
127    入库         叉车     黄康  256.333333
128    入库         叉车    胡国华  256.333333
129    搬运               吴长江  256.333333
130    搬运                李城  256.333333
131    搬运               代朝威  256.333333

[148 rows x 4 columns]

In [12]:
pivot = pd.pivot_table(df7,index = ['fapei','gongzhong1','people'],aggfunc = sum)
pivot

C:\Users\redda\AppData\Local\Temp\ipykernel_14120\2791720084.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = pd.pivot_table(df7,index = ['fapei','gongzhong1','people'],aggfunc = sum)

                               jian2
fapei gongzhong1 people
入库    叉车         刘革红     5140.333333
                 胡国华     3109.333333
                 黄康      4506.333333
搬运               代朝威     2228.333333
                 吴长江     3877.333333
                 李城      3420.333333
                 车间码好    3230.000000

In [13]:
pivot1 = pd.pivot_table(df7,index = 'people',columns = ['fapei','gongzhong1'],aggfunc = sum)
pivot1

C:\Users\redda\AppData\Local\Temp\ipykernel_14120\3856349551.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot1 = pd.pivot_table(df7,index = 'people',columns = ['fapei','gongzhong1'],aggfunc = sum)

                  jian2
fapei                入库           搬运
gongzhong1           叉车
people
代朝威                 NaN  2228.333333
刘革红         5140.333333          NaN
吴长江                 NaN  3877.333333
李城                  NaN  3420.333333
胡国华         3109.333333          NaN
车间码好                NaN  3230.000000
黄康          4506.333333          NaN