In [1]:
import easygui
import pandas as pd
import os
import re

In [30]:
def shengcan(msg):
    fname = easygui.fileopenbox(msg)
    sheet_name = '工资'
    df= pd.read_excel(fname,sheet_name = sheet_name)
    df = df.loc[:,['车间','卡号','姓名','代扣社保']]
    df.columns = ['部门车间','卡号','姓名','社保']
    df = df.loc[df['社保'].notna()]
    df = df.loc[df['社保']==383]
    return df

In [31]:
msg = '请选择生产人员工资"excel文件'
df_shengcan = shengcan(msg)
df_shengcan

    部门车间                   卡号   姓名   社保
0     柔印  6222627110000535660   许华  383
1     柔印  6222627110000272041  朱华志  383
2     柔印  6222627110000041750   谢斌  383
3     柔印  6222627110000141667  朱顺苟  383
4     柔印  6222627110000850671  王启辉  383
..   ...                  ...  ...  ...
160   夹子  6222627110000118475  高春杰  383
161   夹子  6222627110000850218  雷红艳  383
162   夹子  6222627110001016058  程福华  383
163   夹子  6222627110001224322  杨琴琴  383
165   夹子                  发现金  鲁雅琴  383

[151 rows x 4 columns]

In [28]:
def xingguan(msg):
    fname = easygui.fileopenbox(msg)
    sheet_name = '工资'
    df= pd.read_excel(fname,sheet_name = sheet_name)
    df = df[df['公司'] == '双佳']
    df = df.loc[:,['部门','账号','姓名','社保']]
    df.columns = ['部门车间','卡号','姓名','社保']
    df = df.loc[df['社保'].notna()]
       
    return df

In [29]:
msg = '请选择行管人员工资"excel文件'
df_xingguan = xingguan(msg)
df_xingguan

     部门车间                   卡号   姓名     社保
0     行政部  6222627110000141584  张凤英  383.0
1     行政部  6222627110000407134  张桂兰  383.0
2     行政部  6222627110000041065  简翠凤  383.0
4     行政部  6222627110000914048  梁胜堂  383.0
5     行政部  6222627110000181820  蔡九梅  383.0
6     行政部  6222627110000466494  吴艳华  383.0
7     行政部  6222627110001020399  袁宏华  383.0
8     行政部  6222627110000041131   汪坤  383.0
9     行政部  6222627110000041123  孙波平  383.0
10    行政部  6222627110001355746  游福平  383.0
11    行政部  6222627110000941066  马兵华  383.0
12    行政部  6222627110001588817  喻中华  383.0
13    行政部  6222627110001588809  汪桂池  383.0
14    行政部  6222627110000141923  张爱国  383.0
15    行政部  6222627110001667900  严小平  383.0
16    行政部  6222627110000272025  张勇飞  383.0
17    行政部  6222627110000691570  鲁志勇  383.0
18    行政部  6222627110000182984   梁静  383.0
19    营销部  6222627110000394340   陈新  383.0
20    营销部  6222627110000537575   朱杰  383.0
21    营销部  6222627110000555973  唐加权  383.0
22    营销部  6222627110000367338   刘威  383.0
23    营销部  6222627110001021843  张红飞  383.0
24    营销部  6222627110001377526   徐浩  383.0
28    营销部  6222627110000407803   高婷  383.0
29    营销部  6222627110000535512   黄茜  383.0
30    生产部  6222627110000040968  万小伦  383.0
31    生产部  6222627110000182448  李丽霞  383.0
32    生产部  6222627110000359681  李亚荣  383.0
33    生产部  6222627110001302847  伍芳芳  383.0
34    生产部  6222627110001678683  普晨慧  383.0
36   仓库搬运  6222627110000041248  江小珍  383.0
37   仓库搬运  6222627110000040992  葛翠平  383.0
38   仓库搬运  6222627110001255540   黄锦  383.0
40   仓库搬运  6222627110001694953  魏思琴  383.0
41   仓库搬运  6222627110000141600  周宗华  383.0
42   仓库搬运  6222627110000041255  吴永乐  383.0
43   仓库搬运  6222627110000183032  胡国华  383.0
44   仓库搬运  6222627110000041032  刘革红  383.0
45   仓库搬运  6222627110001232333  黄志桥  383.0
46   仓库搬运  6222627110001310105   黄康  383.0
47   仓库搬运  6222627110000832745  代朝威  383.0
51    财务部  6222627110001057029   戴玲  383.0
52    财务部  6222627110001342215  晏梦琪  383.0
55  设计研发部  6222627110000832554  余丽丽  383.0
56  设计研发部  6222627110001037187  刘文静  383.0
57  设计研发部  6222627110001303282   梅君  383.0
58  设计研发部  6222627110001685126  孙超凡  383.0
59  设计研发部  6222627110001110638   张莹  383.0

In [34]:
fname_chebao = r"F:\a00nutstore\008\zw08\双佳社保\2024-03\3月养老.xls"
df_chebao = pd.read_excel(fname_chebao)
df_chebao = df_chebao.loc[:,['社会保障号码','姓名','个人合计']]
df_chebao

                 社会保障号码   姓名  个人合计
0    429004197209232368   彭俊   294
1    420102198610173519   徐浩   294
2    429004197008012350  刘革红   294
3    422201197104136869  汤柏华   294
4    422201198508132121   黄茜   294
..                  ...  ...   ...
185  420923198910016641   江琴   294
186  422201196903053416  汪桂池   294
187  420902199908306845   黄锦   294
188  422201197308236810  严小平   294
189  420981200307091325  普晨慧   294

[190 rows x 3 columns]

In [43]:
df_gongzi = pd.concat([df_shengcan,df_xingguan])
df_gongzi

     部门车间                   卡号   姓名     社保
0      柔印  6222627110000535660   许华  383.0
1      柔印  6222627110000272041  朱华志  383.0
2      柔印  6222627110000041750   谢斌  383.0
3      柔印  6222627110000141667  朱顺苟  383.0
4      柔印  6222627110000850671  王启辉  383.0
..    ...                  ...  ...    ...
55  设计研发部  6222627110000832554  余丽丽  383.0
56  设计研发部  6222627110001037187  刘文静  383.0
57  设计研发部  6222627110001303282   梅君  383.0
58  设计研发部  6222627110001685126  孙超凡  383.0
59  设计研发部  6222627110001110638   张莹  383.0

[200 rows x 4 columns]

In [44]:
df8 = pd.merge(df_gongzi,df_chebao,how  ='outer',on = ['姓名'])
df8

      部门车间                   卡号   姓名     社保              社会保障号码   个人合计
0       柔印  6222627110000535660   许华  383.0  420923198110126295  294.0
1       柔印  6222627110000272041  朱华志  383.0  422202198206125731  294.0
2       柔印  6222627110000041750   谢斌  383.0  422202198709203535  294.0
3       柔印  6222627110000141667  朱顺苟  383.0  422202197008105719  294.0
4       柔印  6222627110000850671  王启辉  383.0  422201198510268116  294.0
..     ...                  ...  ...    ...                 ...    ...
196  设计研发部  6222627110001037187  刘文静  383.0  420116199103263344  294.0
197  设计研发部  6222627110001303282   梅君  383.0  420116198810262426  294.0
198  设计研发部  6222627110001685126  孙超凡  383.0                 NaN    NaN
199  设计研发部  6222627110001110638   张莹  383.0  420921199210075562  294.0
200    NaN                  NaN   祝刚    NaN  420921198202063858  294.0

[201 rows x 6 columns]

In [45]:
df8.to_excel('111.xlsx')

In [38]:
df_xingguan.to_excel('222.xlsx')

In [40]:
df_shengcan.to_excel('333.xlsx')

In [62]:
df_gongzi_chebao = df8.loc[df8['社保'].notna()&df8['个人合计'].isnull()]
df_gongzi_chebao.index = range(1,len(df_gongzi_chebao)+1)
df_gongzi_chebao = df_gongzi_chebao.iloc[:,:3]
df_gongzi_chebao

     部门车间                   卡号   姓名
1      柔印                  发现金   舒洁
2      柔印                  发现金  汪永康
3      书芯                  发现金   杨莎
4      书芯                  发现金  涂林林
5      书芯                  发现金  孙海艳
6      书芯                  发现金   孙胜
7      书芯                  发现金   熊璐
8      书芯                  发现金   唐秀
9      夹子                  发现金  鲁雅琴
10   仓库搬运  6222627110001694953  魏思琴
11  设计研发部  6222627110001685126  孙超凡

In [60]:
df_chebao_gongzi= df8.loc[df8['社保'].isnull()&df8['个人合计'].notna()]
df_chebao_gongzi.index = range(1,len(df_chebao_gongzi )+1)
df_chebao_gongzi = df_chebao_gongzi.iloc[:,:3]
df_chebao_gongzi

  部门车间   卡号  姓名
1  NaN  NaN  祝刚

In [63]:
df_gongzi_chebao

     部门车间                   卡号   姓名
1      柔印                  发现金   舒洁
2      柔印                  发现金  汪永康
3      书芯                  发现金   杨莎
4      书芯                  发现金  涂林林
5      书芯                  发现金  孙海艳
6      书芯                  发现金   孙胜
7      书芯                  发现金   熊璐
8      书芯                  发现金   唐秀
9      夹子                  发现金  鲁雅琴
10   仓库搬运  6222627110001694953  魏思琴
11  设计研发部  6222627110001685126  孙超凡

In [65]:
df_gongzi_chebao.reindex()

     部门车间                   卡号   姓名
1      柔印                  发现金   舒洁
2      柔印                  发现金  汪永康
3      书芯                  发现金   杨莎
4      书芯                  发现金  涂林林
5      书芯                  发现金  孙海艳
6      书芯                  发现金   孙胜
7      书芯                  发现金   熊璐
8      书芯                  发现金   唐秀
9      夹子                  发现金  鲁雅琴
10   仓库搬运  6222627110001694953  魏思琴
11  设计研发部  6222627110001685126  孙超凡

In [71]:
df_gongzi_chebao.insert(0,'序号',value = df_gongzi_chebao.index)

In [72]:
df_gongzi_chebao

    序号   部门车间                   卡号   姓名
1    1     柔印                  发现金   舒洁
2    2     柔印                  发现金  汪永康
3    3     书芯                  发现金   杨莎
4    4     书芯                  发现金  涂林林
5    5     书芯                  发现金  孙海艳
6    6     书芯                  发现金   孙胜
7    7     书芯                  发现金   熊璐
8    8     书芯                  发现金   唐秀
9    9     夹子                  发现金  鲁雅琴
10  10   仓库搬运  6222627110001694953  魏思琴
11  11  设计研发部  6222627110001685126  孙超凡