In [1]:
import pandas as pd
import os
import openpyxl
import re
import easygui
import win32com.client as win32

In [2]:
fname_xg = r"F:\a00nutstore\008\zw08\gongzi\行管工资.xlsx"
sheet_name = r'工资'
df_xg = pd.read_excel(fname_xg,sheet_name)
df_xg

,公司,部门,账号,姓名,基本工资,团体奖金,效益奖金,话费职补高温,考勤奖,加班工资,...,备注,签名,基本工资0,考评基数0,效益奖金0,基本工资测试,考评基数测试,效益奖金测试,团体奖金0,团体奖金测试
0,双佳,行政部,6222627110000141584,张凤英,1600,1200.0,NaN,NaN,233.000000,175.5,...,NaN,NaN,1600,0,NaN,0,NaN,NaN,0,-1200.0
1,双佳,行政部,6222627110000407134,张桂兰,1350,434.0,600.0,NaN,163.000000,72.0,...,NaN,NaN,1350,0,600.0,0,NaN,0.0,0,-434.0
2,双佳,行政部,6222627110000041065,简翠凤,1350,434.0,600.0,NaN,163.000000,108.0,...,NaN,NaN,1350,0,600.0,0,NaN,0.0,0,-434.0
3,双佳,行政部,6222627110000914048,梁胜堂,1600,520.0,500.0,1758.0,217.000000,437.0,...,NaN,NaN,1600,500,500.0,0,0.0,0.0,520,0.0
4,双佳,行政部,现金,尹新林,1140,323.0,NaN,1326.0,121.388889,291.0,...,NaN,NaN,5000,0,NaN,3860,NaN,NaN,0,-323.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,物业,统计质检部,6230290032789477,夏志艳,1850,809.0,420.0,NaN,263.000000,72.0,...,NaN,NaN,1850,880,420.0,0,0.0,0.0,810,1.0
91,物业,统计质检部,6230290032789683,李敏敏,1850,809.0,420.0,100.0,263.000000,456.0,...,NaN,NaN,1850,880,420.0,0,0.0,0.0,810,1.0
92,物业,统计质检部,6230290032789667,胡晶晶,1600,745.0,420.0,NaN,236.000000,108.0,...,NaN,NaN,1600,810,420.0,0,0.0,0.0,745,0.0
93,物业,统计质检部,6230290032789436,夏银秀,1600,745.0,420.0,NaN,236.000000,108.0,...,NaN,NaN,1600,810,420.0,0,0.0,0.0,745,0.0
94,物业,统计质检部,6230290032789626,周黎明,1600,662.0,360.0,NaN,223.000000,72.0,...,NaN,NaN,1600,720,360.0,0,0.0,0.0,662,0.0

In [4]:
df_xg.insert(2,'xifen','')
fname_nameXifen = r"F:\a00nutstore\008\zw08\gongzi\行管工资姓名部门对照表.xlsx"
df0 = pd.read_excel(fname_nameXifen)
name_xifen = dict(zip(df0['姓名'],df0['部门']))
name_xifen

{'袁宏华': '保安',
 '汪坤': '保安',
 '孙波平': '保安',
 '游福平': '保安',
 '马兵华': '保安',
 '喻中华': '保安',
 '汪桂池': '保安',
 '张爱国': '保安',
 '严小平': '保安',
 '戴玲': '财务',
 '王露漫': '财务',
 '桂玉蕾': '财务',
 '张文伟': '财务',
 '马金蓉': '财务',
 '周文婷': '财务',
 '刘海学': '采购',
 '刘西': '采购',
 '江小珍': '仓库管理员',
 '葛翠平': '仓库管理员',
 '黄锦': '仓库管理员',
 '魏思琴': '仓库管理员',
 '刘会群': '仓库管理员',
 '周太云': '仓库管理员',
 '周宗华': '叉车搬运',
 '吴永乐': '叉车搬运',
 '胡国华': '叉车搬运',
 '刘革红': '叉车搬运',
 '黄志桥': '叉车搬运',
 '黄康': '叉车搬运',
 '代朝威': '叉车搬运',
 '张志成': '叉车搬运',
 '饶平勇': '叉车搬运',
 '张凤英': '后勤',
 '张桂兰': '后勤',
 '简翠凤': '后勤',
 '万小伦': '设备科',
 '易超': '设备科',
 '肖君': '设备科',
 '余丽丽': '设计',
 '刘文静': '设计',
 '梅君': '设计',
 '孙超凡': '设计',
 '张莹': '设计',
 '何念': '设计',
 '魏志娟': '设计',
 '胡汉华': '生产部',
 '夏志芳': '生产部',
 '黄芬': '生产部',
 '周满': '生产部',
 '唐爱萍': '生产部',
 '罗丽萍': '生产部',
 '周红侠': '生产部',
 '夏志萍': '生产部',
 '梁胜堂': '食堂',
 '尹新林': '食堂',
 '蔡九梅': '食堂',
 '吴艳华': '食堂',
 '雷汝民': '食堂',
 '张勇飞': '司机',
 '鲁志勇': '司机',
 '李丽霞': '统计质检',
 '李亚荣': '统计质检',
 '伍芳芳': '统计质检',
 '普晨慧': '统计质检',
 '叶金蓉': '统计质检',
 '沈冬梅': '统计质检',
 '夏志艳': '统计质检',
 '李敏敏': '统计质检',
 '胡晶晶': '统计质检',
 '夏银秀': '统计质检',
 '周黎明': '统计质检',
 '黄茜': '外贸人员',
 '翁庆先': '外贸人员',
 '陈新': '销售',
 '朱杰': '销售',
 '唐加权': '销售',
 '刘威': '销售',
 '张红飞': '销售',
 '徐浩': '销售',
 '潘勇': '销售',
 '沈文发': '销售',
 '程松松': '销售',
 '邵劭': '销售',
 '祝刚': '销售',
 '罗国勇': '销售',
 '潘建明': '销售',
 '邵晓爱': '销售',
 '朱红志': '销售',
 '杜松': '销售',
 '高婷': '销售文员',
 '陈永芳': '销售文员',
 '王香雪': '销售文员',
 '梁静': '行政文员',
 '曾芬': '行政文员',
 '徐祥华': '总经理'}

In [5]:
xifen_bumen = {'劳务': '生产部',
 '生产部': '生产部',
 '统计质检': '统计质检部',
 '设备科': '生产部',
 '车间-书芯': '生产部',
 '车间-夹子': '生产部',
 '车间-成品': '生产部',
 '车间-柔印': '生产部',
 '车间-简装': '生产部',
 '车间-胶印': '生产部',
 '采购': '采购部',
 '外贸人员': '营销部',
 '销售': '营销部',
 '销售文员': '营销部',
 '保安': '行政部',
 '司机': '行政部',
 '后勤': '行政部',
 '总经理': '行政部',
 '行政文员': '行政部',
 '设计': '设计研发部',
 '财务部': '行政部',
 '食堂': '行政部',
 '仓库管理员': '财务部',
 '叉车搬运': '财务部',
 '财务': '财务部'}
df_xg = df_xg.assign(xifen = df_xg['姓名'].map(name_xifen) )
df_xg.部门 = df_xg.部门.replace({'行政、管理部':'行政部','仓库搬运':'财务部'})
df_xg.部门 = df_xg.xifen.replace(xifen_bumen)
df_xg

,公司,部门,xifen,账号,姓名,基本工资,团体奖金,效益奖金,话费职补高温,考勤奖,...,备注,签名,基本工资0,考评基数0,效益奖金0,基本工资测试,考评基数测试,效益奖金测试,团体奖金0,团体奖金测试
0,双佳,行政部,后勤,6222627110000141584,张凤英,1600,1200.0,NaN,NaN,233.000000,...,NaN,NaN,1600,0,NaN,0,NaN,NaN,0,-1200.0
1,双佳,行政部,后勤,6222627110000407134,张桂兰,1350,434.0,600.0,NaN,163.000000,...,NaN,NaN,1350,0,600.0,0,NaN,0.0,0,-434.0
2,双佳,行政部,后勤,6222627110000041065,简翠凤,1350,434.0,600.0,NaN,163.000000,...,NaN,NaN,1350,0,600.0,0,NaN,0.0,0,-434.0
3,双佳,行政部,食堂,6222627110000914048,梁胜堂,1600,520.0,500.0,1758.0,217.000000,...,NaN,NaN,1600,500,500.0,0,0.0,0.0,520,0.0
4,双佳,行政部,食堂,现金,尹新林,1140,323.0,NaN,1326.0,121.388889,...,NaN,NaN,5000,0,NaN,3860,NaN,NaN,0,-323.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,物业,统计质检部,统计质检,6230290032789477,夏志艳,1850,809.0,420.0,NaN,263.000000,...,NaN,NaN,1850,880,420.0,0,0.0,0.0,810,1.0
91,物业,统计质检部,统计质检,6230290032789683,李敏敏,1850,809.0,420.0,100.0,263.000000,...,NaN,NaN,1850,880,420.0,0,0.0,0.0,810,1.0
92,物业,统计质检部,统计质检,6230290032789667,胡晶晶,1600,745.0,420.0,NaN,236.000000,...,NaN,NaN,1600,810,420.0,0,0.0,0.0,745,0.0
93,物业,统计质检部,统计质检,6230290032789436,夏银秀,1600,745.0,420.0,NaN,236.000000,...,NaN,NaN,1600,810,420.0,0,0.0,0.0,745,0.0
94,物业,统计质检部,统计质检,6230290032789626,周黎明,1600,662.0,360.0,NaN,223.000000,...,NaN,NaN,1600,720,360.0,0,0.0,0.0,662,0.0

In [6]:
df_xg  = df_xg[['部门','xifen','姓名','实发数']]
df_xg

       部门 xifen   姓名   实发数
0     行政部    后勤  张凤英  2915
1     行政部    后勤  张桂兰  2236
2     行政部    后勤  简翠凤  2272
3     行政部    食堂  梁胜堂  4657
4     行政部    食堂  尹新林  3201
..    ...   ...  ...   ...
90  统计质检部  统计质检  夏志艳  3300
91  统计质检部  统计质检  李敏敏  3821
92  统计质检部  统计质检  胡晶晶  2871
93  统计质检部  统计质检  夏银秀  3081
94  统计质检部  统计质检  周黎明  2884

[95 rows x 4 columns]

In [26]:
fname_shengcan = r"F:\a00nutstore\008\zw08\gongzi\生产人员工资.xlsx"
sheet_name = '工资'
df_shengcan = pd.read_excel(fname_shengcan,sheet_name = sheet_name)
df_shengcan

,车间,卡号,姓名,工资,考评,补贴,生活补贴,保底,工龄,奖励,...,水电费,罚款,物耗,代扣社保,扣税,借支,补扣税,实发数,领款人签名,保底人员金额
0,柔印,6222627110000535660,许华,761,2523,1124,650,0,70,230,...,4,0,0,383,0,0.0,0,4973,1,NaN
1,柔印,6222627110000272041,朱华志,695,2478,1317,575,0,88,70,...,0,5,0,383,0,0.0,0,4857,2,NaN
2,柔印,6222627110000041750,谢斌,4207,164,454,650,0,120,160,...,29,50,157,383,5,0.0,1,5156,3,NaN
3,柔印,6222627110000141667,朱顺苟,525,2629,734,625,0,130,170,...,2,10,14,383,0,0.0,0,4404,4,NaN
4,柔印,6222627110000850671,王启辉,368,2917,1584,625,0,60,180,...,0,0,18,383,0,0.0,0,5333,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,夹子,6222627110001016058,程福华,5395,0,37,650,0,50,110,...,0,0,6,383,27,0.0,36,5862,11,NaN
167,夹子,6222627110001224322,杨琴琴,3202,0,455,650,0,30,224,...,0,0,5,383,0,0.0,0,4173,12,NaN
168,夹子,6222627110001689532,周迎春,2107,0,0,575,0,0,240,...,0,0,2,78,0,0.0,0,2842,13,NaN
169,夹子,发现金,段青花,3091,0,455,650,0,0,423,...,0,2,5,78,0,0.0,0,4534,14,NaN
170,夹子,6222627110001698863,鲁雅琴,2127,0,0,675,0,0,0,...,0,0,5,0,0,0.0,0,2797,15,NaN

In [27]:
df_shengcan = df_shengcan[['车间','姓名','实发数']]
df_shengcan.insert(0,'部门','生产部')
lst = df_shengcan['车间'].to_list()
lst = ['车间-' + i for i in lst]
df_shengcan['车间'] =  lst 
df_shengcan

C:\Users\redda\AppData\Local\Temp\ipykernel_21188\2495250473.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shengcan['车间'] =  lst

      部门     车间   姓名   实发数
0    生产部  车间-柔印   许华  4973
1    生产部  车间-柔印  朱华志  4857
2    生产部  车间-柔印   谢斌  5156
3    生产部  车间-柔印  朱顺苟  4404
4    生产部  车间-柔印  王启辉  5333
..   ...    ...  ...   ...
166  生产部  车间-夹子  程福华  5862
167  生产部  车间-夹子  杨琴琴  4173
168  生产部  车间-夹子  周迎春  2842
169  生产部  车间-夹子  段青花  4534
170  生产部  车间-夹子  鲁雅琴  2797

[171 rows x 4 columns]

In [28]:
df_shengcan = df_shengcan[['部门','车间','姓名','实发数']]
df_shengcan

      部门     车间   姓名   实发数
0    生产部  车间-柔印   许华  4973
1    生产部  车间-柔印  朱华志  4857
2    生产部  车间-柔印   谢斌  5156
3    生产部  车间-柔印  朱顺苟  4404
4    生产部  车间-柔印  王启辉  5333
..   ...    ...  ...   ...
166  生产部  车间-夹子  程福华  5862
167  生产部  车间-夹子  杨琴琴  4173
168  生产部  车间-夹子  周迎春  2842
169  生产部  车间-夹子  段青花  4534
170  生产部  车间-夹子  鲁雅琴  2797

[171 rows x 4 columns]

In [29]:
df_shengcan.columns = ['部门','xifen','姓名','实发数']
df_shengcan

      部门  xifen   姓名   实发数
0    生产部  车间-柔印   许华  4973
1    生产部  车间-柔印  朱华志  4857
2    生产部  车间-柔印   谢斌  5156
3    生产部  车间-柔印  朱顺苟  4404
4    生产部  车间-柔印  王启辉  5333
..   ...    ...  ...   ...
166  生产部  车间-夹子  程福华  5862
167  生产部  车间-夹子  杨琴琴  4173
168  生产部  车间-夹子  周迎春  2842
169  生产部  车间-夹子  段青花  4534
170  生产部  车间-夹子  鲁雅琴  2797

[171 rows x 4 columns]

In [30]:
fname_laowu = r"F:\a00nutstore\008\zw08\gongzi\2024年工资\202405\生产部劳务工资表-2024-5-25 的副本.xls"
sheet_name = r'劳务派遣报酬'
df_laowu = pd.read_excel(fname_laowu,sheet_name = sheet_name,skiprows = 2)
df_laowu['姓名'] = df_laowu['姓名'].dropna()

In [32]:
def chuliName(df):
    df = df.loc[~df['姓名'].isnull()]
    df['姓名'] = df['姓名'].astype('str')
    df = df.loc[~df['姓名'].str.contains('0|姓名|表|会计：|会计')]
    return df

In [33]:
df_laowu= chuliName(df_laowu)
df_laowu = df_laowu[['行次','姓名','实发数']]
df_laowu.insert(0,'bumen','生产部')
df_laowu.columns = ['部门','xifen','姓名','实发数']
df_laowu.xifen = '车间-劳务'
df_laowu

C:\Users\redda\AppData\Local\Temp\ipykernel_21188\1170198819.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['姓名'] = df['姓名'].astype('str')

    部门  xifen   姓名   实发数
0  生产部  车间-劳务  将丽玲  4029
1  生产部  车间-劳务  金小梅  2468
2  生产部  车间-劳务  吴长江  7619
3  生产部  车间-劳务  关艳芹  3077
4  生产部  车间-劳务   郑丽  4565
5  生产部  车间-劳务  池春兰  4490

In [45]:

df_total = pd.concat([df_xg,df_shengcan,df_laowu],ignore_index = True)
heji = df_total['实发数'].sum()
lst = ['合计','','',heji]
add = df_total.copy()
add = add.iloc[-2:,:]
add.iloc[-1,:] = lst

In [46]:
df_total1 = pd.concat([df_total,add],axis = 0)
df_total1

      部门  xifen   姓名      实发数
0    行政部     后勤  张凤英     2915
1    行政部     后勤  张桂兰     2236
2    行政部     后勤  简翠凤     2272
3    行政部     食堂  梁胜堂     4657
4    行政部     食堂  尹新林     3201
..   ...    ...  ...      ...
269  生产部  车间-劳务  关艳芹     3077
270  生产部  车间-劳务   郑丽     4565
271  生产部  车间-劳务  池春兰     4490
270  生产部  车间-劳务   郑丽     4565
271   合计              1170758

[274 rows x 4 columns]

In [47]:
df_up = df_total1.iloc[:-2,:] 
df_down = df_total1.iloc[-1:,:]
df_total1 = pd.concat([df_up,df_down],axis = 0)

In [48]:
df_total1.to_excel('333.xlsx',index = False)

In [49]:
def groupbyDf(df):
    gp = df.groupby(['部门','xifen'])
    renshu = gp['姓名'].count()
    total = gp['实发数'].sum()
    mean = gp['实发数'].mean()
    median = gp['实发数'].median()
    result = pd.concat([renshu,total,mean,median],axis = 1)
    result =result.reset_index()
    # result.columns = ['部门','部门细分','人数','总工资','平均工资','中位数工资']
    return result

In [50]:
def groupbyBumen(df):
    df = df[['部门','姓名','实发数']]    
    gp = df.groupby('部门')
    renshu = gp['姓名'].count()
    total = gp['实发数'].sum()
    mean = gp['实发数'].mean()
    median = gp['实发数'].median()
    result = pd.concat([renshu,total,mean,median],axis = 1)
    result =result.reset_index()
    # result.columns = ['部门','部门细分','人数','总工资','平均工资','中位数工资']
    return result

In [51]:
result = groupbyDf(df_total)
result.columns = ['部门','部门细分','人数','总工资','平均工资','中位数工资']
result.sort_values(['部门','部门细分'])
result.to_excel('111.xlsx',index = False)

In [52]:
result_bumen = groupbyBumen(df_total)
result_bumen.columns = ['部门','人数','总工资','平均工资','中位数工资']

In [53]:
result_bumen.to_excel('222.xlsx',index = False)

In [54]:
fname_gongzi = r"F:\a00nutstore\008\zw08\gongzi\工资汇总.xlsx"
sheet_name = '工资'
with pd.ExcelWriter(fname_gongzi,engine='openpyxl', date_format='yyyy-m-d', mode='a',
                    if_sheet_exists='replace') as writer:                       #replace,overlay
    df_total1.to_excel(writer, sheet_name, index=False)

In [55]:
result_bumen

      部门   人数     总工资         平均工资   中位数工资
0    生产部  188  847048  4505.574468  4423.5
1  统计质检部   11   37002  3363.818182  3081.0
2    营销部   21   77601  3695.285714  3557.0
3    行政部   22   78780  3580.909091  3566.0
4  设计研发部    7   25522  3646.000000  3816.0
5    财务部   21   96841  4611.476190  4572.0
6    采购部    2    7964  3982.000000  3982.0

In [56]:
result_bumen.append([''*5])

C:\Users\redda\AppData\Local\Temp\ipykernel_21188\2981084144.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_bumen.append([''*5])

      部门     人数     总工资         平均工资   中位数工资    0
0    生产部  188.0  847048  4505.574468  4423.5  NaN
1  统计质检部   11.0   37002  3363.818182  3081.0  NaN
2    营销部   21.0   77601  3695.285714  3557.0  NaN
3    行政部   22.0   78780  3580.909091  3566.0  NaN
4  设计研发部    7.0   25522  3646.000000  3816.0  NaN
5    财务部   21.0   96841  4611.476190  4572.0  NaN
6    采购部    2.0    7964  3982.000000  3982.0  NaN
0    NaN    NaN     NaN          NaN     NaN

In [60]:
def median(data):
    data.sort()
    half = len(data) // 2
    return (data[half] + data[~half])/2
lst = df_total1['实发数'].to_list()
median = median(lst)
median

4203.0

In [61]:
def huizhong(df):
    renshu =  df['人数'].sum()
    total = df['总工资'].sum()
    mean = round(total/renshu,2)
    return renshu,total,mean

renshu,total,mean = huizhong(result_bumen)
lst = ['合计',renshu,total,mean,median]
result_bumen.iloc[-1] = lst
result_bumen

      部门   人数      总工资         平均工资   中位数工资
0    生产部  188   847048  4505.574468  4423.5
1  统计质检部   11    37002  3363.818182  3081.0
2    营销部   21    77601  3695.285714  3557.0
3    行政部   22    78780  3580.909091  3566.0
4  设计研发部    7    25522  3646.000000  3816.0
5    财务部   21    96841  4611.476190  4572.0
6     合计  812  3496346  4305.840000  4203.0