In [1]:
#作业# 按 x 列分组，加每组加一行汇总，如图
import pandas as pd
from io import StringIO

data = '''
x y z
a e 3
a f 4
b g 5
'''

df = pd.read_csv(StringIO(data), sep=' ')
df

   x  y  z
0  a  e  3
1  a  f  4
2  b  g  5

In [2]:
df1 = df.copy()

In [3]:
def sumGroupy(df):
    data = []
    gp = df.groupby('x',sort = False)
    for index,total in gp:
        ser = [index,'total',total.z.sum()]
        data.append(ser)
    return pd.DataFrame(data,columns = df.columns)

In [4]:
df1

   x  y  z
0  a  e  3
1  a  f  4
2  b  g  5

In [5]:
df2 = sumGroupy(df1)
df2

   x      y  z
0  a  total  7
1  b  total  5

In [7]:

df1_df2 = pd.concat([df1,df2])
result = df1_df2.sort_values('x')
result

   x      y  z
0  a      e  3
1  a      f  4
0  a  total  7
2  b      g  5
1  b  total  5