In [1]:
import pandas as pd

In [3]:
df = pd.read_clipboard()
df

   姓名  城市
0  张三  成都
1  李四  杭州
2  王五  成都
3  赵六  深圳

In [11]:
(
 df.groupby('城市',as_index = False)
    .agg(姓名 = ('姓名',','.join),人数 = ('姓名','size'))
)

   城市     姓名  人数
0  成都  张三,王五   2
1  杭州     李四   1
2  深圳     赵六   1