In [3]:
import pandas as pd
import re

file = 'pandas正则分列示例.xlsx'
df = pd.read_excel(file)
df2 = df['车型名称'].map(lambda x: re.sub('[A-Z0-9. ]+', ',', x)).str.split(',', expand=True)
df = pd.concat([df, df2], axis=1)
df.columns = ['车型名称', '品牌', '车型']
print(df)

                      车型名称    品牌      车型
0        东风标致DC7166A 206轿车  东风标致      轿车
1          大众FV7160BBMGG轿车    大众      轿车
2          大众FV7160BBMGG轿车    大众      轿车
3          大众FV7160BBMGG轿车    大众      轿车
4          大众FV7160BBMGG轿车    大众      轿车
5          大众FV7160BBMGG轿车    大众      轿车
6          大众FV7160BBMGG轿车    大众      轿车
7          大众FV7160BBMGG轿车    大众      轿车
8          大众FV7160BBMGG轿车    大众      轿车
9          大众FV7160BBMGG轿车    大众      轿车
10         大众FV7160BBMGG轿车    大众      轿车
11         大众FV7160BBMGG轿车    大众      轿车
12           颐达DFL7160AA轿车    颐达      轿车
13  精灵SMART FORTWO COUPE轿车    精灵      轿车
14      雷克萨斯LEXUS RX270越野车  雷克萨斯     越野车
15      自由客PATRIOT 2.4L越野车   自由客     越野车
16        思域DHW7153FCCSE轿车    思域      轿车
17      雷克萨斯LEXUS RX270越野车  雷克萨斯     越野车
18      丰田GTM7180HEV混合动力轿车    丰田  混合动力轿车
19         别克SGM7152DAAB轿车    别克      轿车
20        炫威DHW7151RUCSE轿车    炫威      轿车
21     东风LZ6440XQ18M多用途乘用车    东风  多用途乘用车
22        本田GHA7155DBC5A轿车    本田      轿车

In [4]:
df2 = df['车型名称'].map(lambda x: re.sub('[A-Z0-9. ]+', ',', x)).str.split(',', expand=True)
df2

       0       1
0   东风标致      轿车
1     大众      轿车
2     大众      轿车
3     大众      轿车
4     大众      轿车
5     大众      轿车
6     大众      轿车
7     大众      轿车
8     大众      轿车
9     大众      轿车
10    大众      轿车
11    大众      轿车
12    颐达      轿车
13    精灵      轿车
14  雷克萨斯     越野车
15   自由客     越野车
16    思域      轿车
17  雷克萨斯     越野车
18    丰田  混合动力轿车
19    别克      轿车
20    炫威      轿车
21    东风  多用途乘用车
22    本田      轿车