In [1]:
import pandas as pd

In [2]:
df = pd.read_clipboard()
df

   用户实付金额(元)  商家实收金额(元)             快递单号  快递公司
0       7.40       7.84  YT8706037955391  圆通快递
1       7.39       7.83  YT8706037955391  圆通快递
2       7.85       7.85  YT8706037946250  圆通快递
3       8.62       9.57  YT8706037936820  圆通快递

In [3]:
df1 = df.copy()
total = df1.sum()
total.快递公司 = '合计'
total.快递单号 = ''
total

用户实付金额(元)    31.26
商家实收金额(元)    33.09
快递单号
快递公司            合计
dtype: object

In [4]:
#方法一
df_total1 = pd.concat([df1,pd.DataFrame(total).T])
df_total1

  用户实付金额(元) 商家实收金额(元)             快递单号  快递公司
0       7.4      7.84  YT8706037955391  圆通快递
1      7.39      7.83  YT8706037955391  圆通快递
2      7.85      7.85  YT8706037946250  圆通快递
3      8.62      9.57  YT8706037936820  圆通快递
0     31.26     33.09                     合计

In [5]:
#方法二
df_total2 = pd.concat([df1,total.to_frame().T])
df_total2

  用户实付金额(元) 商家实收金额(元)             快递单号  快递公司
0       7.4      7.84  YT8706037955391  圆通快递
1      7.39      7.83  YT8706037955391  圆通快递
2      7.85      7.85  YT8706037946250  圆通快递
3      8.62      9.57  YT8706037936820  圆通快递
0     31.26     33.09                     合计

In [29]:
#方法三
df_total5 = pd.concat([df1,df1.sum().rename('合计').to_frame().T])
df_total5

,用户实付金额(元),商家实收金额(元),快递单号,快递公司
0,7.4,7.84,YT8706037955391,圆通快递
1,7.39,7.83,YT8706037955391,圆通快递
2,7.85,7.85,YT8706037946250,圆通快递
3,8.62,9.57,YT8706037936820,圆通快递
合计,31.26,33.09,YT8706037955391YT8706037955391YT8706037946250Y...,圆通快递圆通快递圆通快递圆通快递

In [6]:
#方法四
dic = dict(total)
dic.update({'快递公司':'小计'})
df_total3 = pd.concat([df1,pd.DataFrame.from_dict(dic,orient = 'index').T])
df_total3

  用户实付金额(元) 商家实收金额(元)             快递单号  快递公司
0       7.4      7.84  YT8706037955391  圆通快递
1      7.39      7.83  YT8706037955391  圆通快递
2      7.85      7.85  YT8706037946250  圆通快递
3      8.62      9.57  YT8706037936820  圆通快递
0     31.26     33.09                     小计

In [8]:
df1.dtypes

用户实付金额(元)    float64
商家实收金额(元)    float64
快递单号          object
快递公司          object
dtype: object

In [9]:
dic = dict(df1.dtypes)
dic

{'用户实付金额(元)': dtype('float64'),
 '商家实收金额(元)': dtype('float64'),
 '快递单号': dtype('O'),
 '快递公司': dtype('O')}

In [16]:
for column in df1:
    print(type(df1[column]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [17]:
dic['用户实付金额(元)']

dtype('float64')

In [20]:
df_type = pd.DataFrame.from_dict(dic,orient = 'index').T
df_type

  用户实付金额(元) 商家实收金额(元)    快递单号    快递公司
0   float64   float64  object  object

In [25]:
#方法五
df2 = df1.copy()
df2.loc['合计'] = df2.sum()
df2.loc['合计','快递公司'] = ''
df2.loc['合计','快递单号'] = ''
df2

    用户实付金额(元)  商家实收金额(元)             快递单号  快递公司
0        7.40       7.84  YT8706037955391  圆通快递
1        7.39       7.83  YT8706037955391  圆通快递
2        7.85       7.85  YT8706037946250  圆通快递
3        8.62       9.57  YT8706037936820  圆通快递
合计      31.26      33.09

In [ ]:
import numpy as np
np.random.seed(999)
df = pd.DataFrame(np.random)

In [30]:
pd.options.display.precision

6

In [36]:
pd.options?

Type:        DictWrapper
String form: <pandas._config.config.DictWrapper object at 0x0000000008C17D10>
File:        c:\users\redda\.conda\envs\py311\lib\site-packages\pandas\_config\config.py
Docstring:   provide attribute-style access to a nested dict

In [39]:
help(str.isdecimal)

Help on method_descriptor:

isdecimal(self, /)
    Return True if the string is a decimal string, False otherwise.

    A string is a decimal string if all characters in the string are decimal and
    there is at least one character in the string.