In [1]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_clipboard()
df

     A       B     C
0  NaN  123846   123
1  5.0  123972  3972
2  NaN  347209  7209

In [26]:
df['A'].where(~df['A'].isna(),df[['B','C']].max(axis = 1),inplace = True,)

In [27]:
df

          A       B     C
0  123846.0  123846   123
1       5.0  123972  3972
2  347209.0  347209  7209

In [30]:
def replace_missing(series):
    if np.isnan(series['A']):   #isnan(这列中的数据必须是数值)
        series['A'] = max(series['B'],series['C'])
    return series
df = df.apply(replace_missing,axis = 1)
df

          A         B       C
0  123846.0  123846.0   123.0
1       5.0  123972.0  3972.0
2  347209.0  347209.0  7209.0