In [1]:
import pandas as pd

In [4]:
df = pd.read_clipboard()
df

    一级科目  二级科目 三级科目  求和项：销售额
0    士多店     A   A1       30
1    士多店     A   A2       20
2    士多店  A 汇总  NaN       50
3    士多店     B   B1       10
4    士多店     B   B2        5
5    士多店  B 汇总  NaN       15
6    士多店     C   C1       50
7    士多店     C   C2       40
8    士多店  C 汇总  NaN       90
9  士多店汇总   NaN  NaN      155

In [15]:
(
    df.assign(tag = df.二级科目.str.split().str.get(0).map({'C':'90','A':'50','B':'15'}))
             .set_index('tag')
             .sort_index(ascending = False)
)

      一级科目  二级科目 三级科目  求和项：销售额
tag
90     士多店     C   C1       50
90     士多店     C   C2       40
90     士多店  C 汇总  NaN       90
50     士多店     A   A1       30
50     士多店     A   A2       20
50     士多店  A 汇总  NaN       50
15     士多店     B   B1       10
15     士多店     B   B2        5
15     士多店  B 汇总  NaN       15
NaN  士多店汇总   NaN  NaN      155