In [3]:
'''
1. 将拼多多收入与订单合并
2. 对收入分别按订单汇总、按存货编码汇总
'''

import easygui
import os
import pandas as pd
import re
import numpy as np

In [5]:
#所有订单
fname_dingdan = r"F:\a00nutstore\008\zw08\电商\拼多多\100306881orders_export2024-09-30-16-58-49.csv"
df_dingdan0 = pd.read_csv(fname_dingdan)
df_dingdan0

,商品,订单号,订单状态,商品数量(件),是否审核中,支付时间,承诺发货时间,承诺送达时间,发货时间,确认收货时间,...,预约配送时间,是否节能补贴,是否分期,分期期数,手续费承担方,是否无痕发货,订单来源,是否社区团购,小区送达情况,分期方式
0,500页加厚英语定位练习纸本英语定位纸英文专用纸小学初中高中,240929-658935703962749,已发货，待收货,1,正常,2024/9/29 23:49,2024/10/1 23:49,NaN,2024/9/30 11:14,\t,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
1,500页加厚英语定位练习纸本英语定位纸英文专用纸小学初中高中,240929-379762829722749,已发货，待收货,1,正常,2024/9/29 23:49,2024/10/1 23:49,NaN,2024/9/30 11:14,\t,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
2,莱特5本加厚200页B5学生笔记本办公记事本白领工作记录本子笔记本,240929-211738969641353,已发货，待收货,1,正常,2024/9/29 23:44,2024/10/1 23:44,NaN,2024/9/30 11:14,\t,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
3,莱特5本加厚200页B5学生笔记本办公记事本白领工作记录本子笔记本,240929-611277893212149,已发货，待收货,1,正常,2024/9/29 23:37,2024/10/1 23:37,NaN,2024/9/30 11:14,\t,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
4,莱特5本加厚200页B5学生笔记本办公记事本白领工作记录本子笔记本,240929-080425849263824,未发货，退款成功,1,正常,2024/9/29 23:34,2024/10/1 23:34,NaN,\t,\t,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41135,16K大号加厚牛皮作业本学校统一学生语文本数学本初中英语作文本,240702-510289580363661,已收货,1,正常,2024/7/2 6:59,2024/7/4 6:59,NaN,2024/7/2 8:15,2024/7/12 8:15,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
41136,16K大号加厚牛皮作业本学校统一学生语文本数学本初中英语作文本,240702-287404224311832,已收货,1,正常,2024/7/2 6:42,2024/7/4 6:42,NaN,2024/7/2 8:15,2024/7/7 10:47,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
41137,16K大号加厚牛皮作业本学校统一学生语文本数学本初中英语作文本,240702-631777533741211,已收货,1,正常,2024/7/2 6:17,2024/7/4 6:17,NaN,2024/7/2 8:15,2024/7/12 8:15,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
41138,莱特5本加厚200页B5学生笔记本办公记事本白领工作记录本子笔记本,240702-322510569881909,已收货,1,正常,2024/7/2 1:01,2024/7/4 1:01,NaN,2024/7/2 8:15,2024/7/12 8:15,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN
41139,莱特5本加厚200页B5学生笔记本办公记事本白领工作记录本子笔记本,240702-241854082650868,已收货,1,正常,2024/7/2 0:54,2024/7/4 0:54,NaN,2024/7/2 8:15,2024/7/5 19:16,...,\t,否,否,NaN,\t,否,\t,否,NaN,NaN

In [7]:
df_dingdan1 = df_dingdan0.copy()
df_dingdan1.columns = ['dingdanhao','riqi','code','jiner','shuliang']
df_dingdan1[df_dingdan1['dingdanhao'].isnull()]
df_dingdan2 = df_dingdan1.set_index('dingdanhao')

ValueError: Length mismatch: Expected axis has 82 elements, new values have 5 elements

In [ ]:
#所有收入
fname_shouru = r"F:\a00nutstore\008\zw08\电商\拼多多\pdd-mall-bill-detail(100306881)_2024-09-30-07-09-49_3.csv"
df_shouru0 = pd.read_csv(fname_shouru,header =4,encoding = 'gb18030')
df_shouru0

In [ ]:
df_shouru1 = df_shouru0.dropna(thresh = 3)
df_shouru1

In [ ]:
string = '2024-09-28售后补偿现金券扣款（订单240923-652476454442206）'
regax = r'（订单(?P<dingdanhao>\d{6}-\d{15})）'
pattern = re.compile(regax)
mat = pattern.search(string)
if mat :
    dingdanhao = mat.group('dingdanhao')
else :
    pass

In [ ]:
def getDingdanhao(s):
    mat = pattern.search(string)
    if mat :
        s = mat.group('dingdanhao')
    else :
        s = ''
    return s

In [ ]:
df_shouru1['商户订单号']= df_shouru1['商户订单号'].mask(df_shouru1['商户订单号'].isnull(),df_shouru1['备注'].map(getDingdanhao))
df_shouru1

In [ ]:
df_shouru1.columns = ['dingdanhao', 'riqi', 'ru', 'chu', 'leixing', 'beizhu', 'miaoshu']

In [ ]:
df_shouru2 = df_shouru1.loc[df_shouru1.leixing != '提现']
df_shouru2

In [ ]:
df_shouru2 = df_shouru2.assign(shouru = df_shouru2['ru'] - df_shouru2['chu'])

In [ ]:
shouru_pivot =df_shouru2.pivot_table(index = 'dingdanhao',values =['ru','chu','shouru'],aggfunc = np.sum)
shouru_pivot

In [ ]:
df_dingdan2

In [ ]:
result0 =pd.merge(shouru_pivot,df_dingdan2,left_index = True,right_index = True,how = 'outer')
result0

In [ ]:
result0.to_excel('分配前outer-2.xlsx')

In [ ]:
df_dingdan2.to_excel('订单号.xlsx')

In [8]:
left = pd.read_clipboard()
left

  dingdanhao  shouru
0        a01      10
1        a02      20

In [13]:
right = pd.read_clipboard()
right

  dingdanhao   code  jiner
0        a01  N0284      1
1        a01  N0285      4
2        a02  N0286      3
3        a02  N0287      8
4        a02  N0288      9

In [14]:
test_result = pd.merge(left = left,right = right,how = 'outer')
test_result

  dingdanhao  shouru   code  jiner
0        a01      10  N0284      1
1        a01      10  N0285      4
2        a02      20  N0286      3
3        a02      20  N0287      8
4        a02      20  N0288      9

In [ ]:
test_result = pd.merge(right = right,left = left,how = 'outer')
test_result

In [17]:
test_result['result_jiner'] = 0
test_result

  dingdanhao  shouru   code  jiner  result_jiner
0        a01      10  N0284      1             0
1        a01      10  N0285      4             0
2        a02      20  N0286      3             0
3        a02      20  N0287      8             0
4        a02      20  N0288      9             0

In [ ]:
df_dingdan2.to_excel('订单号2.xlsx')

In [18]:
gp = test_result.groupby('dingdanhao')
gp

In [29]:
#将订单总金额按各产品的明细销售额进行分配
data = []
for k,v in gp:
    print(k,v)
    mean = v.shouru.mean()
    total = v['jiner'].sum()
    print('mean',mean)
    print('total',total)
    v['result_jiner'] = mean/total*(v.jiner)
    data.append(v)

a01   dingdanhao  shouru   code  jiner  result_jiner
0        a01      10  N0284      1             0
1        a01      10  N0285      4             0
mean 10.0
total 5
a02   dingdanhao  shouru   code  jiner  result_jiner
2        a02      20  N0286      3             0
3        a02      20  N0287      8             0
4        a02      20  N0288      9             0
mean 20.0
total 20

In [30]:
result1 = pd.concat(data)
result1

  dingdanhao  shouru   code  jiner  result_jiner
0        a01      10  N0284      1           2.0
1        a01      10  N0285      4           8.0
2        a02      20  N0286      3           3.0
3        a02      20  N0287      8           8.0
4        a02      20  N0288      9           9.0