In [1]:
import pandas as pd
import datetime
import numpy as np

In [3]:
december = pd.Series(pd.date_range('20121201',periods = 4))
december

0   2012-12-01
1   2012-12-02
2   2012-12-03
3   2012-12-04
dtype: datetime64[ns]

In [6]:
january = pd.Series(pd.date_range('20130101',periods = 4))
january

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

In [7]:
td = january - december
td

0   31 days
1   31 days
2   31 days
3   31 days
dtype: timedelta64[ns]

In [8]:
td[2]

Timedelta('31 days 00:00:00')

In [10]:
td[2] += datetime.timedelta(days = 320,hours = 23,minutes = 5,seconds =3)
td[2]

Timedelta('351 days 23:05:03')

In [11]:
td[3] = np.nan
td[3]

NaT

In [15]:
td

0    31 days 00:00:00
1    31 days 00:00:00
2   351 days 23:05:03
3                 NaT
dtype: timedelta64[ns]

In [17]:
td1 = td/np.timedelta64(1,'D')
td1

0     31.00000
1     31.00000
2    351.96184
3          NaN
dtype: float64

In [19]:
td2 = td.astype('timedelta64[D]')
td2

0     31.0
1     31.0
2    351.0
3      NaN
dtype: float64

In [3]:
rng = pd.date_range('1/1/2020',periods = 100,freq  = 'Min')
rng

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 00:01:00',
               '2020-01-01 00:02:00', '2020-01-01 00:03:00',
               '2020-01-01 00:04:00', '2020-01-01 00:05:00',
               '2020-01-01 00:06:00', '2020-01-01 00:07:00',
               '2020-01-01 00:08:00', '2020-01-01 00:09:00',
               '2020-01-01 00:10:00', '2020-01-01 00:11:00',
               '2020-01-01 00:12:00', '2020-01-01 00:13:00',
               '2020-01-01 00:14:00', '2020-01-01 00:15:00',
               '2020-01-01 00:16:00', '2020-01-01 00:17:00',
               '2020-01-01 00:18:00', '2020-01-01 00:19:00',
               '2020-01-01 00:20:00', '2020-01-01 00:21:00',
               '2020-01-01 00:22:00', '2020-01-01 00:23:00',
               '2020-01-01 00:24:00', '2020-01-01 00:25:00',
               '2020-01-01 00:26:00', '2020-01-01 00:27:00',
               '2020-01-01 00:28:00', '2020-01-01 00:29:00',
               '2020-01-01 00:30:00', '2020-01-01 00:31:00',
               '2020-01-01 00:32:00', '2020-01-01 00:33:00',
               '2020-01-01 00:34:00', '2020-01-01 00:35:00',
               '2020-01-01 00:36:00', '2020-01-01 00:37:00',
               '2020-01-01 00:38:00', '2020-01-01 00:39:00',
               '2020-01-01 00:40:00', '2020-01-01 00:41:00',
               '2020-01-01 00:42:00', '2020-01-01 00:43:00',
               '2020-01-01 00:44:00', '2020-01-01 00:45:00',
               '2020-01-01 00:46:00', '2020-01-01 00:47:00',
               '2020-01-01 00:48:00', '2020-01-01 00:49:00',
               '2020-01-01 00:50:00', '2020-01-01 00:51:00',
               '2020-01-01 00:52:00', '2020-01-01 00:53:00',
               '2020-01-01 00:54:00', '2020-01-01 00:55:00',
               '2020-01-01 00:56:00', '2020-01-01 00:57:00',
               '2020-01-01 00:58:00', '2020-01-01 00:59:00',
               '2020-01-01 01:00:00', '2020-01-01 01:01:00',
               '2020-01-01 01:02:00', '2020-01-01 01:03:00',
               '2020-01-01 01:04:00', '2020-01-01 01:05:00',
               '2020-01-01 01:06:00', '2020-01-01 01:07:00',
               '2020-01-01 01:08:00', '2020-01-01 01:09:00',
               '2020-01-01 01:10:00', '2020-01-01 01:11:00',
               '2020-01-01 01:12:00', '2020-01-01 01:13:00',
               '2020-01-01 01:14:00', '2020-01-01 01:15:00',
               '2020-01-01 01:16:00', '2020-01-01 01:17:00',
               '2020-01-01 01:18:00', '2020-01-01 01:19:00',
               '2020-01-01 01:20:00', '2020-01-01 01:21:00',
               '2020-01-01 01:22:00', '2020-01-01 01:23:00',
               '2020-01-01 01:24:00', '2020-01-01 01:25:00',
               '2020-01-01 01:26:00', '2020-01-01 01:27:00',
               '2020-01-01 01:28:00', '2020-01-01 01:29:00',
               '2020-01-01 01:30:00', '2020-01-01 01:31:00',
               '2020-01-01 01:32:00', '2020-01-01 01:33:00',
               '2020-01-01 01:34:00', '2020-01-01 01:35:00',
               '2020-01-01 01:36:00', '2020-01-01 01:37:00',
               '2020-01-01 01:38:00', '2020-01-01 01:39:00'],
              dtype='datetime64[ns]', freq='T')

In [11]:
ts = pd.Series(np.random.randint(0,500,len(rng)),index = rng)
ts.head(30)

2020-01-01 00:00:00    105
2020-01-01 00:01:00    259
2020-01-01 00:02:00    438
2020-01-01 00:03:00    249
2020-01-01 00:04:00    389
2020-01-01 00:05:00    208
2020-01-01 00:06:00    105
2020-01-01 00:07:00     40
2020-01-01 00:08:00    354
2020-01-01 00:09:00    209
2020-01-01 00:10:00    201
2020-01-01 00:11:00    191
2020-01-01 00:12:00    212
2020-01-01 00:13:00    456
2020-01-01 00:14:00    317
2020-01-01 00:15:00    177
2020-01-01 00:16:00    320
2020-01-01 00:17:00    261
2020-01-01 00:18:00    252
2020-01-01 00:19:00     85
2020-01-01 00:20:00    114
2020-01-01 00:21:00    333
2020-01-01 00:22:00    368
2020-01-01 00:23:00    285
2020-01-01 00:24:00      8
2020-01-01 00:25:00    204
2020-01-01 00:26:00    100
2020-01-01 00:27:00    358
2020-01-01 00:28:00    192
2020-01-01 00:29:00    394
Freq: T, dtype: int32

In [12]:
rs = ts.resample('5Min')
rs

In [13]:
rs.asfreq()

2020-01-01 00:00:00    105
2020-01-01 00:05:00    208
2020-01-01 00:10:00    201
2020-01-01 00:15:00    177
2020-01-01 00:20:00    114
2020-01-01 00:25:00    204
2020-01-01 00:30:00    361
2020-01-01 00:35:00    122
2020-01-01 00:40:00    471
2020-01-01 00:45:00    359
2020-01-01 00:50:00     42
2020-01-01 00:55:00      0
2020-01-01 01:00:00     29
2020-01-01 01:05:00     35
2020-01-01 01:10:00    184
2020-01-01 01:15:00    401
2020-01-01 01:20:00    399
2020-01-01 01:25:00    436
2020-01-01 01:30:00    290
2020-01-01 01:35:00    256
Freq: 5T, dtype: int32