In [1]:
import pandas as pd

In [21]:
df = pd.read_clipboard()

In [22]:
df

              品名
"1101          "
"1103          "
"1105          "
"1120          "
"1601          "
...          ...
SMA440S-侧翻  None
补款          None
8888        None
8888-折扣     None
总计          None

[222 rows x 1 columns]

In [11]:
df = df.astype({名`':str})

In [12]:
df.dtypes

品名    object
dtype: object

In [16]:
df['品名'] = df['品名'].str.strip()

In [19]:
df.to_excel('qukong.xlsx',index = False)

In [23]:
df['品名'].str.len()

"1101         1.0
"1103         1.0
"1105         1.0
"1120         1.0
"1601         1.0
             ...
SMA440S-侧翻    NaN
补款            NaN
8888          NaN
8888-折扣       NaN
总计            NaN
Name: 品名, Length: 222, dtype: float64

In [20]:
df

              品名
"1101          "
"1103          "
"1105          "
"1120          "
"1601          "
...          ...
SMA440S-侧翻  None
补款          None
8888        None
8888-折扣     None
总计          None

[222 rows x 1 columns]