In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame({'qichu_ben':[100,200,-300],'qichu_jian':[2,4,-2],'benqi_ben':[200,-200,300],'benqi_jian':[4,4,6]})
df

   qichu_ben  qichu_jian  benqi_ben  benqi_jian
0        100           2        200           4
1        200           4       -200           4
2       -300          -2        300           6

In [14]:
df['content'] = (df.qichu_ben + df.benqi_ben)/(df.qichu_jian + df.benqi_jian)

In [15]:
df

   qichu_ben  qichu_jian  benqi_ben  benqi_jian  content
0        100           2        200           4     50.0
1        200           4       -200           4      0.0
2       -300          -2        300           6      0.0

In [27]:
def getContent(df):
    if ((df.qichu_ben + df.benqi_ben) != 0).any(1):
        df['content'] = (df.qichu_ben + df.benqi_ben)/(df.qichu_jian + df.benqi_jian)
    elif (df.qichu_ben > 0).any(1):
        df['content'] = df.qichu_ben/df.qichu_jian 
    else:
        df['content'] = df.benqi_ben/df.benqi_jian
    return df

In [25]:
df = getContent(df)
df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
if (df.qichu_ben + df.benqi_ben) != 0:
    df['content'] = (df.qichu_ben + df.benqi_ben)/(df.qichu_jian + df.benqi_jian)
elif df.qichu_ben > 0:
    df['content'] = df.qichu_ben/df.qichu_jian 
else:
    df['content'] = df.benqi_ben/df.benqi_jian

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
import numpy as np
df['content'] = np.where((df.qichu_ben + df.benqi_ben) != 0, \
                         (df.qichu_ben + df.benqi_ben)/(df.qichu_jian + df.benqi_jian),\
                         np.where(df.qichu_ben > 0,df.qichu_ben/df.qichu_jian,df.benqi_ben/df.benqi_jian))

In [35]:
df

   qichu_ben  qichu_jian  benqi_ben  benqi_jian  content
0        100           2        200           4     50.0
1        200           4       -200           4     50.0
2       -300          -2        300           6     50.0