In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('表头测试.xlsx',header = [0,1])
df

                    时间                播放量    销量
    Unnamed: 0_level_1 Unnamed: 1_level_1   数据1   数据2
0  2023-06-03 10:00:00               3567  3567  3567
1  2023-06-03 11:00:00                144   144   144
2  2023-06-03 12:00:00                 59    59    59

In [3]:
_ = df.columns.map(lambda x: ''.join('' if 'Unnamed' in i else i for i in x))
df.columns = _
df

                    时间   播放量  销量数据1  销量数据2
0  2023-06-03 10:00:00  3567   3567   3567
1  2023-06-03 11:00:00   144    144    144
2  2023-06-03 12:00:00    59     59     59

In [7]:
df.columns

MultiIndex([( '时间', 'Unnamed: 0_level_1'),
            ('播放量', 'Unnamed: 1_level_1'),
            ( '销量',                '数据1'),
            ( '销量',                '数据2')],
           )

In [5]:
def func(ser):
    new = []
    for m,n in ser:
        if  'Unnamed' in n: 
            x = m + ''
        else :
            x = m + n
        new.append(x)
    return new

In [ ]:
_ = func(df.columns)
df.columns = _
df

In [12]:
new = []
for m,n in zip(df.columns.get_level_values(0),df.columns.get_level_values(1)):
    if  'Unnamed' in n: 
            x = m + ''
    else :
        x = m + n 
    new.append(x)
print(new)

['时间', '播放量', '销量数据1', '销量数据2']

In [13]:
df.columns = new
df

                    时间   播放量  销量数据1  销量数据2
0  2023-06-03 10:00:00  3567   3567   3567
1  2023-06-03 11:00:00   144    144    144
2  2023-06-03 12:00:00    59     59     59

In [14]:
df = pd.read_excel('表头测试.xlsx')
df

                    时间     播放量    销量 Unnamed: 3
0                  NaN     NaN   数据1        数据2
1  2023-06-03 10:00:00  3567.0  3567       3567
2  2023-06-03 11:00:00   144.0   144        144
3  2023-06-03 12:00:00    59.0    59         59