In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data = [["基金A","基金B","基金C"],\
                          [1,0,7],[6,3,0],[7,8,9]],\
                  index=["基金名称","电子","传媒","计算机"])
df

        0    1    2
基金名称  基金A  基金B  基金C
电子      1    0    7
传媒      6    3    0
计算机     7    8    9

In [3]:
df = df.T
df

  基金名称 电子 传媒 计算机
0  基金A  1  6   7
1  基金B  0  3   8
2  基金C  7  0   9

In [10]:
col = (
       df.set_index('基金名称')
       .apply(lambda x:x.sort_values(ascending = False).to_dict(),axis = 1)
       .map(lambda x:[f'{k}({v})' for k,v in x.items() if v>0])
       .map('、'.join)
)
col

基金名称
基金A    计算机(7)、传媒(6)、电子(1)
基金B          计算机(8)、传媒(3)
基金C          计算机(9)、电子(7)
dtype: object

In [12]:
df.assign(行业分布 = col.array)

  基金名称 电子 传媒 计算机                行业分布
0  基金A  1  6   7  计算机(7)、传媒(6)、电子(1)
1  基金B  0  3   8        计算机(8)、传媒(3)
2  基金C  7  0   9        计算机(9)、电子(7)