In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'x':list("ABACB"),
                   'y':[1,2,1,2,3]})
df

   x  y
0  A  1
1  B  2
2  A  1
3  C  2
4  B  3

In [15]:
(
  df.astype(str)
    .groupby('x')  
    .apply(lambda g:  ','.join(g.y),include_groups = False)
    .to_frame('y')
    .reset_index()
)

   x    y
0  A  1,1
1  B  2,3
2  C    2

In [19]:
(
  df.astype(str)
    .groupby('x')  
    .agg(lambda s:  ','.join(s))
    .reset_index()

)

   x    y
0  A  1,1
1  B  2,3
2  C    2

In [23]:
#获取每组数据数
(
  df.groupby('x')  
    .agg(len)
    .y
    .to_dict()

)

{'A': 2, 'B': 2, 'C': 1}