In [2]:
import pandas as pd

df = pd.read_clipboard()
df.head()
'''
节日 开始日期 结束日期
0 元旦 2020-01-01 2020-01-01
1 除夕 2020-01-24 2020-01-24
2 清明节 2020-04-04 2020-04-04
3 劳动节 2020-05-01 2020-05-01
4 端午节 2020-06-25 2020-06-25
'''
df

    节日        开始日期        结束日期
0   元旦  2020-01-01  2020-01-01
1   除夕  2020-01-24  2020-01-24
2  清明节  2020-04-04  2020-04-04
3  劳动节  2020-05-01  2020-05-01
4  端午节  2020-06-25  2020-06-25
5  国庆节  2020-10-01  2020-10-01

In [17]:
sql = ''
for i,r in df.iterrows():
    
    r_sql = f"INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)\
    VALUES ('{r['节日']}','{r['结束日期'][:4]}','{r['开始日期']}', '{r['结束日期']}');"
#     print(r_sql)

    sql = sql + r_sql + '\n'
print(sql)

INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('元旦','2020','2020-01-01', '2020-01-01');
INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('除夕','2020','2020-01-24', '2020-01-24');
INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('清明节','2020','2020-04-04', '2020-04-04');
INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('劳动节','2020','2020-05-01', '2020-05-01');
INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('端午节','2020','2020-06-25', '2020-06-25');
INSERT INTO `holiday` (`holiday`, `year`, `start_date`, `end_date`)    VALUES ('国庆节','2020','2020-10-01', '2020-10-01');