In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    ('A', '1'): [1, 2, 3],
    ('A', '2'): [4, 5, 6],
    ('B', '1'): [7, 8, 9],
    ('B', '2'): [10, 11, 12]
})

df

   A     B
   1  2  1   2
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12