In [1]:
import pandas as pd
import io

data = '''
工资月份    入职日期
2024-10-31  2022-12-09   
2024-10-31  2016-10-17   
2024-10-31  2022-06-01   
2024-10-31  2024-04-15   
2024-10-31  2022-03-14   
2024-10-31  2018-10-08   
2024-10-31  2023-02-01   
2024-10-31  2020-03-23 
'''

df = pd.read_csv(io.StringIO(data), sep=r'\s+')
df

         工资月份        入职日期
0  2024-10-31  2022-12-09
1  2024-10-31  2016-10-17
2  2024-10-31  2022-06-01
3  2024-10-31  2024-04-15
4  2024-10-31  2022-03-14
5  2024-10-31  2018-10-08
6  2024-10-31  2023-02-01
7  2024-10-31  2020-03-23

In [5]:
#py311运行不了，估计需要升级到PY312
(
    df.astype({'工资月份':'datetime64[ns]'
               ,'入职日期':'datetime64[ns]'})
    .eval('工资月份-入职日期')
    
)

ValueError: unknown type timedelta64[ns]

In [7]:
(
    df.astype({'工资月份': 'datetime64[ns]',
               '入职日期': 'datetime64[ns]'})
    # .eval('工资月份 - 入职日期')
    # 365.25 是平均的一年天数，考虑了平年和闰年
    # .div(pd.Timedelta(days=365.25))
    # .round(2)
)

        工资月份       入职日期
0 2024-10-31 2022-12-09
1 2024-10-31 2016-10-17
2 2024-10-31 2022-06-01
3 2024-10-31 2024-04-15
4 2024-10-31 2022-03-14
5 2024-10-31 2018-10-08
6 2024-10-31 2023-02-01
7 2024-10-31 2020-03-23

In [8]:
df =  df.astype({'工资月份': 'datetime64[ns]',
               '入职日期': 'datetime64[ns]'})
df

        工资月份       入职日期
0 2024-10-31 2022-12-09
1 2024-10-31 2016-10-17
2 2024-10-31 2022-06-01
3 2024-10-31 2024-04-15
4 2024-10-31 2022-03-14
5 2024-10-31 2018-10-08
6 2024-10-31 2023-02-01
7 2024-10-31 2020-03-23

In [9]:
df['工资月份'] - df['入职日期']

0    692 days
1   2936 days
2    883 days
3    199 days
4    962 days
5   2215 days
6    638 days
7   1683 days
dtype: timedelta64[ns]

In [11]:
(df['工资月份'] - df['入职日期']).div(pd.Timedelta(days=365.25)).round(2)

0    1.89
1    8.04
2    2.42
3    0.54
4    2.63
5    6.06
6    1.75
7    4.61
dtype: float64

In [12]:
df1 = df.assign(工龄 = (df['工资月份'] - df['入职日期']).div(pd.Timedelta(days=365.25)).round(2) )
df1

        工资月份       入职日期    工龄
0 2024-10-31 2022-12-09  1.89
1 2024-10-31 2016-10-17  8.04
2 2024-10-31 2022-06-01  2.42
3 2024-10-31 2024-04-15  0.54
4 2024-10-31 2022-03-14  2.63
5 2024-10-31 2018-10-08  6.06
6 2024-10-31 2023-02-01  1.75
7 2024-10-31 2020-03-23  4.61

In [14]:
#错误示例
(df['工资月份'] - df['入职日期']).div(365)

0   1 days 21:30:04.931506849
1   8 days 01:03:07.397260273
2   2 days 10:03:36.986301369
3   0 days 13:05:05.753424657
4   2 days 15:15:17.260273972
5   6 days 01:38:37.808219178
6   1 days 17:57:02.465753424
7   4 days 14:39:46.849315068
dtype: timedelta64[ns]