In [1]:
from io import StringIO
import pandas as pd

In [2]:
data = '''
投票区  vote_code
A选区   S5.S17.S6
B选区       S6.S9
C选区  S21.S5.S17
'''

df = pd.read_csv(StringIO(data), delim_whitespace=True)
df

   投票区   vote_code
0  A选区   S5.S17.S6
1  B选区       S6.S9
2  C选区  S21.S5.S17

In [3]:
(
    df.vote_code
    .str.split('.')
)

0     [S5, S17, S6]
1          [S6, S9]
2    [S21, S5, S17]
Name: vote_code, dtype: object

In [4]:
(
    df.vote_code
    .str.split('.')
    .explode()
)

0     S5
0    S17
0     S6
1     S6
1     S9
2    S21
2     S5
2    S17
Name: vote_code, dtype: object

In [5]:
(
    df.vote_code
    .str.split('.')
    .explode()
    .pipe(pd.get_dummies)
)
'''
   S17  S21  S5  S6  S9
0    0    0   1   0   0
0    1    0   0   0   0
0    0    0   0   1   0
1    0    0   0   1   0
1    0    0   0   0   1
2    0    1   0   0   0
2    0    0   1   0   0
2    1    0   0   0   0
'''

'\n   S17  S21  S5  S6  S9\n0    0    0   1   0   0\n0    1    0   0   0   0\n0    0    0   0   1   0\n1    0    0   0   1   0\n1    0    0   0   0   1\n2    0    1   0   0   0\n2    0    0   1   0   0\n2    1    0   0   0   0\n'

In [6]:
(
    df.vote_code
    .str.split('.')
    .explode()
    .pipe(pd.get_dummies)
    .groupby(level=0).sum()
)

   S17  S21  S5  S6  S9
0    1    0   1   1   0
1    0    0   0   1   1
2    1    1   1   0   0

In [7]:
(
    df.vote_code
    .str.split('.')
    .explode()
    .pipe(pd.get_dummies)
    .groupby(level=0).sum()
    .pipe(df.join)
)

   投票区   vote_code  S17  S21  S5  S6  S9
0  A选区   S5.S17.S6    1    0   1   1   0
1  B选区       S6.S9    0    0   0   1   1
2  C选区  S21.S5.S17    1    1   1   0   0