In [1]:
import pandas as pd

df = pd.DataFrame({
    'a':[0, {'x':3, 'y':1},0],
    'b':[1, {'x':4, 'y':5}, {'x':1, 'y':2}]
})

df

                  a                 b
0                 0                 1
1  {'x': 3, 'y': 1}  {'x': 4, 'y': 5}
2                 0  {'x': 1, 'y': 2}

In [6]:
df.a.map(type)

0     <class 'int'>
1    <class 'dict'>
2     <class 'int'>
Name: a, dtype: object

In [12]:
df.b.map(lambda x: x.values() if isinstance(x,dict) else x)

0         1
1    (4, 5)
2    (1, 2)
Name: b, dtype: object

In [13]:
df.b.map(lambda x: sum(x.values()) if isinstance(x,dict) else x)

0    1
1    9
2    3
Name: b, dtype: int64

In [14]:
df.map(lambda x: sum(x.values()) if isinstance(x,dict) else x)

   a  b
0  0  1
1  4  9
2  0  3

In [15]:
(
    df.map(lambda x: sum(x.values()) if isinstance(x,dict) else x)
    .assign(total = lambda x : x.sum(axis = 1))
    
)

   a  b  total
0  0  1      1
1  4  9     13
2  0  3      3