In [2]:
import pandas as pd
import io

data = '''
       y
      aa
    bc,c
  d,ef,f
 a,bd,cd
    ef,f
      bd
    cd,d
      ff
a,bd,c,d
    ec,f
'''

selects = ['bd', 'cd']

df = pd.read_csv(io.StringIO(data), sep=r'\s+')
df

          y
0        aa
1      bc,c
2    d,ef,f
3   a,bd,cd
4      ef,f
5        bd
6      cd,d
7        ff
8  a,bd,c,d
9      ec,f

In [3]:
df[
    ~df.y.str.split(',')
    .map(lambda x: set(x).isdisjoint(set(selects)) )
]

          y
3   a,bd,cd
5        bd
6      cd,d
8  a,bd,c,d

In [8]:
df.y.str.split(',')

0             [aa]
1          [bc, c]
2       [d, ef, f]
3      [a, bd, cd]
4          [ef, f]
5             [bd]
6          [cd, d]
7             [ff]
8    [a, bd, c, d]
9          [ec, f]
Name: y, dtype: object

In [13]:
df[
    df.y.str.split(',')
    .map(lambda x: set(x).isdisjoint(set(selects)) )
]

        y
0      aa
1    bc,c
2  d,ef,f
4    ef,f
7      ff
9    ec,f

In [5]:
set(selects)

{'bd', 'cd'}

In [6]:
index = (
    df.y.str.split(',')
    .explode()
    .isin(selects)
    .loc[lambda x: x]
    .index
    .unique()
)
# Index([3, 5, 6, 8], dtype='int64')

df.iloc[index]

          y
3   a,bd,cd
5        bd
6      cd,d
8  a,bd,c,d

In [14]:

import excel2img

ModuleNotFoundError: No module named 'excel2img'