In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'x':list('ABACB'),'y':[1,2,1,2,3]})
df

   x  y
0  A  1
1  B  2
2  A  1
3  C  2
4  B  3

In [6]:
(
    df.astype(str)
    .groupby('x')
    .agg(lambda s:','.join(s))
    .reset_index()
)

   x    y
0  A  1,1
1  B  2,3
2  C    2

In [7]:
(
    df.astype(str)
    .groupby('x')
    .apply(lambda g:','.join(g.y))
    .reset_index()
)

C:\Users\redda\AppData\Local\Temp\ipykernel_25468\3358942454.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g:','.join(g.y))

   x    0
0  A  1,1
1  B  2,3
2  C    2

In [8]:
(
    df.groupby('x')
    .agg(len)
    .y
    .to_dict()
)

{'A': 2, 'B': 2, 'C': 1}