In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('001.xlsx')
df.head()

  渠道 产业描述     交货数量      公司间价格             成本            毛利额       毛利率
0  A   食品  2336059  247975.43   27313.596148    8815.899427  0.040173
1  B   食品    65664  399583.93  383300.064970  -29685.967625 -0.083950
2  C   食品   115139  707225.86  470274.527166  155589.065754  0.248599
3  D   食品     1456   81969.60   73168.567088    -629.098061 -0.008672
4  E   食品     5820  191376.80  159042.353046   10317.646954  0.060921

In [3]:
fmt = '{:,.2f}'.format
cols = df.columns[2:6]
cols

Index(['交货数量', '公司间价格', '成本', '毛利额'], dtype='object')

In [5]:
format_dict = {col:fmt for col in cols}
format_dict

{'交货数量': <function str.format>,
 '公司间价格': <function str.format>,
 '成本': <function str.format>,
 '毛利额': <function str.format>}

In [6]:
df.style.format(format_dict)