In [1]:
import pandas as pd
from faker import Faker

In [20]:
class PartyLottery:
    def __init__(self,pool:dict):
        self.pool = pd.DataFrame(pool)
        self.winner = pd.DataFrame()
    
    def draw_lottery(self,level:str,cnt:int):
        if level not in ['一等奖','二等奖','三等奖']:
            raise ValueErrow('Invalid prize level.'
                            'Supported level:'
                            '一等奖,二等奖,三等奖')
        
        # 随机抽取指定数量获奖者
        winner = self.pool.sample(cnt)
        
        #添加到获奖者名单
        self.winner = pd.concat([self.winner,
                               winner.assign(等级=level)] ) 
        self.pool = self.pool.drop(winner.index)

        # 打印获奖信息
        print(f'****** {level} 获奖者 ******')
        print(winner)
        print('\n剩余参与者：')
        print(self.pool,end = '\n\n')

    def show_winner(self):
        # 展示所有获奖者
        print(f'所有获奖者：')
        print(self.winner,end = '\n\n')

In [3]:
# 示例参与者数据
f = Faker('zh-cn')          #中文编码
Faker.seed(4321)            #种子，每次都一样

In [17]:
department = ['财务部','人事部','销售部','技术部','市场部']
count = 10
data = {'姓名':[f.name() for i in range(count)],
        '部门':[f.random.choice(department) for i  in range(count)],
        '工号': [i for i in range(1001,1001 + count)] 
       }
df = pd.DataFrame(data)
df

    姓名   部门    工号
0  刘秀珍  人事部  1001
1  王桂英  技术部  1002
2   沈雷  市场部  1003
3   廖凯  财务部  1004
4   黄杰  人事部  1005
5   陈荣  人事部  1006
6  王秀英  财务部  1007
7   赵婷  人事部  1008
8   俞旭  销售部  1009
9   朱俊  市场部  1010

In [21]:
# 创建抽奖程序实例
party_2025 = PartyLottery(df)

In [22]:
party_2025.draw_lottery('一等奖',1)

****** 一等奖 获奖者 ******
    姓名   部门    工号
0  刘秀珍  人事部  1001

剩余参与者：
    姓名   部门    工号
1  王桂英  技术部  1002
2   沈雷  市场部  1003
3   廖凯  财务部  1004
4   黄杰  人事部  1005
5   陈荣  人事部  1006
6  王秀英  财务部  1007
7   赵婷  人事部  1008
8   俞旭  销售部  1009
9   朱俊  市场部  1010

In [23]:
party_2025.show_winner()

所有获奖者：
    姓名   部门    工号   等级
0  刘秀珍  人事部  1001  一等奖

In [24]:
party_2025.draw_lottery('二等奖',2)

****** 二等奖 获奖者 ******
   姓名   部门    工号
3  廖凯  财务部  1004
4  黄杰  人事部  1005

剩余参与者：
    姓名   部门    工号
1  王桂英  技术部  1002
2   沈雷  市场部  1003
5   陈荣  人事部  1006
6  王秀英  财务部  1007
7   赵婷  人事部  1008
8   俞旭  销售部  1009
9   朱俊  市场部  1010

In [25]:
party_2025.show_winner()

所有获奖者：
    姓名   部门    工号   等级
0  刘秀珍  人事部  1001  一等奖
3   廖凯  财务部  1004  二等奖
4   黄杰  人事部  1005  二等奖

In [26]:
party_2025.draw_lottery('三等奖',2)

****** 三等奖 获奖者 ******
   姓名   部门    工号
7  赵婷  人事部  1008
5  陈荣  人事部  1006

剩余参与者：
    姓名   部门    工号
1  王桂英  技术部  1002
2   沈雷  市场部  1003
6  王秀英  财务部  1007
8   俞旭  销售部  1009
9   朱俊  市场部  1010

In [27]:
party_2025.show_winner()

所有获奖者：
    姓名   部门    工号   等级
0  刘秀珍  人事部  1001  一等奖
3   廖凯  财务部  1004  二等奖
4   黄杰  人事部  1005  二等奖
7   赵婷  人事部  1008  三等奖
5   陈荣  人事部  1006  三等奖

In [28]:
df

    姓名   部门    工号
0  刘秀珍  人事部  1001
1  王桂英  技术部  1002
2   沈雷  市场部  1003
3   廖凯  财务部  1004
4   黄杰  人事部  1005
5   陈荣  人事部  1006
6  王秀英  财务部  1007
7   赵婷  人事部  1008
8   俞旭  销售部  1009
9   朱俊  市场部  1010

In [29]:
df.sample(1)

   姓名   部门    工号
5  陈荣  人事部  1006

In [30]:
df.sample(2)

   姓名   部门    工号
8  俞旭  销售部  1009
2  沈雷  市场部  1003