In [1]:
import pandas as pd
from io import StringIO
import numpy as np

In [2]:
data = '''
数量  币种  单价  收入
2   USD 1   100
4    nan   3   200
3   EUR 5   300
2   nan 8   400
5   CNY 4   500
'''
df = pd.read_csv(StringIO(data), delim_whitespace=1)
df

   数量   币种  单价   收入
0   2  USD   1  100
1   4  NaN   3  200
2   3  EUR   5  300
3   2  NaN   8  400
4   5  CNY   4  500

In [3]:
exchange_rate = {'USD':6.7,'EUR':6.8,'CNY':1,'GBP':8}

In [6]:
df.assign(折算收入 = np.where(df.币种.isin(exchange_rate)
         ,df.币种.map(exchange_rate)*df.数量*df.单价
         ,df.收入))

   数量   币种  单价   收入   折算收入
0   2  USD   1  100   13.4
1   4  NaN   3  200  200.0
2   3  EUR   5  300  102.0
3   2  NaN   8  400  400.0
4   5  CNY   4  500   20.0