In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'class':['a','a','b','b','a','a','b','c','c'],'score':[3,5,6,7,8,9,10,11,14]})
df

  class  score
0     a      3
1     a      5
2     b      6
3     b      7
4     a      8
5     a      9
6     b     10
7     c     11
8     c     14

In [5]:
(
 df.groupby('class',group_keys = False)
    .apply(lambda x:x.tail(len(x)-1))
          )

  class  score
1     a      5
4     a      8
5     a      9
3     b      7
6     b     10
8     c     14