In [1]:
import pandas as pd

In [2]:
t = pd.Timestamp('2023-4-28')
t = t.replace(day = 1)
t

Timestamp('2023-04-01 00:00:00')

In [3]:
index = pd.date_range(start=t,
                      end=(t + pd.offsets.MonthEnd())
                      )
index

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
(
    pd.DataFrame(index.weekday + 1, index=index.date, columns=['weekday'])
    .head(10)
)

            weekday
2023-04-01        6
2023-04-02        7
2023-04-03        1
2023-04-04        2
2023-04-05        3
2023-04-06        4
2023-04-07        5
2023-04-08        6
2023-04-09        7
2023-04-10        1

In [9]:
(
    pd.DataFrame(index.weekday+1, index=index.date, columns=['weekday'])
    .query('weekday==3')
    .tail(1)
    .index[0]
   )

datetime.date(2023, 4, 26)