In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame([{'项目':'A','上年':100,'本年':120}])
df

  项目   上年   本年
0  A  100  120

In [6]:
df.assign(**{'增长率':(df['本年']-df['上年'])/df['上年']}).style.format({'增长率':'{:.2%}'})

In [7]:
df = pd.DataFrame.from_dict({'项目':'A','上年':100,'本年':120},orient = 'index')
df

      0
项目    A
上年  100
本年  120