In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [5, 6, 7], 'b': [3, 5, 8]})
df

   a  b
0  5  3
1  6  5
2  7  8

In [3]:
dfc = df.copy()
dfc['c'] = dfc.a + df.b
dfc

   a  b   c
0  5  3   8
1  6  5  11
2  7  8  15

In [8]:
for i in dfc.itertuples():
    if i.Index != 0:
        dfc.loc[i.Index,'c'] = i.a + dfc.loc[i.Index-1,'c']
dfc

   a  b   c
0  5  3   8
1  6  5  14
2  7  8  21

In [11]:
dfd  = dfc.copy()
for i in dfd.itertuples():
    if i.Index != 0:
        dfd.loc[i.Index,'c'] = i.a + dfd.loc[i.Index-1,'c']
dfd

   a  b   c
0  5  3   8
1  6  5  14
2  7  8  21

In [14]:
import numpy as np
data = np.array([('GOOG', '2009-12-28', 622.87, 1697900.0),
('GOOG', '2009-12-29', 619.40, 1424800.0),
('GOOG', '2009-12-30', 622.73, 1465600.0),
('GOOG', '2009-12-31', 619.98, 1219800.0),
('AAPL', '2009-12-28', 211.61, 23003100.0),
('AAPL', '2009-12-29', 209.10, 15868400.0),
('AAPL', '2009-12-30', 211.64, 14696800.0),
('AAPL', '2009-12-31', 210.73, 12571000.0)],
dtype=[('item', '|S4'), ('date', '|S10'),
('price', '<f8'), ('volume', '<f8')])
data

array([(b'GOOG', b'2009-12-28', 622.87,  1697900.),
       (b'GOOG', b'2009-12-29', 619.4 ,  1424800.),
       (b'GOOG', b'2009-12-30', 622.73,  1465600.),
       (b'GOOG', b'2009-12-31', 619.98,  1219800.),
       (b'AAPL', b'2009-12-28', 211.61, 23003100.),
       (b'AAPL', b'2009-12-29', 209.1 , 15868400.),
       (b'AAPL', b'2009-12-30', 211.64, 14696800.),
       (b'AAPL', b'2009-12-31', 210.73, 12571000.)],
      dtype=[('item', 'S4'), ('date', 'S10'), ('price', '<f8'), ('volume', '<f8')])

In [16]:
data['price']

array([622.87, 619.4 , 622.73, 619.98, 211.61, 209.1 , 211.64, 210.73])