In [1]:
import pandas as pd

In [2]:
data = {'a':['E','A*','B','K'],'b':['*B','2','3','4']}
df = pd.DataFrame(data)
df

    a   b
0   E  *B
1  A*   2
2   B   3
3   K   4

In [3]:
df.isin(['A*','*B']).any(axis = None)

True

In [4]:
df.isin(['A*','*B']).any()

a    True
b    True
dtype: bool

In [5]:
df.isin(['A*','*B']).any(axis = 1)

0     True
1     True
2    False
3    False
dtype: bool