In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"基金":["基金A","基金A","基金B","基金B","基金B","基金A"],
                   "类型":["类型1",'类型1',"类型2","类型3","类型3","类型3"]})
df

    基金   类型
0  基金A  类型1
1  基金A  类型1
2  基金B  类型2
3  基金B  类型3
4  基金B  类型3
5  基金A  类型3

In [3]:
(
    df.groupby(['基金', '类型'])
    .size()
    .unstack()
    .fillna(0).astype(int)
    .replace(0, '')
)

类型  类型1 类型2  类型3
基金
基金A   2        1
基金B       1    2

In [8]:
(
    df.groupby(['基金', '类型'])
    .size()
#     .unstack()
#     .fillna(0).astype(int)
#     .replace(0, '')
)

基金   类型
基金A  类型1    2
     类型3    1
基金B  类型2    1
     类型3    2
dtype: int64