In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('合并单元格数据.xlsx')

In [3]:
df

  Unnamed: 0 列标题 Unnamed: 2 Unnamed: 3
0       行标题一  数值         数值         数值
1        NaN  数值         数值         数值
2       行标题二  数值         数值         数值
3        NaN  数值         数值         数值

In [4]:
df.iloc[:, 0] = df.iloc[:, 0].ffill()
df

  Unnamed: 0 列标题 Unnamed: 2 Unnamed: 3
0       行标题一  数值         数值         数值
1       行标题一  数值         数值         数值
2       行标题二  数值         数值         数值
3       行标题二  数值         数值         数值

In [5]:
cols = (
    pd.Series(df.columns)
    .map(lambda x: pd.NA if 'Unnamed' in x else x)
    .ffill()
    .bfill()
)
cols

0    列标题
1    列标题
2    列标题
3    列标题
dtype: object

In [6]:
df.columns = cols

In [7]:
df

    列标题 列标题 列标题 列标题
0  行标题一  数值  数值  数值
1  行标题一  数值  数值  数值
2  行标题二  数值  数值  数值
3  行标题二  数值  数值  数值