In [16]:
import pandas as pd
import numpy as np

In [38]:
df = pd.DataFrame({'A': [[None, 1], [2, None], [None, 3], [4, 5]]})
df

           A
0  [None, 1]
1  [2, None]
2  [None, 3]
3     [4, 5]

In [12]:
df.assign(B = df.A.apply(pd.Series).bfill(axis = 1)[0] )

           A    B
0  [None, 1]  1.0
1  [2, None]  2.0
2  [None, 3]  3.0
3     [4, 5]  4.0

In [45]:
df.assign(B = df.A.apply(lambda x:x[1] if x[0] == None else x[0]))

           A  B
0  [None, 1]  1
1  [2, None]  2
2  [None, 3]  3
3     [4, 5]  4

In [7]:
df = pd.DataFrame.from_dict({'项目':'A','上年':100,'本年':120},orient = 'index')
df

      0
项目    A
上年  100
本年  120

In [31]:
df = pd.DataFrame({'项目':['A','B'],'上年':[100,200],'本年':[120,140]})
df

  项目   上年   本年
0  A  100  120
1  B  200  140

In [34]:
data = np.array(df)
data

array([['A', 100, 120],
       ['B', 200, 140]], dtype=object)

In [35]:
data1 = data.tolist()
data1

[['A', 100, 120], ['B', 200, 140]]

In [25]:
data1.flatten()

AttributeError: 'list' object has no attribute 'flatten'

In [32]:
df.values.flatten()

array(['A', 100, 120, 'B', 200, 140], dtype=object)

In [36]:
import pandas as pd
df = pd.read_clipboard()
df

      日期
0  44990
1  44991
2  44992
3  44993

In [37]:
df['日期新'] = pd.to_datetime(df['日期'], unit='D', origin=pd.Timestamp('1899-12-30'))
df

      日期        日期新
0  44990 2023-03-05
1  44991 2023-03-06
2  44992 2023-03-07
3  44993 2023-03-08

In [44]:
df.assign(B = df.A.apply(lambda x:x[1] if x[0] == None else x[0]))

           A  B
0  [None, 1]  1
1  [2, None]  2
2  [None, 3]  3
3     [4, 5]  4