In [1]:
import pandas as pd

In [2]:
df = pd.read_clipboard()
df

    产品  colA1
0  孙悟空  孙悟空73
1  猪八戒  猪八戒84
2  高启强  高启强45
3  高启盛  高启盛47
4   安欣   安欣49

In [4]:
df1 = df.assign(colA1 = (df.index+1).astype(str) + '#'+df.colA1)
df1

    产品    colA1
0  孙悟空  1#孙悟空73
1  猪八戒  2#猪八戒84
2  高启强  3#高启强45
3  高启盛  4#高启盛47
4   安欣   5#安欣49