In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('成绩表.xlsx')
df

   姓名  科目  分数
0  小明  语文  85
1  小明  数学  90
2  小王  英语  90
3  小王  语文  85
4  小王  数学   0
5  小刚  英语  95
6  小刚  语文  85
7  小刚  数学  75

In [3]:
with pd.ExcelWriter('分科成绩表.xlsx') as writer:
   (
   df.groupby('科目')
     .apply  
     (lambda x:x.to_excel(writer,index = False,sheet_name = x.name))
   )

C:\Users\redda\AppData\Local\Temp\ipykernel_9360\4098805886.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  with pd.ExcelWriter('分科成绩表.xlsx') as writer:
C:\Users\redda\AppData\Local\Temp\ipykernel_9360\4098805886.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply