In [2]:
%%time
from io import StringIO
import pandas as pd
import numpy as np
import re
from sqlalchemy import true

data = '''
书单,作者,ISBN
资本论 1,袁某,23445-2342
资本论 2,袁某,23445-2342
资本论 3,袁某,23445-2342
大学语文 上,李四,a25245-32425
大学语文 下,李四,a25245-32425
数据结构,王某,x342w-ssa
'''
def bian(s):
    new = []
    for i in s:
        if i==0:
            k=''
            new.append(k)
        else:
            lst = list(i)
            if lst[0] in list('123456789'):
                k = min(lst)+'-'+max(lst)
                new.append(k)
            else:
                k = lst[0]+lst[-1]
                new.append(k)
    return new

df = pd.read_csv(StringIO(data))
df1 = df.assign(书单=df.书单.str.split(" ").str[0],备注=df.书单.str.split(" ").str[1])
df1 = df1.groupby(['书单','作者','ISBN'],as_index= False,sort=False).sum()
new = bian(df1.备注.to_list())
result = df1.assign(备注=new)
result

CPU times: total: 15.6 ms
Wall time: 14 ms

     书单  作者          ISBN   备注
0   资本论  袁某    23445-2342  1-3
1  大学语文  李四  a25245-32425   上下
2  数据结构  王某     x342w-ssa

In [199]:
df1 = df.assign(书单=df.书单.str.split(" ").str[0],备注=df.书单.str.split(" ").str[1])
df1

     书单  作者          ISBN   备注
0   资本论  袁某    23445-2342    1
1   资本论  袁某    23445-2342    2
2   资本论  袁某    23445-2342    3
3  大学语文  李四  a25245-32425    上
4  大学语文  李四  a25245-32425    下
5  数据结构  王某     x342w-ssa  NaN

In [200]:
df2 = df1.groupby(['书单','作者','ISBN'],as_index= False,sort=False).sum()
df2

     书单  作者          ISBN   备注
0   资本论  袁某    23445-2342  123
1  大学语文  李四  a25245-32425   上下
2  数据结构  王某     x342w-ssa    0

In [201]:
def bian(s):
  
    for i in s:
        if i==0:
            k=''
            new.append(k)
        else:
            lst = list(i)
            if lst[0] in list('123456789'):
                k = min(lst)+'-'+max(lst)
                new.append(k)
            else:
                k = lst[0]+lst[-1]
                new.append(k)
    return new

In [203]:
result = df2.assign(备注=new)
result

     书单  作者          ISBN   备注
0   资本论  袁某    23445-2342  1-3
1  大学语文  李四  a25245-32425   上下
2  数据结构  王某     x342w-ssa

In [188]:
def mark(ser:pd.Series):
    if ser.isna().all():
        return  ''
    elif ser.str.isdecimal().all():
        return f'{ser.min()}-{ser.max()}'
    else :
        return ser.sum()

In [189]:
df5 = df3.assign(备注=df3.备注.apply(mark))
df5

AttributeError: 'str' object has no attribute 'isna'

In [96]:
df8 = df6.assign(备注1 = df6.apply(lambda x:(x.备注[0] if x.备注.str[0]=='1' else None,axis=1))
df8

SyntaxError: invalid syntax (870869410.py, line 1)

In [122]:
def mask(ser:pd.Series):
    if ser[0] in list('0123456789'):
        return ser[0] +'-'+ser[-1]
    elif ser[0]== None:
        return ''
    else :
        return ser[0]+ser[1]

In [123]:
df7 = df5.assign(备注1 = df5.备注.agg(mask))
df7

TypeError: can only concatenate list (not "float") to list

In [48]:
print(df)

       书单  作者          ISBN
0   资本论 1  袁某    23445-2342
1   资本论 2  袁某    23445-2342
2   资本论 3  袁某    23445-2342
3  大学语文 上  李四  a25245-32425
4  大学语文 下  李四  a25245-32425
5    数据结构  王某     x342w-ssa

In [124]:
a = '猪猪很乖不听话'
b = list(a)
b

['猪', '猪', '很', '乖', '不', '听', '话']

In [155]:
df3 = df3.assign(备注1=df3.备注.map(lambda x:x.split(',')))
df3

AttributeError: 'int' object has no attribute 'split'

In [145]:
def mark1(ser:pd.Series):
    
    if ser[0] in list('0123456789') and len(ser) !=1:
        return ser[0]+'-'+ser[-1]
    elif ser[0]==0 and len(ser) ==1:
        return ''
    else :
        return ser[0]+ser[-1]

In [163]:
df8 = df4.assign(备注1 = df4.备注.agg(mark1))
df8

ValueError: Length of values (2) does not match length of index (3)

In [178]:
a =['1','2','3']
b = min(a)

b

'1'

In [142]:
a = '上下'
b = list(a)
b

['上', '下']

In [143]:
a[0]

'上'

In [144]:
len(a)

2