In [75]:
%%time
from io import StringIO
import pandas as pd
import numpy as np
import re
from sqlalchemy import true

data = '''
书单,作者,ISBN
资本论 1,袁某,23445-2342
资本论 2,袁某,23445-2342
资本论 3,袁某,23445-2342
大学语文 上,李四,a25245-32425
大学语文 下,李四,a25245-32425
数据结构,王某,x342w-ssa
'''
def mark(ser:pd.Series):
    if ser.isna().all():
        return  ''
    elif ser.str.isdecimal().all():
        return f'{ser.min()}-{ser.max()}'
    else :
        return ser.sum()

df = pd.read_csv(StringIO(data))
df1 = df.书单.str.split(' ',expand=True)
df1 = df1.set_axis(['书名','备注'],axis=1)
new_df = pd.concat([df,df1],axis=1)
result = new_df.groupby('书名',as_index=False,sort=False).agg({'作者':max,'ISBN':max,'备注':mark})
result

CPU times: total: 15.6 ms
Wall time: 18 ms

     书名  作者          ISBN   备注
0   资本论  袁某    23445-2342  1-3
1  大学语文  李四  a25245-32425   上下
2  数据结构  王某     x342w-ssa

In [2]:
import pandas as pd
import string
print(pd.__version__)
df = pd.read_csv('https://www.gairuo.com/file/data/team.csv')
df = df.head()

1.4.2

In [3]:
df = pd.read_csv('https://www.gairuo.com/file/data/team.csv')
df = df.head()
# 将字母与 1-26 数字成对组合起来
str_map_temp = zip(string.ascii_uppercase, range(1, 27))
# 将 zip 对象转为字典，同时处理字母为字符，一位的向前补 0
str_map = {k:str(v).zfill(2) for k, v in str_map_temp}
def func(x):     #3.10版本可用:str|int
    # print(type(x), x)
    if isinstance(x, str):
        ser = pd.Series([*x])
        ser = ser.replace(str_map)
        return ''.join(ser)
    else:
        return x
df=df.applymap(func)
print(df)

     name team  Q1  Q2  Q3  Q4
0  12iver   05  89  21  24  64
1   01rry   03  36  37  37  57
2    01ck   01  57  60  18  84
3  05orge   03  93  96  71  78
4    15ah   04  65  49  61  86

In [46]:


# 将字母与 1-26 数字成对组合起来
str_map_temp = zip(string.ascii_uppercase, range(1, 27))
# 将 zip 对象转为字典，同时处理字母为字符，一位的向前补 0
str_map = {k:str(v).zfill(2) for k, v in str_map_temp}
str_map

{'A': '01',
 'B': '02',
 'C': '03',
 'D': '04',
 'E': '05',
 'F': '06',
 'G': '07',
 'H': '08',
 'I': '09',
 'J': '10',
 'K': '11',
 'L': '12',
 'M': '13',
 'N': '14',
 'O': '15',
 'P': '16',
 'Q': '17',
 'R': '18',
 'S': '19',
 'T': '20',
 'U': '21',
 'V': '22',
 'W': '23',
 'X': '24',
 'Y': '25',
 'Z': '26'}

In [3]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [7]:
shu = [str(i).zfill(2) for i in range(1,27) ]
shu

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26']

In [9]:
dic = dict(zip(string.ascii_uppercase,[str(i).zfill(2) for i in range(1,27) ]))
dic

{'A': '01',
 'B': '02',
 'C': '03',
 'D': '04',
 'E': '05',
 'F': '06',
 'G': '07',
 'H': '08',
 'I': '09',
 'J': '10',
 'K': '11',
 'L': '12',
 'M': '13',
 'N': '14',
 'O': '15',
 'P': '16',
 'Q': '17',
 'R': '18',
 'S': '19',
 'T': '20',
 'U': '21',
 'V': '22',
 'W': '23',
 'X': '24',
 'Y': '25',
 'Z': '26'}

In [18]:
import pandas as pd
pd.__version__

'1.4.2'

In [16]:
def func(x:str|int):
    # print(type(x), x)
    if isinstance(x, str):
        ser = pd.Series([*x])
        ser = ser.replace(str_map)
        return ''.join(ser)
    else:
        return x

TypeError: unsupported operand type(s) for |: 'type' and 'type'

In [65]:
def func(x):
    x = str_map.get(x,x)
    return x

In [70]:
df = df.assign(name1=lambda x:x.name.str[0],name2=lambda x:x.name.str[1:])
df

    name team  Q1  Q2  Q3  Q4 name1 name2
0  Liver    E  89  21  24  64     L  iver
1   Arry    C  36  37  37  57     A   rry
2    Ack    A  57  60  18  84     A    ck
3  Eorge    C  93  96  71  78     E  orge
4    Oah    D  65  49  61  86     O    ah

In [71]:
df=df.applymap(func)
df

    name team  Q1  Q2  Q3  Q4 name1 name2
0  Liver   05  89  21  24  64    12  iver
1   Arry   03  36  37  37  57    01   rry
2    Ack   01  57  60  18  84    01    ck
3  Eorge   03  93  96  71  78    05  orge
4    Oah   04  65  49  61  86    15    ah

In [72]:
df.name=df.name1+df.name2
df

     name team  Q1  Q2  Q3  Q4 name1 name2
0  12iver   05  89  21  24  64    12  iver
1   01rry   03  36  37  37  57    01   rry
2    01ck   01  57  60  18  84    01    ck
3  05orge   03  93  96  71  78    05  orge
4    15ah   04  65  49  61  86    15    ah

In [73]:
result = df[df.columns[:6]]
result

     name team  Q1  Q2  Q3  Q4
0  12iver   05  89  21  24  64
1   01rry   03  36  37  37  57
2    01ck   01  57  60  18  84
3  05orge   03  93  96  71  78
4    15ah   04  65  49  61  86

In [19]:
a  = pd.Series([*df])
a

0    name
1    team
2      Q1
3      Q2
4      Q3
5      Q4
dtype: object

In [20]:
df

    name team  Q1  Q2  Q3  Q4
0  Liver    E  89  21  24  64
1   Arry    C  36  37  37  57
2    Ack    A  57  60  18  84
3  Eorge    C  93  96  71  78
4    Oah    D  65  49  61  86

In [21]:
df.applymap(str_map)

TypeError: the first argument must be callable

In [22]:
def func1(x):
    # print(type(x), x)
    return(str_map(x))

In [23]:
df.applymap(func1)

TypeError: 'dict' object is not callable

In [29]:
a = pd.Series(['A','B'])
a
b = a.replace(str_map)
b

0    01
1    02
dtype: object

In [30]:
b.to_list()

['01', '02']

In [37]:
c = list(map(lambda x:str_map[x],['A','B']))
c

['01', '02']

In [36]:
list(c)

['01', '02']

In [40]:
x = 'Liver'
ser = pd.Series([*x])
ser

0    L
1    i
2    v
3    e
4    r
dtype: object

In [41]:
ser = ser.replace(str_map)
ser

0    12
1     i
2     v
3     e
4     r
dtype: object

In [42]:
x =''.join(ser)
x

'12iver'

In [44]:
a = 'abc5ef'
isinstance(a,str)

True