In [1]:
import pandas as pd

In [2]:
df = pd.read_clipboard()
df = df.astype({'时间':'datetime64[ns]'})
df

  父分组 子分组         时间  数值
0   A  CC 2022-09-30   1
1   A  CC 2022-10-31   2
2   A  CD 2022-09-30   3
3   A  CD 2022-10-31   4
4   B  CC 2022-09-30   5
5   B  CC 2022-10-31   6
6   B  CD 2022-09-30   7
7   B  CD 2022-10-31   8

In [4]:
df.query('父分组 == "A" & 时间 == "2022-9-30" ')

  父分组 子分组         时间  数值
0   A  CC 2022-09-30   1
2   A  CD 2022-09-30   3

In [5]:
def func(ser:pd.Series,d:pd.DataFrame):
    x = ser.数值
    y = df.query('父分组 == "A" & 时间 == "2022-9-30" ').数值.sum()
    return x/y

In [6]:
df = df.assign(百分比 = df.apply(func,d = df,axis = 1))

In [7]:
df

  父分组 子分组         时间  数值   百分比
0   A  CC 2022-09-30   1  0.25
1   A  CC 2022-10-31   2  0.50
2   A  CD 2022-09-30   3  0.75
3   A  CD 2022-10-31   4  1.00
4   B  CC 2022-09-30   5  1.25
5   B  CC 2022-10-31   6  1.50
6   B  CD 2022-09-30   7  1.75
7   B  CD 2022-10-31   8  2.00

In [22]:
def func1(s,d):
    x = s.数值
    y = df.query('父分组 == "A" & 时间 == "2022-9-30" ').数值.sum()
    return x/y

In [23]:
df = df.assign(百分比 = df.apply(func1,d = df,axis = 1))
df

  父分组 子分组         时间  数值   百分比
0   A  CC 2022-09-30   1  0.25
1   A  CC 2022-10-31   2  0.50
2   A  CD 2022-09-30   3  0.75
3   A  CD 2022-10-31   4  1.00
4   B  CC 2022-09-30   5  1.25
5   B  CC 2022-10-31   6  1.50
6   B  CD 2022-09-30   7  1.75
7   B  CD 2022-10-31   8  2.00