# Chapter 2: Essential DataFrame Operations

In [2]:
import pandas as pd
import numpy as np
# pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

In [3]:
import os

In [4]:
os.chdir(r'D:\a00nutstore\Pandas-Cookbook-Second-Edition-master')

## Introduction

## Selecting Multiple DataFrame Columns

### How to do it\...

In [5]:
movies = pd.read_csv('data/movie.csv')
movie_actor_director = movies[['actor_1_name', 'actor_2_name',
    'actor_3_name', 'director_name']]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [6]:
type(movies[['director_name']])

pandas.core.frame.DataFrame

In [7]:
type(movies['director_name'])

pandas.core.series.Series

In [8]:
type(movies.loc[:, ['director_name']])

pandas.core.frame.DataFrame

In [9]:
type(movies.loc[:, 'director_name'])

pandas.core.series.Series

### How it works\...

### There\'s more\...

In [11]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movie_actor_director = movies[cols]

In [13]:
movies.filter(items = cols)

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
...,...,...,...,...
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [12]:
movies['actor_1_name', 'actor_2_name',
      'actor_3_name', 'director_name']

KeyError: ('actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name')

## Selecting Columns with Methods

### How it works\...

In [14]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

In [ ]:
movies.select_dtypes(include='int').head()

In [ ]:
movies.select_dtypes(include='number').head()

In [ ]:
movies.select_dtypes(include=['int', 'object']).head()

In [ ]:
movies.select_dtypes(exclude='float').head()

In [ ]:
movies.filter(like='fb').head()

In [ ]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movies.filter(items=cols).head()

In [ ]:
movies.filter(regex=r'\d').head()

### How it works\...

### There\'s more\...

### See also

## Ordering Column Names

### How to do it\...

In [ ]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)

In [15]:
movies.columns

Index(['color', 'director_name', 'num_critic', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

In [16]:
cat_core = ['movie_title', 'title_year',
            'content_rating', 'genres']
cat_people = ['director_name', 'actor_1_name',
              'actor_2_name', 'actor_3_name']
cat_other = ['color', 'country', 'language',
             'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_fb', 'actor_1_fb',
           'actor_2_fb', 'actor_3_fb',
           'cast_total_fb', 'movie_fb']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user',
                    'num_critic']
cont_other = ['imdb_score', 'duration',
               'aspect_ratio', 'facenumber_in_poster']

In [17]:
new_col_order = cat_core + cat_people + \
                cat_other + cont_fb + \
                cont_finance + cont_num_reviews + \
                cont_other
set(movies.columns) == set(new_col_order)

True

In [18]:
movies[new_col_order].head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_fb,budget,gross,num_voted_users,num_user,num_critic,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

### How it works\...

### There\'s more\...

### See also

## Summarizing a DataFrame

### How to do it\...

In [19]:
movies = pd.read_csv('data/movie.csv')
movies.shape

(4916, 28)

In [20]:
movies.size

137648

In [21]:
movies.ndim

2

In [22]:
len(movies)

4916

In [23]:
movies.count()

color                        4897
director_name                4814
num_critic_for_reviews       4867
duration                     4901
director_facebook_likes      4814
actor_3_facebook_likes       4893
actor_2_name                 4903
actor_1_facebook_likes       4909
gross                        4054
genres                       4916
actor_1_name                 4909
movie_title                  4916
num_voted_users              4916
cast_total_facebook_likes    4916
actor_3_name                 4893
facenumber_in_poster         4903
plot_keywords                4764
movie_imdb_link              4916
num_user_for_reviews         4895
language                     4904
country                      4911
content_rating               4616
budget                       4432
title_year                   4810
actor_2_facebook_likes       4903
imdb_score                   4916
aspect_ratio                 4590
movie_facebook_likes         4916
dtype: int64

In [24]:
movies.min()

C:\temp\ipykernel_18964\593434307.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.min()

num_critic_for_reviews                                                     1.0
duration                                                                   7.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                     0.0
actor_1_facebook_likes                                                     0.0
gross                                                                    162.0
genres                                                                  Action
movie_title                                                            #Horror
num_voted_users                                                              5
cast_total_facebook_likes                                                    0
facenumber_in_poster                                                       0.0
movie_imdb_link              http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user_for_reviews                                                       1.0
budget                                                                   218.0
title_year                                                              1916.0
actor_2_facebook_likes                                                     0.0
imdb_score                                                                 1.6
aspect_ratio                                                              1.18
movie_facebook_likes                                                         0
dtype: object

In [25]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_facebook_likes,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [26]:
movies.describe(percentiles=[.01, .3, .99]).T

,count,mean,std,min,1%,30%,50%,99%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,2.00,60.00,108.00,5.466800e+02,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,43.00,95.00,103.00,1.890000e+02,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,0.00,11.00,48.00,1.600000e+04,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,0.00,176.00,366.00,1.100000e+04,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,6.08,694.00,982.00,4.492000e+04,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,8474.80,7914068.60,25043962.00,3.264128e+08,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,53.00,11864.50,33132.50,6.815846e+05,1.689764e+06
cast_total_facebook_likes,4916.0,9.579816e+03,1.816432e+04,0.00,6.00,1684.50,3049.00,6.241390e+04,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,0.00,1.00,8.000000e+00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,1.94,80.00,153.00,1.999240e+03,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,60000.00,8000000.00,19850000.00,2.000000e+08,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1951.00,2000.00,2005.00,2.016000e+03,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,0.00,345.00,593.00,1.700000e+04,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,3.10,6.00,6.60,8.500000e+00,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.33,1.85,2.35,4.000000e+00,1.600000e+01
movie_facebook_likes,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,0.00,159.00,9.385000e+04,3.490000e+05

### How it works\...

### There\'s more\...

In [27]:
movies.min(skipna=False)

C:\temp\ipykernel_18964\1750496438.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.min(skipna=False)

num_critic_for_reviews                                                     NaN
duration                                                                   NaN
director_facebook_likes                                                    NaN
actor_3_facebook_likes                                                     NaN
actor_1_facebook_likes                                                     NaN
gross                                                                      NaN
genres                                                                  Action
movie_title                                                            #Horror
num_voted_users                                                              5
cast_total_facebook_likes                                                    0
facenumber_in_poster                                                       NaN
movie_imdb_link              http://www.imdb.com/title/tt0006864/?ref_=fn_t...
num_user_for_reviews                                                       NaN
budget                                                                     NaN
title_year                                                                 NaN
actor_2_facebook_likes                                                     NaN
imdb_score                                                                 1.6
aspect_ratio                                                               NaN
movie_facebook_likes                                                         0
dtype: object

## Chaining DataFrame Methods

### How to do it\...

In [28]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.isnull().head()

,color,director_name,num_critic,duration,director_fb,actor_3_fb,actor_2_name,actor_1_fb,gross,genres,...,num_user,language,country,content_rating,budget,title_year,actor_2_fb,imdb_score,aspect_ratio,movie_fb
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [29]:
(movies
   .isnull()
   .sum()
   .head()
)

color             19
director_name    102
num_critic        49
duration          15
director_fb      102
dtype: int64

In [30]:
movies.isnull().sum().sum()

2654

In [31]:
movies.isnull().any().any()

True

### How it works\...

In [32]:
movies.isnull().get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

### There\'s more\...

In [33]:
movies[['color', 'movie_title', 'color']].max()

C:\temp\ipykernel_18964\817170488.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies[['color', 'movie_title', 'color']].max()

movie_title    Æon Flux
dtype: object

In [34]:
with pd.option_context('max_colwidth', 20):
    movies.select_dtypes(['object']).fillna('').max()

In [35]:
with pd.option_context('max_colwidth', 20):
    (movies
        .select_dtypes(['object'])
        .fillna('')
        .max()
    )

### See also

## DataFrame Operations

In [36]:
colleges = pd.read_csv('data/college.csv')
colleges + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
colleges = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')
college_ugds.head()

In [ ]:
name = 'Northwest-Shoals Community College'
college_ugds.loc[name]

In [ ]:
college_ugds.loc[name].round(2)

In [ ]:
(college_ugds.loc[name] + .0001).round(2)

In [ ]:
college_ugds + .00501

In [ ]:
(college_ugds + .00501) // .01

In [ ]:
college_ugds_op_round = (college_ugds + .00501) // .01 / 100
college_ugds_op_round.head()

In [ ]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round

In [ ]:
college_ugds_op_round.equals(college_ugds_round)

### How it works\...

In [ ]:
.045 + .005

### There\'s more\...

In [ ]:
college2 = (college_ugds
    .add(.00501) 
    .floordiv(.01) 
    .div(100)
)
college2.equals(college_ugds_op_round)

### See also

## Comparing Missing Values

In [ ]:
np.nan == np.nan

In [ ]:
None == None

In [ ]:
np.nan > 5

In [ ]:
5 > np.nan

In [ ]:
np.nan != 5

### Getting ready

In [ ]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
college_ugds == .0019

In [ ]:
college_self_compare = college_ugds == college_ugds
college_self_compare.head()

In [ ]:
college_self_compare.all()

In [ ]:
(college_ugds == np.nan).sum()

In [ ]:
college_ugds.isnull().sum()

In [ ]:
college_ugds.equals(college_ugds)

### How it works\...

### There\'s more\...

In [ ]:
college_ugds.eq(.0019)    # same as college_ugds == .0019

In [ ]:
from pandas.testing import assert_frame_equal
assert_frame_equal(college_ugds, college_ugds) is None

## Transposing the direction of a DataFrame operation

### How to do it\...

In [ ]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

In [ ]:
college_ugds.count()

In [ ]:
college_ugds.count(axis='columns').head()

In [ ]:
college_ugds.sum(axis='columns').head()

In [ ]:
college_ugds.median(axis='index')

### How it works\...

### There\'s more\...

In [ ]:
college_ugds_cumsum = college_ugds.cumsum(axis=1)
college_ugds_cumsum.head()

### See also

## Determining college campus diversity

In [ ]:
pd.read_csv('data/college_diversity.csv', index_col='School')

### How to do it\...

In [ ]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
(college_ugds.isnull()
   .sum(axis='columns')
   .sort_values(ascending=False)
   .head()
)

In [ ]:
college_ugds = college_ugds.dropna(how='all')
college_ugds.isnull().sum()

In [ ]:
college_ugds.ge(.15)

In [ ]:
diversity_metric = college_ugds.ge(.15).sum(axis='columns')
diversity_metric.head()

In [ ]:
diversity_metric.value_counts()

In [ ]:
diversity_metric.sort_values(ascending=False).head()

In [ ]:
college_ugds.loc[['Regency Beauty Institute-Austin',
                   'Central Texas Beauty College-Temple']]

In [ ]:
us_news_top = ['Rutgers University-Newark',
                  'Andrews University',
                  'Stanford University',
                  'University of Houston',
                  'University of Nevada-Las Vegas']
diversity_metric.loc[us_news_top]

### How it works\...

### There\'s more\...

In [ ]:
(college_ugds
   .max(axis=1)
   .sort_values(ascending=False)
   .head(10)
)

In [ ]:
(college_ugds > .01).all(axis=1).any()

### See also