In [1]:
import pandas as pd

In [2]:
d = {100:['1A','2B'],200:['2A','3B'],300:['3A','3B','4B'],}
df = pd.DataFrame({'a':['new','old'],'b':[d,['99A','99B']]})
df.style

In [3]:
(
 df.assign(b = df.b.map(lambda x:x if isinstance(x,dict) else {-1:x}))
   )

     a                                                  b
0  new  {100: ['1A', '2B'], 200: ['2A', '3B'], 300: ['...
1  old                               {-1: ['99A', '99B']}

In [4]:
(
 df.assign(b = df.b.apply(lambda x:x if isinstance(x,dict) else {-1:x}))
   )

     a                                                  b
0  new  {100: ['1A', '2B'], 200: ['2A', '3B'], 300: ['...
1  old                               {-1: ['99A', '99B']}

In [5]:
(
 df.assign(b = df.b.map(lambda x:x if isinstance(x,dict) else {-1:x}))
   .assign(c = lambda x :[i.values() for i in x.b])
 )

,a,b,c
0,new,"{100: ['1A', '2B'], 200: ['2A', '3B'], 300: ['...","([1A, 2B], [2A, 3B], [3A, 3B, 4B])"
1,old,"{-1: ['99A', '99B']}","([99A, 99B])"

In [6]:
(
 df.assign(b = df.b.map(lambda x:x if isinstance(x,dict) else {-1:x}))
   .assign(c = lambda x :[i.values() for i in x.b])
   .explode(['b','c'])
 )

     a    b             c
0  new  100      [1A, 2B]
0  new  200      [2A, 3B]
0  new  300  [3A, 3B, 4B]
1  old   -1    [99A, 99B]