In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://www.gairuo.com/team')
df.head(10)

     name team  Q1  Q2  Q3  Q4
0   Liver    E  89  21  24  64
1    Arry    C  36  37  37  57
2     Ack    A  57  60  18  84
3   Eorge    C  93  96  71  78
4     Oah    D  65  49  61  86
5  Harlie    C  24  13  87  43
6    Acob    B  61  95  94   8
7    Lfie    A   9  10  99  37
8  Reddie    D  64  93  57  72
9   Oscar    A  77   9  26  67

In [4]:
df.groupby('team').size()== 22

team
A    False
B     True
C     True
D    False
E    False
dtype: bool

In [6]:
df.groupby('team').size().eq(22)

team
A    False
B     True
C     True
D    False
E    False
dtype: bool

In [9]:
df.groupby('team').size().eq(22).loc[lambda x:x]

team
B    True
C    True
dtype: bool