In [3]:
import pandas as pd
pd. __version__

'1.4.2'

In [9]:
df = pd.DataFrame({'x':[*'ABCD']*2,
                 'y':['数据a','数据b','数据c','数据d',
                      '数据1','数据2','数据3','数据4']
                  })
df

   x    y
0  A  数据a
1  B  数据b
2  C  数据c
3  D  数据d
4  A  数据1
5  B  数据2
6  C  数据3
7  D  数据4

In [11]:
(
 df.groupby('x')
   .y
   .apply('  '.join) 
   .str.split(expand = True)
)

     0    1
x
A  数据a  数据1
B  数据b  数据2
C  数据c  数据3
D  数据d  数据4

In [16]:
df = pd.DataFrame({'x':[*'ABCD']*2,
                    'y':[*((fmt:=lambda x :f'数据{x}')(i) for i in  'abcd'),
                        *(fmt(i) for i in range(1,5))
                        ]
                  })
df

   x    y
0  A  数据a
1  B  数据b
2  C  数据c
3  D  数据d
4  A  数据1
5  B  数据2
6  C  数据3
7  D  数据4