In [1]:
import pandas as pd
import easygui

In [ ]:
fname001 = r'F:\a00nutsrore\006\高新\001会计科目2024-1.xls'
df01 = pd.read_excel(fname001,usecols=['科目编码','科目名称'])
df01

In [ ]:
fname003 = r'F:\a00nutsrore\006\高新\003会计科目202401.xls'
df03 = pd.read_excel(fname003,usecols=['科目编码','科目名称'])
df03

In [ ]:
{1,2,3}-{2,3}

In [ ]:
kemus01 = set()
for i in df01['科目编码'].to_list():
    kemus01.add(i)

In [ ]:
kemus01

In [ ]:
kemus03 = set()
for i in df03['科目编码'].to_list():
    kemus03.add(i)
kemus03

In [ ]:
kemus = list(kemus01-kemus03)
kemus

In [ ]:
df = df01[df01['科目编码'].isin(kemus)]

In [7]:
fname01 = easygui.fileopenbox('请选择"001会计科目"excel文件')

In [6]:
df01 = pd.read_excel(fname01,usecols=['科目编码','科目名称','助记码'])
df01

        科目编码             科目名称   助记码
0       1001             库存现金   NaN
1       1002             银行存款   NaN
2    1002001    农业银行毛陈分理处1350  1350
3    1002002     农商行贺家墩支行0013  0013
4    1002003      工行孝南区支行9262  9262
..       ...              ...   ...
614     6604             勘探费用   NaN
615     6701           资产减值损失   NaN
616     6711            营业外支出   NaN
617     6801            所得税费用   NaN
618     6901         以前年度损益调整   NaN

[619 rows x 3 columns]

In [8]:
import os
path,filename = os.path.split(fname01)
print(path)

F:\a00nutsrore\006\高新

In [9]:
df01

        科目编码             科目名称   助记码
0       1001             库存现金   NaN
1       1002             银行存款   NaN
2    1002001    农业银行毛陈分理处1350  1350
3    1002002     农商行贺家墩支行0013  0013
4    1002003      工行孝南区支行9262  9262
..       ...              ...   ...
614     6604             勘探费用   NaN
615     6701           资产减值损失   NaN
616     6711            营业外支出   NaN
617     6801            所得税费用   NaN
618     6901         以前年度损益调整   NaN

[619 rows x 3 columns]

In [10]:
df01['科目编码'] = df01['科目编码'].astype('string')
df01

        科目编码             科目名称   助记码
0       1001             库存现金   NaN
1       1002             银行存款   NaN
2    1002001    农业银行毛陈分理处1350  1350
3    1002002     农商行贺家墩支行0013  0013
4    1002003      工行孝南区支行9262  9262
..       ...              ...   ...
614     6604             勘探费用   NaN
615     6701           资产减值损失   NaN
616     6711            营业外支出   NaN
617     6801            所得税费用   NaN
618     6901         以前年度损益调整   NaN

[619 rows x 3 columns]

In [13]:
df01.dtypes

科目编码    string[python]
科目名称            object
助记码             object
dtype: object