In [1]:
import numpy as np
import pandas as pd

In [2]:
r = np.random.default_rng()
df = pd.DataFrame(r.integers(1,10,[4,10]))
df

   0  1  2  3  4  5  6  7  8  9
0  2  8  9  8  2  5  5  9  9  6
1  6  6  2  4  8  9  5  4  3  8
2  6  7  5  4  5  1  8  7  1  4
3  5  4  1  7  7  4  3  8  5  2

In [7]:
df[0]

0    2
1    6
2    6
3    5
Name: 0, dtype: int64

In [8]:
df[[0]]

   0
0  2
1  6
2  6
3  5