In [1]:
import openpyxl

In [2]:
fname = r'D:\a00nutstore\fishc\000.xlsx'
wb = openpyxl.load_workbook(fname)
ws = wb.active
for i in ws.iter_rows():
    for j in i:
        if j.value == 0:
            j.value = ''
        else :
            continue
wb.save(fname)

D:\swz\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('team.xlsx')
df

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

In [6]:
lst = df.convert_dtypes().dtypes

In [8]:
df.head().style.format("[{}]")

In [13]:
df.iloc[:,2:].style.format("{:.2%}")

In [14]:
df.style.format({'name':str.upper})

In [17]:
df.style.format({'Q1':"{:0<4.0f}",'Q2':"{:+.2f}"})

In [23]:
df.style.highlight_min(axis = 1,subset = ['Q1','Q2'],color ='lime')

In [24]:
import numpy as np
df.iloc[1,1] = np.nan

In [25]:
df.head().style.highlight_null()

In [27]:
df.head().style.highlight_null(color = 'blue')

In [28]:
df.to_excel('111.xlsx',index = False,freeze_panes = (0,2))

C:\Users\redda\AppData\Local\Temp\ipykernel_30644\3901270759.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df.to_excel('111.xlsx',index = False,freeze_panes = (0,2))

In [30]:
import openpyxl

# wb = openpyxl.Workbook()
fname = r"F:\repos\fish\æ–°èŠ­æ¡ˆä¾‹\111.xlsx"
wb = openpyxl.load_workbook(fname)
ws = wb.active
# 1. è®¾ç½®é¡µé¢æ°´å¹³å±…ä¸­å’Œç«–å‘å±…ä¸­
ws.print_options.horizontalCentered = True
ws.print_options.verticalCentered = False
# 2.è®¾ç½®é¡µçœ‰é¡µè„š
ws.oddHeader.left.text = "Page &[Page] of &N"
ws.oddHeader.left.size = 14
ws.oddHeader.left.font = "'Tahoma',Bold" # å­—ä½“çš„è®¾ç½®æ–¹æ³•è§å•å…ƒæ ¼çš„å­—ä½“è®¾ç½®æ–¹æ³•
ws.oddHeader.left.color = "CC3366"
# 3.è®¾ç½®è¡Œæ ‡é¢˜å’Œåˆ—æ ‡é¢˜
ws.print_title_cols = 'A:B' # è®¾ç½®åˆ—æ ‡é¢˜
ws.print_title_rows = '1:1' # è®¾ç½®è¡Œæ ‡é¢˜
# 4.è®¾ç½®æ‰“å°åŒºåŸŸ
ws.print_area = 'A1:F10'
# 5.è®¾ç½®çº¸å¼ æ–¹å‘å’Œçº¸å¼ å¤§å°
ws.page_setup.orientation = ws.ORIENTATION_LANDSCAPE    #æ¨ªå‘
ws.page_setup.paperSize = 9
'''
    ORIENTATION_PORTRAIT = 'portrait' #çºµå‘
    ORIENTATION_LANDSCAPE = 'landscape' #æ¨ªå‘
    # Paper size
    PAPERSIZE_LETTER = '1'
    PAPERSIZE_LETTER_SMALL = '2'
    PAPERSIZE_TABLOID = '3'
    PAPERSIZE_LEDGER = '4'
    PAPERSIZE_LEGAL = '5'
    PAPERSIZE_STATEMENT = '6'
    PAPERSIZE_EXECUTIVE = '7'
    PAPERSIZE_A3 = '8'
    PAPERSIZE_A4 = '9'
    PAPERSIZE_A4_SMALL = '10'
'''
wb.save(fname)

In [34]:
from openpyxl import Workbook
from openpyxl.utils import units
 
# åˆ›å»ºä¸€ä¸ªå·¥ä½œç°¿
fname = r"F:\repos\fish\æ–°èŠ­æ¡ˆä¾‹\111.xlsx"
wb = openpyxl.load_workbook(fname)
ws = wb.active

ws.page_setup.orientation = ws.ORIENTATION_LANDSCAPE
# è®¾ç½®è‡ªå®šä¹‰çº¸å¼ å°ºå¯¸ï¼Œä¾‹å¦‚ï¼šå®½24cm x é•¿14cm
ws.print_options.paperSize = '1'  # è®¾ç½®ä¸ºè‡ªå®šä¹‰å¤§å°


ws.print_options.fitToWidth = int(24 * 2.54)  # å®½åº¦çš„ç‚¹æ•°ï¼Œ2cm = 2.54ç‚¹
ws.print_options.fitToHeight = int(14 * 2.54)  # é«˜åº¦çš„ç‚¹æ•°ï¼Œ15cm = 15.24ç‚¹
 
# ä¿å­˜å·¥ä½œç°¿
wb.save(fname)

In [40]:
import openpyxl as pyxl
from openpyxl.worksheet.pagebreak import Break
fname = r"F:\repos\fish\æ–°èŠ­æ¡ˆä¾‹\111.xlsx"
wb = openpyxl.load_workbook(fname)
ws=wb.active
#æºç worksheet->worksheet->Worksheet()
#è®¾ç½®æ‰“å°åŒºåŸŸ
ws.print_area = 'A1:F10'
 
#è®¾ç½®æ‰“å°æ ‡é¢˜å’Œæ‰“å°åˆ—
ws.print_title_rows='1:1'
ws.print_title_cols="A:B"
print(ws.print_titles)#åªè¯»å±žæ€§
 
#å†»ç»“çª—æ ¼ å†»ç»“ç¬¬ä¸€è¡Œç¬¬ä¸€åˆ—
ws.freeze_panes = 'B2'
 
#æœªæµ‹è¯• åˆ†é¡µç¬¦ é€‚ç”¨äºŽopenpyxl 3.0.4ä»¥åŽ
row_number=20 #éœ€è¦æ’å…¥åˆ†é¡µç¬¦çš„è¡Œå·
# next_page_horizon, next_page_vertical = ws.page_breaks # è¿”å›ž2ä¸ªå˜é‡ åŽæœŸç‰ˆæœ¬å¯èƒ½å–æ¶ˆ
# next_page_horizon.append(Break(row_number)) # é€šè¿‡helpå¯ä»¥æŸ¥åˆ°appendå±žæ€§
 
#è®¾ç½®æ‰“å°A3æ¨ªå‘
ws.set_printer_settings(ws.PAPERSIZE_A3,ws.ORIENTATION_LANDSCAPE)
"""
    #æ‰€æœ‰é»˜è®¤è®¾ç½®å¦‚ä¸‹ worksheet ç±»å±žæ€§
    # Paper size
    PAPERSIZE_LETTER = '1'
    PAPERSIZE_LETTER_SMALL = '2'
    PAPERSIZE_TABLOID = '3'
    PAPERSIZE_LEDGER = '4'
    PAPERSIZE_LEGAL = '5'
    PAPERSIZE_STATEMENT = '6'
    PAPERSIZE_EXECUTIVE = '7'
    PAPERSIZE_A3 = '8'
    PAPERSIZE_A4 = '9'
    PAPERSIZE_A4_SMALL = '10'
    PAPERSIZE_A5 = '11'
    # Page orientation
    ORIENTATION_PORTRAIT = 'portrait' #çºµå‘
    ORIENTATION_LANDSCAPE = 'landscape' #æ¨ªå‘
"""
 
#å‚ç…§æºç  worksheet->page->PrintPageSetup()
#è®¾ç½®ç¼©æ”¾æ‰€æœ‰åˆ—åˆ°ä¸€é¡µ,ç›´æŽ¥è®¾ç½®fitToWidth=Trueæ— æ•ˆ,éœ€é‡‡ç”¨å¦‚ä¸‹æ–¹æ³•
#æ‰€æœ‰åˆ—è®¾ç½®ä¸ºä¸€é¡µ é€†å‘æ€ç»´,å…ˆç¼©æ”¾åˆ°é¡µé¢ ç„¶åŽé€‚åˆé«˜åº¦æ”¹ä¸ºFLASE
ws.sheet_properties.pageSetUpPr.fitToPage = True#æ­¤è¡Œå¿…é¡»è®¾ç½®
ws.page_setup.fitToHeight = False
#å…¶ä»–æ‰“å°è®¾ç½®
ws.page_setup.orientation = "landscape"#è®¾ç½®æ‰“å°æ–¹å‘ values=("default", "portrait", "landscape")
ws.page_setup.paperSize = "8" #çº¸å¼ å°ºå¯¸å‚è§ä¸Šè¡¨
ws.page_setup.firstPageNumber = 1#é¡µç èµ·å§‹é¡µ
ws.page_setup.useFirstPageNumber = True #ä½¿ç”¨èµ·å§‹é¡µ ä¸çŸ¥é“å•¥æ„æ€ æœªæµ‹è¯•

ws.print_options.fitToWidth = int(30 * 2.54)  # å®½åº¦çš„ç‚¹æ•°ï¼Œ2cm = 2.54ç‚¹
ws.print_options.fitToHeight = int(41 * 2.54)  # é«˜åº¦çš„ç‚¹æ•°ï¼Œ15cm = 15.24ç‚¹
# ws.page_setup.paperHeight = 297#çº¸å¼ é«˜åº¦
# ws.page_setup.paperWidth = 410#çº¸å¼ å®½åº¦
ws.page_setup.pageOrder = "downThenOver"##é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->æ‰“å°é¡ºåºvalues=("downThenOver", "overThenDown") å…ˆåˆ—åŽè¡Œ,å…ˆè¡ŒåŽåˆ— 
ws.page_setup.usePrinterDefaults = True #ä½¿ç”¨é»˜è®¤æ‰“å°æœº
ws.page_setup.blackAndWhite = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->å•è‰²æ¨¡å¼
ws.page_setup.draft = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->è‰ç¨¿è´¨é‡
ws.page_setup.cellComments = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->æ‰¹æ³¨å’Œæ³¨é‡Švalues=("asDisplayed", "atEnd") å¦‚å·¥ä½œè¡¨æ‰€ç¤º,å·¥ä½œè¡¨æœ«å°¾
ws.page_setup.errors = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->é”™è¯¯å•å…ƒæ ¼æ‰“å°ä¸ºvalues=("displayed", "blank", "dash", "NA")  æ˜¾ç¤ºå€¼,ç©ºç™½,--,"#N/A"
ws.page_setup.horizontalDpi = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->æ‰“å°è´¨é‡
ws.page_setup.verticalDpi = True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->æ‰“å°è´¨é‡
ws.page_setup.copies = True #æ–‡ä»¶->æ‰“å°->ä»½æ•° æœªæµ‹è¯•
 
 
#å‚ç…§æºç worksheet->header_footer->_HeaderFooterPart()
#è®¾ç½®é¡µçœ‰ å·¦ä¸­å³ left center right
ws.oddHeader.center.text = "XXX" #æ–‡æœ¬
ws.oddHeader.center.size = 24 #å­—å·
ws.oddHeader.center.font = "å¾®è½¯é›…é»‘" #å­—ä½“
ws.oddHeader.center.color = "000000" #16è¿›åˆ¶RGBé¢œè‰² å‚ç…§PS
#è®¾ç½®é¡µè„š
ws.oddFooter.center.text = "ç¬¬&[Page]é¡µ å…±&[Pages]é¡µ"
ws.oddFooter.center.size = 12
ws.oddFooter.center.font = "å¾®è½¯é›…é»‘"
ws.oddFooter.center.color = "000000"
 
#å…¶ä»–é¡µçœ‰é¡µè„šè®¾ç½® æœªæµ‹è¯•
ws.differentOddEven=True #é¡µé¢è®¾ç½®->é¡µçœ‰/é¡µè„š->å¥‡å¶é¡µä¸åŒ
ws.differentFirst=True #é¡µé¢è®¾ç½®->é¡µçœ‰/é¡µè„š->é¦–é¡µä¸åŒ
ws.scaleWithDoc=True #é¡µé¢è®¾ç½®->é¡µçœ‰/é¡µè„š->éšæ–‡æ¡£è‡ªåŠ¨ç¼©æ”¾
ws.alignWithMargins=True #é¡µé¢è®¾ç½®->é¡µçœ‰/é¡µè„š->ä¸Žé¡µè¾¹è·å¯¹é½
ws.evenHeader.center.text="XXX" #å¶æ•°é¡µçœ‰
ws.evenFooter.center.text="XXX" #å¶æ•°é¡µè„š
ws.firstHeader.center.text="XXX" #å¥‡æ•°é¡µçœ‰
ws.firstFooter.center.text="XXX" #å¥‡æ•°é¡µè„š
 
# é¡µçœ‰é¡µè„šè‡ªåŠ¨æ–‡æœ¬
"""
Individual left/center/right header/footer part
Do not use directly.
Header & Footer ampersand codes:
* &A   Inserts the worksheet name #å·¥ä½œè¡¨å
* &B   Toggles bold #åŠ ç²—
* &D or &[Date]   Inserts the current date #æ—¥æœŸ
* &E   Toggles double-underline #åŒä¸‹åˆ’çº¿
* &F or &[File]   Inserts the workbook name #æ–‡ä»¶å
* &I   Toggles italic #æ–œä½“
* &N or &[Pages]   Inserts the total page count #æ€»é¡µç 
* &S   Toggles strikethrough #åˆ é™¤çº¿
* &T   Inserts the current time #å½“å‰æ—¶é—´
* &[Tab]   Inserts the worksheet name #å½“å‰å·¥ä½œè¡¨å
* &U   Toggles underline #ä¸‹åˆ’çº¿
* &X   Toggles superscript #ä¸Šæ ‡
* &Y   Toggles subscript #ä¸‹æ ‡
* &P or &[Page]   Inserts the current page number #å½“å‰é¡µç 
* &P+n   Inserts the page number incremented by n #å½“å‰é¡µç +n
* &P-n   Inserts the page number decremented by n #å½“å‰é¡µç -n
* &[Path]   Inserts the workbook path #å½“å‰æ–‡ä»¶è·¯å¾„
* &&   Escapes the ampersand character #è½¬ä¹‰å­—ç¬¦å’Œç¬¦å·
* &"fontname"   Selects the named font #é€‰æ‹©å­—ä½“å
* &nn   Selects the specified 2-digit font point size #é€‰æ‹©æŒ‡å®šçš„ä¸¤ä½å­—ä½“ç‚¹å¤§å°?
Colours are in RGB Hex #é¢œè‰²æ˜¯åå…­è¿›åˆ¶RGB
"""
 
#æºç worksheet->page->PrintOptions()
#é¡µé¢è®¾ç½®->é¡µè¾¹è·->å±…ä¸­æ–¹å¼ æ°´å¹³/åž‚ç›´
ws.print_options.horizontalCentered=True
ws.print_options.verticalCentered=True
#æœªæµ‹è¯• 
ws.print_options.headings=True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->è¡Œå’Œåˆ—æ ‡é¢˜
ws.print_options.gridLines=True #é¡µé¢è®¾ç½®->å·¥ä½œè¡¨->ç½‘æ ¼çº¿
ws.print_options.gridLinesSet=True #çŒœä¸å‡ºæ¥ä»€ä¹ˆæ„æ€
 
 
#æºç worksheet->page->PageMargins()
#æœªæµ‹è¯• é¡µè¾¹è·
ws.page_margins.left=0.75 #å·¦
ws.page_margins.right=0.75 #å³
ws.page_margins.top=1 #ä¸Š
ws.page_margins.bottom=1 #ä¸‹
ws.page_margins.header=0.5 #é¡µçœ‰
ws.page_margins.footer=0.5 #é¡µè„š
wb.save(fname)

'Sheet1'!$1:$1,'Sheet1'!$A:$B

ValueError: Value must be one of {'asDisplayed', 'atEnd'}