In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0, 10, size=(1, 10)), columns=list("ABCDEFGHIJ"))
df

   A  B  C  D  E  F  G  H  I  J
0  4  1  8  3  3  5  2  8  2  7

In [8]:
def move_columns(df, cols, to):
    new_cols: list = df.columns.to_list()
    for i in cols:
        new_cols.remove(i)
    idx = new_cols.index(to) + 1
    for i in cols:
        new_cols.insert(idx, i)
        idx += 1

    df = df.reindex(new_cols, axis=1)

    return df

In [9]:
df = move_columns(df, ["H", "I", "J"], "A")
df

   A  H  I  J  B  E  F  G  C  D
0  4  8  2  7  1  3  5  2  8  3

In [10]:
df = move_columns(df, ["E", "F", "G"], "B")
df

   A  H  I  J  B  E  F  G  C  D
0  4  8  2  7  1  3  5  2  8  3

In [11]:
np.random.randint(0, 10, size=(2, 10))

array([[3, 1, 6, 7, 7, 6, 6, 0, 4, 2],
       [3, 9, 9, 1, 2, 4, 3, 1, 4, 6]])

In [12]:
np.array([[1, 2, 3]])

array([[1, 2, 3]])