In [1]:
import pandas as pd
from io import StringIO

In [12]:
data = '''
a,b,c
2022/9/23,2022/9/24,2022/9/27
2022/9/26,2022/9/27,2022/9/23
2022/9/21,2022/9/22,2022/9/26
2022/9/26,2022/9/22,2022/9/21
2022/9/26,2022/9/24,2022/9/27
2022/9/22,2022/9/21,2022/9/25
2022/9/26,2022/9/21,2022/9/27
2022/9/26,2022/9/21,2022/9/23
2022/9/25,2022/9/24,2022/9/27
2022/9/23,2022/9/25,2022/9/26
2022/9/27,2022/9/26,2022/9/23
2022/9/25,2022/9/24,2022/9/26
2022/9/25,2022/9/24,2022/9/27
2022/9/21,2022/9/26,2022/9/22
2022/9/24,2022/9/25,2022/9/26
2022/9/25,2022/9/21,2022/9/26
2022/9/24,2022/9/26,2022/9/23
2022/9/26,2022/9/22,2022/9/21
2022/9/22,2022/9/27,2022/9/23
2022/9/27,2022/9/21,2022/9/25
2022/9/27,2022/9/25,2022/9/26
2022/9/26,2022/9/24,2022/9/23
2022/9/25,2022/9/26,2022/9/23
2022/9/25,2022/9/21,2022/9/26
2022/9/23,2022/9/25,2022/9/26
2022/9/22,2022/9/26,2022/9/23
2022/9/26,2022/9/27,2022/9/21
2022/9/25,2022/9/21,2022/9/24
2022/9/26,2022/9/21,2022/9/27
2022/9/22,2022/9/21,2022/9/27
2022/9/27,2022/9/26,2022/9/23
2022/9/22,2022/9/26,2022/9/27
2022/9/22,2022/9/27,2022/9/26
'''

df = pd.read_csv(StringIO(data))
df.tail(10)

            a          b          c
23  2022/9/25  2022/9/21  2022/9/26
24  2022/9/23  2022/9/25  2022/9/26
25  2022/9/22  2022/9/26  2022/9/23
26  2022/9/26  2022/9/27  2022/9/21
27  2022/9/25  2022/9/21  2022/9/24
28  2022/9/26  2022/9/21  2022/9/27
29  2022/9/22  2022/9/21  2022/9/27
30  2022/9/27  2022/9/26  2022/9/23
31  2022/9/22  2022/9/26  2022/9/27
32  2022/9/22  2022/9/27  2022/9/26

In [3]:
(
    df.iloc[20]
    .astype('>M8')
)

a   2022-09-27
b   2022-09-25
c   2022-09-26
Name: 20, dtype: datetime64[ns]

In [4]:
(
    df.iloc[20]
    .astype('>M8')
    .sort_values()
)

b   2022-09-25
c   2022-09-26
a   2022-09-27
Name: 20, dtype: datetime64[ns]

In [5]:
(
    df.iloc[20]
    .astype('>M8')
    .sort_values()
    .diff()
)

b      NaT
c   1 days
a   1 days
Name: 20, dtype: timedelta64[ns]

In [6]:
(
    df.iloc[20]
    .astype('>M8')
    .sort_values()
    .diff()
    .dropna()
)

c   1 days
a   1 days
Name: 20, dtype: timedelta64[ns]

In [7]:
(
    df.iloc[20]
    .astype('>M8')
    .sort_values()
    .diff()
    .dropna()
    .eq(pd.Timedelta('1days'))
)

c    True
a    True
Name: 20, dtype: bool

In [8]:
(
    df.iloc[20]
    .astype('>M8')
    .sort_values()
    .diff()
    .dropna()
    .eq(pd.Timedelta('1days'))
    .all()
)

True

In [9]:
def func(ser: pd.Series) -> bool:
    return (
        ser.astype('>M8')
        .sort_values()
        .diff()
        .dropna()
        .eq(pd.Timedelta('1days'))
        .all()
    )

In [10]:
df.apply(func, axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [11]:
df[df.apply(func, axis=1)]

            a          b          c
11  2022/9/25  2022/9/24  2022/9/26
14  2022/9/24  2022/9/25  2022/9/26
20  2022/9/27  2022/9/25  2022/9/26