In [4]:
import pandas as pd

In [9]:
df = pd.read_clipboard()
df

   a  b
0  F  1
1  F  2
2  A  3

In [13]:
df.astype(str).apply('-'.join,axis = 1).where(df.a  == 'F',df.a)

0    F-1
1    F-2
2      A
dtype: object