In [16]:
foo = '100-103、120、141-143'

In [17]:
foo = foo.split('、')
foo

['100-103', '120', '141-143']

In [18]:
foo = map(lambda x:x.split('-'),foo)
foo = map(lambda x:range(int(x[0]),int(x[-1])+1),foo)

In [19]:
import itertools
chains = itertools.chain(*foo)

In [20]:
[*chains]

[100, 101, 102, 103, 120, 141, 142, 143]

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    '智商': [106, 86, 100, 101, 99, 103, 97, 113, 112, 110],
    '每周看电视小时数': [7, 0, 27, 50, 28, 29, 20, 12, 6, 17],
    '是否异常': ["否", "否", "是", "否", "否", "否", "是", "否", "否", "否"]})
df

    智商  每周看电视小时数 是否异常
0  106         7    否
1   86         0    否
2  100        27    是
3  101        50    否
4   99        28    否
5  103        29    否
6   97        20    是
7  113        12    否
8  112         6    否
9  110        17    否