In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
np.random.seed(4096)
df = pd.DataFrame(np.random.randint(0,100,(8,6)),columns = list('123456'))
df

    1   2   3   4   5   6
0  36  40  89  40  90  88
1  23  78  70  62  30  17
2  23  42  68  49  87  96
3  66  75  45  96  61  20
4  22  71  74  65  75  95
5   2  41  64  72  89  96
6  35  93  45  42  75  18
7  99  83   1  50  85  64

In [5]:
def func(ser: pd.Series) -> int:
    ser = iter(ser[::-1])
    cur,nxt = next(ser),next(ser)
    n = cur
    while cur == nxt:
        n += nxt
        cur = nxt
        nxt = next(ser)
    return

In [6]:
des_map = {1: '增长', -1: '降低', 0: '持平'}

In [7]:
df['连续增减'] = (
   df.diff(axis = 1)
   .fillna(0)
   .applymap(np.sign)
   .apply(func,axis = 1)
   .astype(int)
   .map(lambda x : f'连续{abs(x)}个月{des_map[np.sign(x)]}')
)
df

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [8]:
df= pd.read_clipboard()
df

,存货大类名称,品名,单位,月初,上日,本日入库,入库累计,本日出库,出库累计,结余
0,AA有光纸,40g有光纸787*1092,令,280.0,280.0,NaN,NaN,NaN,NaN,280.0
1,(AA有光纸)小计:,NaN,NaN,280.0,280.0,NaN,NaN,NaN,NaN,280.0
2,AB双胶纸,100g白云米白双胶889*1194,令,8.5,8.5,NaN,NaN,NaN,NaN,8.5
3,AB双胶纸,100g龙丰全木浆双胶787*1092,令,204.0,85.0,NaN,NaN,NaN,119.0,85.0

In [9]:
a = df.columns.to_list()
a

['存货大类名称', '品名', '单位', '月初', '上日', '本日入库', '入库累计', '本日出库', '出库累计', '结余']