In [3]:
import pandas as pd
import re

In [4]:
df = pd.DataFrame({'a': ['6R-5A-4G-7R',
                         '2A-4G-3A',
                         '8G',
                         '1R-9A']
                  })
df

             a
0  6R-5A-4G-7R
1     2A-4G-3A
2           8G
3        1R-9A

In [7]:
def func(s):
    r = r'(\d+)(\w+)'
    pattern = re.compile(r)
    dic = {}
   
    for i in s:
        mat = re.search(pattern, i)
        if mat :
            name = mat.group()[1]
            num = int(mat.group()[0])
            if name not in dic:
                dic[name] = [num]
            else :
                lst = dic[name]
                lst.append(num)    
                dic[name] = lst
         
    return dic

In [8]:
for i in [*'RAG']:
    df[i] = df.a.str.split('-').map(func)
    df[i] = df[i].apply(lambda x:sum(x.get(i,[0])))
df

             a   R  A  G
0  6R-5A-4G-7R  13  5  4
1     2A-4G-3A   0  5  4
2           8G   0  0  8
3        1R-9A   1  9  0