In [1]:
import pandas as pd
from functools import reduce

In [2]:
df = pd.read_excel('测试文件.xls',sheet_name = None,index_col = 0)
df

{'乙企业':       7月份  前7个月
 栏目
 营业收入   30   192
 营业成本   16    92
 利润总额   28   200
 所得税     2    14
 净利润    52   372,
 '丙企业':       7月份  前7个月
 栏目
 营业收入   23   106
 营业成本   10    54
 利润总额   13    52
 所得税     2     9
 净利润    11    43,
 '甲企业':       7月份  前7个月
 栏目
 营业收入   15    96
 营业成本    8    46
 利润总额    7    50
 所得税     1     7
 净利润     6    43}

In [8]:
result = reduce(pd.DataFrame.add,df.values())
result

      7月份  前7个月
栏目
营业收入   68   394
营业成本   34   192
利润总额   48   302
所得税     5    30
净利润    69   458

In [10]:
result.to_excel('汇总.xlsx',sheet_name = '汇总')

In [11]:
a = isinstance(3,(int,float))
a

True

In [ ]:
#简单奢望 找出DataFrame某列,非数字的所有行

In [17]:
df = pd.DataFrame({'id':[*'abcdef'],
                 'col':[2,3.5,-2.7,'_','No',5.1]})
df

  id  col
0  a    2
1  b  3.5
2  c -2.7
3  d    _
4  e   No
5  f  5.1

In [18]:
df[~df.col.map(np.isreal)]

  id col
3  d   _
4  e  No

In [20]:
df[~df.col.map(lambda x:isinstance(x,(int,float)))]

  id col
3  d   _
4  e  No