In [1]:
import pandas as pd

In [3]:
df = pd.read_clipboard()
df

   x     y
0  A     1
1  B     2
2  C     3
3  D  Ryan
4  E     5
5  F     6

In [4]:
df.assign(z = df.y.mask
                 (df.y.map(lambda x:True if x.isalpha() else (2 < int(x) <5)))
         )

   x     y    z
0  A     1    1
1  B     2    2
2  C     3  NaN
3  D  Ryan  NaN
4  E     5    5
5  F     6    6