In [1]:
from faker import Faker

In [6]:
import pandas as pd
f = Faker('zh')
Faker.seed(666)
df = pd.DataFrame({'name':[f.name() for i in range(400)],'得分':[f.pyint(1,10000) for i in range(400)]})

In [7]:
df

    name    得分
0    鞠淑珍  8745
1     陈洋  6573
2     李建  3977
3    巩丹丹  8385
4     王玲  1327
..   ...   ...
395   王婷  5448
396  郭建华  9746
397   刘晶  8370
398  李桂芳  3238
399  何海燕  3234

[400 rows x 2 columns]

In [4]:
txt =  '2aBBDCddef'

In [5]:
txt.count('B')

2