In [1]:
import pandas as pd
l1 = ['a','b','c','d','a','b']
l2 = [1,1,2,3,2,1]

In [2]:
df = pd.DataFrame({'l1':l1,'l2':l2})
df

  l1  l2
0  a   1
1  b   1
2  c   2
3  d   3
4  a   2
5  b   1

In [3]:
df1 = df.copy()
df1

  l1  l2
0  a   1
1  b   1
2  c   2
3  d   3
4  a   2
5  b   1

In [36]:
dic = {}
for i,j in list(zip(l1,l2)):
    if i not in dic:
        dic[i] = [j]
    
    else :
        m = dic[i]
        m.append(j)
        dic[i] = m
 
print(dic)

{'a': [1, 2], 'b': [1, 1], 'c': [2], 'd': [3]}

In [37]:
df.groupby('l1').l2.agg(set).agg(list).to_dict()

{'a': [1, 2], 'b': [1], 'c': [2], 'd': [3]}

In [39]:
df.groupby('l1').l2.agg(lambda x:[*set(x)]).to_dict()

{'a': [1, 2], 'b': [1], 'c': [2], 'd': [3]}

In [40]:
df1 = df.groupby('l1').l2.agg(set)

In [41]:
df1

l1
a    {1, 2}
b       {1}
c       {2}
d       {3}
Name: l2, dtype: object

In [42]:
df2 = df1.agg(list)
df2

l1
a    [1, 2]
b       [1]
c       [2]
d       [3]
Name: l2, dtype: object

In [44]:
df3 = df2.to_dict()
df3

{'a': [1, 2], 'b': [1], 'c': [2], 'd': [3]}