In [2]:
import pandas as pd
import numpy as np

In [3]:
df_sales = pd.DataFrame({
        '产品':['A']*5,
        '销售日期':pd.date_range('20190101', periods=5),
        '销售额':np.random.randint(100,1000,5)
})

In [4]:
df_campiagn = pd.DataFrame({
    '产品':['A'],
    '活动开始日期':[pd.to_datetime('20190102')],
    '活动结束日期':[pd.to_datetime('20190104')],
    '促销描述':['买一送一']
})

In [5]:
df_sales

  产品       销售日期  销售额
0  A 2019-01-01  167
1  A 2019-01-02  292
2  A 2019-01-03  130
3  A 2019-01-04  162
4  A 2019-01-05  424

In [6]:
df_campiagn

  产品     活动开始日期     活动结束日期  促销描述
0  A 2019-01-02 2019-01-04  买一送一

In [7]:
for i, r in df_sales.iterrows():
    df_temp = df_campiagn[(df_campiagn.活动开始日期 <= r.销售日期) &
                (r.销售日期 <= df_campiagn.活动结束日期)]
    print(df_temp)
    
    if df_temp.pipe(len) > 0:      #使用 pipe(len) 检查选定活动数据的数量是否大于零
        df_temp = df_temp.iloc[0]   #如果存在符合条件的活动数据，使用 iloc[0] 选择第一个符合条件的活动数据
        df_sales.loc[i, '活动开始日期'] = df_temp.活动开始日期
        df_sales.loc[i, '活动结束日期'] = df_temp.活动结束日期
        df_sales.loc[i, '促销描述'] = df_temp.促销描述

Empty DataFrame
Columns: [产品, 活动开始日期, 活动结束日期, 促销描述]
Index: []
  产品     活动开始日期     活动结束日期  促销描述
0  A 2019-01-02 2019-01-04  买一送一
  产品     活动开始日期     活动结束日期  促销描述
0  A 2019-01-02 2019-01-04  买一送一
  产品     活动开始日期     活动结束日期  促销描述
0  A 2019-01-02 2019-01-04  买一送一
Empty DataFrame
Columns: [产品, 活动开始日期, 活动结束日期, 促销描述]
Index: []

In [16]:
df_sales

  产品       销售日期  销售额     活动开始日期     活动结束日期  促销描述
0  A 2019-01-01  490        NaT        NaT   NaN
1  A 2019-01-02  801 2019-01-02 2019-01-04  买一送一
2  A 2019-01-03  427 2019-01-02 2019-01-04  买一送一
3  A 2019-01-04  172 2019-01-02 2019-01-04  买一送一
4  A 2019-01-05  113        NaT        NaT   NaN