In [1]:
from io import StringIO
import pandas as pd

In [4]:
data = '''
g   c1   c2
a   1   2
b   2   1
c   1   2
b   2   1

'''

df = pd.read_csv(StringIO(data), delim_whitespace=True)
df

   g  c1  c2
0  a   1   2
1  b   2   1
2  c   1   2
3  b   2   1

In [6]:
(
    df.set_index('g')
    .stack()
)

g
a  c1    1
   c2    2
b  c1    2
   c2    1
c  c1    1
   c2    2
b  c1    2
   c2    1
dtype: int64

In [7]:
(
    df.set_index('g')
    .stack()
    .groupby(level=[1, 0])
    .apply(pd.Series.value_counts)
#    .apply('value_counts') # 同上效果
)

    g
c1  a  1    1
    b  2    2
    c  1    1
c2  a  2    1
    b  1    2
    c  2    1
dtype: int64

In [8]:
(
    df.set_index('g')
    .stack()
    .groupby(level=[1, 0])
    .apply(pd.Series.value_counts)
    .unstack()
)

        1    2
   g
c1 a  1.0  NaN
   b  NaN  2.0
   c  1.0  NaN
c2 a  NaN  1.0
   b  2.0  NaN
   c  NaN  1.0

In [9]:
(
    df.set_index('g')
    .stack()
    .groupby(level=[1, 0])
    .apply(pd.Series.value_counts)
    .unstack()
    .fillna(0)
    .astype(int)
)

      1  2
   g
c1 a  1  0
   b  0  2
   c  1  0
c2 a  0  1
   b  2  0
   c  0  1