In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1': [*'AABBCC'],
    'col2': [*'BCACBA'],
    'value': 0.01,
})
df

  col1 col2  value
0    A    B   0.01
1    A    C   0.01
2    B    A   0.01
3    B    C   0.01
4    C    B   0.01
5    C    A   0.01

In [11]:
df[['col1','col2','value']].apply(set,axis = 1)

0    {A, B, 0.01}
1    {C, A, 0.01}
2    {A, B, 0.01}
3    {C, B, 0.01}
4    {C, B, 0.01}
5    {C, A, 0.01}
dtype: object

In [13]:
df[['col1','col2','value']].apply(set,axis = 1).drop_duplicates(keep='first')

0    {A, B, 0.01}
1    {C, A, 0.01}
3    {C, B, 0.01}
dtype: object

In [14]:
df1 = df.loc[df[['col1','col2','value']].apply(set,axis = 1).drop_duplicates(keep='first').index]

In [15]:
df1

  col1 col2  value
0    A    B   0.01
1    A    C   0.01
3    B    C   0.01