In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({},columns = ['asd','bMO','Bbq','foo'])
df

Empty DataFrame
Columns: [asd, bMO, Bbq, foo]
Index: []

In [4]:
df.loc[:,df.columns.str.contains(r'B|b')]

Empty DataFrame
Columns: [bMO, Bbq]
Index: []