In [17]:
str = 'aABCcCdCeDfEgGGHIOPQRRSabTCUcVBD'
def strToDic(str):
    str = str.lower()
    dic = {}
    lst = [i for i in str]
    keys = set(lst)
    for i in keys: 
        dic[i] = lst.count(i)
    return dic
result = strToDic(str)
print(result)

{'f': 1, 'd': 3, 'a': 3, 'o': 1, 's': 1, 'b': 3, 'i': 1, 'g': 3, 'e': 2, 'p': 1, 'q': 1, 't': 1, 'v': 1, 'u': 1, 'h': 1, 'c': 6, 'r': 2}

In [18]:
str = 'aABCcCdCeDfEgGGHIOPQRRSabTCUcVBD'
def strToDic(str):
    dic = {}
    lst = [i for i in str]
    keys = set(lst)
    for i in keys: 
        dic[i] = lst.count(i)
    return dic
result = strToDic(str)
print(result)

{'V': 1, 'Q': 1, 'D': 2, 'B': 2, 'S': 1, 'T': 1, 'A': 1, 'f': 1, 'O': 1, 'b': 1, 'e': 1, 'U': 1, 'G': 2, 'd': 1, 'E': 1, 'C': 4, 'R': 2, 'I': 1, 'P': 1, 'a': 2, 'H': 1, 'g': 1, 'c': 2}

In [19]:
import pandas as pd
import numpy as np

In [42]:
data_dict = {"province":['河南','河北','河南','河南','河南','河北'],
            'month':['2月','1月','1月','5月','3月','2月'],
             "temperature":['43','23','34','32','23','45']
             
                     }
data_dict

{'province': ['河南', '河北', '河南', '河南', '河南', '河北'],
 'month': ['2月', '1月', '1月', '5月', '3月', '2月'],
 'temperature': ['43', '23', '34', '32', '23', '45']}

In [127]:
df = pd.DataFrame(data_dict)

In [128]:
df

  province month temperature
0       河南    2月          43
1       河北    1月          23
2       河南    1月          34
3       河南    5月          32
4       河南    3月          23
5       河北    2月          45

In [129]:
df['yue'] = df['month'].str.replace('月','')

In [130]:
df

  province month temperature yue
0       河南    2月          43   2
1       河北    1月          23   1
2       河南    1月          34   1
3       河南    5月          32   5
4       河南    3月          23   3
5       河北    2月          45   2

In [131]:
df = df.astype({'yue':int,'temperature':int})

In [132]:
df.yue = df.yue-1

In [133]:
df = df.astype({'yue':'str'})

In [134]:
df.yue = df.yue+'月'

In [135]:
df

  province month  temperature yue
0       河南    2月           43  1月
1       河北    1月           23  0月
2       河南    1月           34  0月
3       河南    5月           32  4月
4       河南    3月           23  2月
5       河北    2月           45  1月

In [136]:
df['yue'] = df['yue'].str.replace('0月','12月')
df

  province month  temperature  yue
0       河南    2月           43   1月
1       河北    1月           23  12月
2       河南    1月           34  12月
3       河南    5月           32   4月
4       河南    3月           23   2月
5       河北    2月           45   1月

In [137]:
df1 = df
df1 = df.loc[:,['province','yue'] ]
df2 = df.loc[:,['province','month','temperature'] ]

In [138]:
df3 = pd.merge(df1,df2,left_on=['province','yue'],right_on=['province','month'],how='left')
df3

  province  yue month  temperature
0       河南   1月    1月         34.0
1       河北  12月   NaN          NaN
2       河南  12月   NaN          NaN
3       河南   4月   NaN          NaN
4       河南   2月    2月         43.0
5       河北   1月    1月         23.0

In [139]:
df4 = pd.merge(df,df3,left_on=['province','yue'],right_on=['province','yue'],how='left')
df4

  province month_x  temperature_x  yue month_y  temperature_y
0       河南      2月             43   1月      1月           34.0
1       河北      1月             23  12月     NaN            NaN
2       河南      1月             34  12月     NaN            NaN
3       河南      5月             32   4月     NaN            NaN
4       河南      3月             23   2月      2月           43.0
5       河北      2月             45   1月      1月           23.0

In [141]:
df4['diff'] = df4.temperature_x - df4.temperature_y

In [142]:
df4

  province month_x  temperature_x  yue month_y  temperature_y  diff
0       河南      2月             43   1月      1月           34.0   9.0
1       河北      1月             23  12月     NaN            NaN   NaN
2       河南      1月             34  12月     NaN            NaN   NaN
3       河南      5月             32   4月     NaN            NaN   NaN
4       河南      3月             23   2月      2月           43.0 -20.0
5       河北      2月             45   1月      1月           23.0  22.0

In [146]:
df.groupby('province').apply(lambda x :x.sort_values(by='month').assign(number_bool = lambda x:x.month.str[0].astype(int).diff()==1,
    diff =lambda x:x.temperature.astype(int).diff()[x.number_bool] )).sort_index(level=1).drop(['number_bool'],axis=1).droplevel(0,axis=0)

SyntaxError: invalid character in identifier (<ipython-input-146-6544cbf0c449>, line 2)

In [2]:
import pandas as pd
import numpy as np

In [4]:
data_dict = {"province":['河南','河北','河南','河南','河南','河北'],
       "month":['2月','1月','1月','5月','3月','2月'],
       "temperature":['43','23','34','32','23','45']
      }

SyntaxError: invalid character in identifier (<ipython-input-4-9a2ac9c2ab82>, line 2)

In [5]:
df =pd.DataFrame(data_dict)
df.groupby('province').apply(lambda x :x.sort_values(by='month').\
          assign(number_bool = lambda x:x.month.str[0].astype(int).diff()==1,
                 temperature_shift = lambda x:x.temperature.shift(1),
                 新增列 =lambda x:(x.temperature+'-'+x.temperature_shift)[x.number_bool],
                 diff= lambda x:x.temperature.astype(float)-x.temperature_shift.astype(float))).\
sort_index(level=1).\
drop(['number_bool','temperature_shift'],axis=1).
droplevel(0,axis=0)

SyntaxError: invalid character in identifier (<ipython-input-5-40efc0ab9b2b>, line 3)

In [6]:
import pandas as pd
import numpy as np
data_dict = {"province":['河南','河北','河南','河南','河南','河北'],
       "month":['2月','1月','1月','5月','3月','2月'],
       "temperature":['43','23','34','32','23','45']
      }
df =pd.DataFrame(data_dict)
df.groupby('province').apply(lambda x :x.sort_values(by='month').\
          assign(number_bool = lambda x:x.month.str[0].astype(int).diff()==1,
                 temperature_shift = lambda x:x.temperature.shift(1),
                 新增列 =lambda x:(x.temperature+'-'+x.temperature_shift)[x.number_bool],
                 diff= lambda x:x.temperature.astype(float)-x.temperature_shift.astype(float))).\
sort_index(level=1).\
drop(['number_bool','temperature_shift'],axis=1).
droplevel(0,axis=0)

SyntaxError: invalid syntax (<ipython-input-6-54449362023c>, line 14)