In [1]:
import pandas as pd

In [2]:
df1 = pd.read_clipboard()
df1

  ID  NO
0  A   1
1  B   2
2  C   3

In [3]:
df2 = pd.read_clipboard()
df2

  ID  NO
0  A   2
1  B   3

In [7]:
df1[~df1.ID.isin(df2.ID)]

  ID  NO
2  C   3