In [1]:
import pandas as pd

a, b = [1, 2, 3], [4, 5, 6]

s3, s4 = (
    pd.Series(a, index=[*'bcd']),
    pd.Series(b, index=[*'abc'])
)

In [2]:
a

[1, 2, 3]

In [3]:
b

[4, 5, 6]

In [4]:
s3

b    1
c    2
d    3
dtype: int64

In [5]:
s3, s4 = pd.Series(a, index=[*'bcd']),pd.Series(b, index=[*'abc'])

In [6]:
s3

b    1
c    2
d    3
dtype: int64

In [7]:
s4

a    4
b    5
c    6
dtype: int64

In [26]:
import pandas as pd

df1 = pd.DataFrame({'a':[1,2], 'b':[3,4]}, index=['c1','c2'])
df2 = pd.DataFrame({'a':[1,2], 'b':[3,4]}, index=['c2','c3'])

In [27]:
df3 = df1.add(df2,fill_value = 0).astype(int)
df3

    a  b
c1  1  3
c2  3  7
c3  2  4

In [28]:
df4 = (df1+df2).combine_first(df1).combine_first(df2).astype(int)
df4

    a  b
c1  1  3
c2  3  7
c3  2  4

In [29]:
df5 = (df1+df2).fillna(df1).fillna(df2).astype(int)
df5

    a  b
c1  1  3
c2  3  7
c3  2  4

    a  b
c1  1  3
c2  3  7
c3  2  4

    a  b
c1  1  3
c2  3  7
c3  2  4

In [19]:
import re
import pandas as pd

s = '(A,a,1,b,3,c,4) (B,a,2,c,5,d,8)'

def str_to_dict(s):
    k,*v = s.split(',')
    return (k,dict(zip(v[::2],v[1::2])))

data = dict(map(str_to_dict,re.findall('\((.*?)\)',s)))  #正则去掉字符串中的'(' 和')'，形成列表
data

{'A': {'a': '1', 'b': '3', 'c': '4'}, 'B': {'a': '2', 'c': '5', 'd': '8'}}

In [20]:
pd.DataFrame(data)

     A    B
a    1    2
b    3  NaN
c    4    5
d  NaN    8

In [2]:
return_str_to_dict =  str_to_dict(s)
return_str_to_dict

('(A', {'a': '2', 'b': '3', 'c': '5', 'd': '8)'})

In [3]:
k,*v = s.split(',')
k

'(A'

In [4]:
v

['a', '1', 'b', '3', 'c', '4) (B', 'a', '2', 'c', '5', 'd', '8)']

In [8]:
lst = re.findall('\((.*?)\)',s)
lst

['A,a,1,b,3,c,4', 'B,a,2,c,5,d,8']

In [13]:
k,*v = lst
k

'A,a,1,b,3,c,4'

In [14]:
v

['B,a,2,c,5,d,8']

In [16]:
a = list(map(str_to_dict,['A,a,1,b,3,c,4', 'B,a,2,c,5,d,8']))
a

[('A', {'a': '1', 'b': '3', 'c': '4'}), ('B', {'a': '2', 'c': '5', 'd': '8'})]

In [17]:
k,*v  = ['A,a,1,b,3,c,4', 'B,a,2,c,5,d,8']
v

['B,a,2,c,5,d,8']

In [ ]:
a = list(map(str_to_dict,re.findall('\((.*?)\)',s)))

In [10]:
a = list(map(str_to_dict,lst))
a

[('A', {'a': '1', 'b': '3', 'c': '4'}), ('B', {'a': '2', 'c': '5', 'd': '8'})]

In [11]:
b = dict(a)
b

{'A': {'a': '1', 'b': '3', 'c': '4'}, 'B': {'a': '2', 'c': '5', 'd': '8'}}

In [20]:
a

['(A', 'a', '1', 'b', '3', 'c', '4) (B', 'a', '2', 'c', '5', 'd', '8)']

In [14]:
s

'(A,a,1,b,3,c,4) (B,a,2,c,5,d,8)'

In [21]:
k,*v =a
k

'(A'

In [22]:
*v

SyntaxError: can't use starred expression here (2071056806.py, line 1)

In [23]:
b=*v
b

SyntaxError: can't use starred expression here (61777888.py, line 1)

In [24]:
c = re.findall('\((.*?)\)',s)   #去掉() 
c

['A,a,1,b,3,c,4', 'B,a,2,c,5,d,8']