In [8]:
'''
新芭作业https://wx.zsxq.com/dweb2/index/group/28512428454511
'''
import pandas as pd

In [ ]:
df = pd.read_clipboard()
df

In [ ]:
def fun(x):
    if isinstance(x, str):
        x = x.replace('DL','')
        x = float(x)/2
    else :
        x
    return x

In [ ]:
result = df.applymap(fun)
result

In [ ]:
df = pd.DataFrame({'A':[['1'],['1','2'],['2'],['1','3']],'B':[1,2,3,2]})
df

In [ ]:
def fun(s1,s2):
    s = []
    for x,y in zip(df.A,df.B):
        if str(y) in x:
            s.append(1)
          
        else :
            s.append(0)
    return s

In [ ]:
df = df.assign(C = fun(df.A,df.B))
df

In [1]:
dct = {'a':[1,2],'b':[3,4],'d':[5,7,9],'c':[10, 23, 55, 77]}
lst = [1, 5, 99, 77, 55, 100]

In [6]:
result = []
for i in lst:
    for k,v in dct.items():
        if i in v:
            result.append(k)
            break
    else :
        result.append('other')
    

result

['a', 'd', 'other', 'c', 'c', 'other']

In [9]:
df = pd.DataFrame({'x':dct.keys(),'y':dct.values()})
df

   x                 y
0  a            [1, 2]
1  b            [3, 4]
2  d         [5, 7, 9]
3  c  [10, 23, 55, 77]

In [14]:
df1 = df.explode('y')
df1

   x   y
0  a   1
0  a   2
1  b   3
1  b   4
2  d   5
2  d   7
2  d   9
3  c  10
3  c  23
3  c  55
3  c  77

In [16]:
dic = dict(zip(df1.y,df1.x))
dic

{1: 'a',
 2: 'a',
 3: 'b',
 4: 'b',
 5: 'd',
 7: 'd',
 9: 'd',
 10: 'c',
 23: 'c',
 55: 'c',
 77: 'c'}

In [17]:
result = [dic.get(i,'other') for i in lst]
result

['a', 'd', 'other', 'c', 'c', 'other']

In [21]:
dct = {'a':[1,2],'b':[3,4],'d':[5,7,9],'c':[10, 23, 55, 77]}
df2 = pd.DataFrame.from_dict(dct,orient = 'index')          #字典横排成DF
df2

    0   1     2     3
a   1   2   NaN   NaN
b   3   4   NaN   NaN
d   5   7   9.0   NaN
c  10  23  55.0  77.0

In [1]:
import pandas as pd

df = pd.read_clipboard()
df

        riqi  ddd
0   2022-6-1   12
1   2022-6-1   13
2   2022-6-1   14
3   2022-6-1   15
4   2022-6-1   16
5   2022-6-1   17
6   2022-6-1   18
7   2022-6-1   19
8   2022-6-1   20
9   2022-6-1   21
10  2022-6-1   22
11  2022-6-1   23
12  2022-6-1   24
13  2022-6-1   25