In [1]:
import pandas as pd

In [2]:
df = pd.read_clipboard()
df

     a    b
0  1个月  NaN
1  2个月  3个月
2  3个月  NaN
3  3个月  1个月

In [4]:
df.a.mask(df.b.notna())

0    1个月
1    NaN
2    3个月
3    NaN
Name: a, dtype: object

In [7]:
(
    df.assign(a =df.a.mask(df.b.notna()))
    .apply(lambda x : x.bfill(),axis =1)
)

     a    b
0  1个月  NaN
1  3个月  3个月
2  3个月  NaN
3  1个月  1个月

In [11]:
import numpy as np
df1 = df.assign(a = np.where(df.b != None,df.a,df.b ))
df1

     a    b
0  1个月  NaN
1  2个月  3个月
2  3个月  NaN
3  3个月  1个月