In [1]:
import pandas as pd
import random

In [14]:
random.seed(666)

df = pd.DataFrame({'a': random.choices(range(10), k=6),
                   'b': random.choices(range(1, 4), k=6)}
                 )
df

   a  b
0  4  3
1  9  1
2  4  3
3  5  2
4  8  2
5  5  3

In [15]:
df.loc[3]

a    5
b    2
Name: 3, dtype: int64

In [16]:
df.a.loc[:3]

0    4
1    9
2    4
3    5
Name: a, dtype: int64

In [17]:
df.a.loc[:3][-2:]

2    4
3    5
Name: a, dtype: int64

In [18]:
df.a[3::-1]

3    5
2    4
1    9
0    4
Name: a, dtype: int64

In [19]:
df.a[3::-1].iloc[:2]

3    5
2    4
Name: a, dtype: int64

In [20]:
df.a[3::-1].iloc[:2].sum()

9

In [21]:
df.assign(
    cumsum_b = 
        df.apply(lambda x: df.a[x.name::-1].iloc[:int(x.b)].sum(),
         axis=1)
)

   a  b  cumsum_b
0  4  3         4
1  9  1         9
2  4  3        17
3  5  2         9
4  8  2        13
5  5  3        18