In [1]:
import re

In [50]:
a = '12345678'
regex = r'(?<=\d)(?=(\d{3})+(?!\d))'

In [44]:
b = re.sub(regex,',',a)
b

'12,345,678'

In [45]:
import pandas as pd

In [47]:
df = pd.read_clipboard()
df

             a
0     12134587
1          588
2         1215
3       121345
4    121345912
5  12134592225
6     12134593

In [51]:
df = df.astype({'a':str})
df.a.str.replace(regex,',',regex= True)

0        12,134,587
1               588
2             1,215
3           121,345
4       121,345,912
5    12,134,592,225
6        12,134,593
Name: a, dtype: object

In [57]:
df = pd.read_clipboard()
df

   应收金额       账单日期
0    10  2022-6-26
1     5  2022-6-27
2     9  zzz没有物流日期
3    20  2022-6-29
4    25  zzz没有物流日期
5     7   2022-7-1
6     8  zzz没有物流日期
7     9   2022-7-3
8    10   2022-7-4

In [58]:
df.应收金额 = df.应收金额.mask(df.账单日期=='zzz没有物流日期',float('inf'))
df

   应收金额       账单日期
0  10.0  2022-6-26
1   5.0  2022-6-27
2   inf  zzz没有物流日期
3  20.0  2022-6-29
4   inf  zzz没有物流日期
5   7.0   2022-7-1
6   inf  zzz没有物流日期
7   9.0   2022-7-3
8  10.0   2022-7-4

In [60]:
df.sort_values('应收金额')

   应收金额       账单日期
1   5.0  2022-6-27
5   7.0   2022-7-1
7   9.0   2022-7-3
0  10.0  2022-6-26
8  10.0   2022-7-4
3  20.0  2022-6-29
2   inf  zzz没有物流日期
4   inf  zzz没有物流日期
6   inf  zzz没有物流日期