In [1]:
import io
import pandas as pd

In [3]:
data = '''
基金名称 电子 传煤 商务
A         1   2  3
B     4   5   6
C    7  8   9
'''
df = pd.read_csv(io.StringIO(data),sep = '\s+')
df

<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
C:\Users\redda\AppData\Local\Temp\ipykernel_17816\1358510834.py:7: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv(io.StringIO(data),sep = '\s+')

  基金名称  电子  传煤  商务
0    A   1   2   3
1    B   4   5   6
2    C   7   8   9