In [1]:
import pandas as pd

In [28]:
df = pd.DataFrame({'A':[113.4,2224.3252],'B':[564.09,2323.5612]})
df

           A          B
0   113.4000   564.0900
1  2224.3252  2323.5612

In [29]:
with pd.ExcelWriter('453535-wqx.xlsx') as writer:
    df.to_excel(writer,sheet_name = 'Sheet1',index = False)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    worksheet.set_zoom(200)    #放大窗口
    format1 = workbook.add_format({'num_format':'#,##0.00','align':'right'})
    worksheet.set_column('A:B',20,format1)

In [30]:
import openpyxl
def setThousans(df,fname,new_sheet_name,cell_range):
    wb = openpyxl.load_workbook(fname)
    with pd.ExcelWriter(fname,engine = 'openpyxl')  as writer:
        writer.book = wb
        writer.sheets = dict((ws.title, ws) for ws in wb.worksheets)
        df.to_excel(writer,new_sheet_name,index=False)
        ws = writer.sheets[new_sheet_name]
        for row in ws[cell_range]:
            for cell in row:
                print(cell.value)
                cell.number_format = '#,##0.00'
    wb.save(fname)
    return fname

In [31]:
fname = '453535-wqx.xlsx'
new_sheet_name = 'new'
cell_range = 'A:B'
setThousans(df,fname,new_sheet_name,cell_range)

A
113.4
2224.3252
B
564.09
2323.5612

'453535-wqx.xlsx'

In [32]:
df1 = pd.read_excel(fname,'Sheet1')
df1

           A          B
0   113.4000   564.0900
1  2224.3252  2323.5612

In [33]:
df1.dtypes

A    float64
B    float64
dtype: object

In [52]:
wb = openpyxl.load_workbook(fname)
ws = wb['new']
for cell in ws['A']:
    cell.number_format = '#,##0.00' 
#openpyxl.worksheet.worksheet.Worksheet.set_printer_settings(ws, paper_size = 9, orientation='landscape')
ws.page_setup.orientation = ws.ORIENTATION_LANDSCAPE   #横向
#ws.page_setup.orientation = ws.ORIENTATION_PORTRAIT
# ws.set_printer_settings(0, ORIENTATION_PORTRAIT)
# ws.page_setup.paperHeight = '141mm'
# ws.page_setup.paperWidth = '241mm'
ws.page_setup.paperSize = ws.PAPERSIZE_A3
wb.save(fname)

AttributeError: 'Worksheet' object has no attribute 'PAPERSIZE_大凭证'

In [ ]:
openpyxl.worksheet.worksheet.Worksheet.set_printer_settings(worksheetObject, paper_size = <someInt>, orientation='landscape')