In [5]:
from io import StringIO
import pandas as pd

data = '''
姓名   出生年月  2010-01  2010-02  2010-03
A    2010-02    1.0    1.0    1.0
B    2010-09    NaN    NaN    1.0
C    2010-01    1.0    2.0    3.0
'''

df = pd.read_csv(StringIO(data), delim_whitespace=True)
df

  姓名     出生年月  2010-01  2010-02  2010-03
0  A  2010-02      1.0      1.0      1.0
1  B  2010-09      NaN      NaN      1.0
2  C  2010-01      1.0      2.0      3.0

In [19]:
df1 = df.copy()

In [20]:
df1.出生年月 = df1.出生年月.astype('datetime64[ns]')
szny = df1.出生年月
def func(label,ser,szny):
    new = []
    for x,y in list(zip(ser,szny)):
        ser_name = pd.Timestamp(label)
        if ser_name >= y:
            x = x
        else :
            x = ''
        new.append(x)
    return new

In [21]:
for label,s in df1.iloc[:,2:].items():
    new = func(label,s,szny)
    df1[label] = new
 
df1

  姓名       出生年月 2010-01 2010-02 2010-03
0  A 2010-02-01             1.0     1.0
1  B 2010-09-01
2  C 2010-01-01     1.0     2.0     3.0

In [36]:
df2 = df.mask(df.apply(lambda x:df.出生年月 > x.name),'')
df2

  姓名     出生年月 2010-01 2010-02 2010-03
0  A  2010-02             1.0     1.0
1  B  2010-09
2  C  2010-01     1.0     2.0     3.0