In [1]:
import pandas as pd

df = pd.DataFrame({
    'id':['x', 'y', 'z'],
    'a':[3,4,2],
    'b':[0,5,7],
    'c':[1,0,1]}
)

df

  id  a  b  c
0  x  3  0  1
1  y  4  5  0
2  z  2  7  1

In [2]:
(
    df.set_index('id')
    .assign(label=lambda x: x.idxmax(1))
)

    a  b  c label
id
x   3  0  1     a
y   4  5  0     b
z   2  7  1     b

In [6]:
df.set_index('id').max()

a    4
b    7
c    1
dtype: int64

In [7]:
df.set_index('id').idxmax()

a    y
b    z
c    x
dtype: object

In [8]:
df.set_index('id').max(axis=1)

id
x    3
y    5
z    7
dtype: int64

In [9]:
df.set_index('id').idxmax(axis=1)

id
x    a
y    b
z    b
dtype: object

In [5]:
(
    df.set_index('id')
    .assign(label=lambda x: x.max(1))
)

    a  b  c  label
id
x   3  0  1      3
y   4  5  0      5
z   2  7  1      7