'''
x y z
Z 1 3
l 2 4
A 3 5
f 4 6
B 5 7
O 6 8
'''

In [2]:
import pandas as pd

df = pd.read_clipboard()
df

   x  y  z
0  Z  1  3
1  l  2  4
2  A  3  5
3  f  4  6
4  B  5  7
5  O  6  8

In [53]:
(
    df.mask(df.x == 'A',df[df.x.isin(['A','B'])].sum(),axis = 1)
    .loc[df.x != 'B']
    .set_index('x')
    .pipe(lambda d:d.reindex(['f']+d[~d.index.isin(['l','f'])].index.to_list() +['l']))
    .reset_index()
)

    x  y   z
0   f  4   6
1   Z  1   3
2  AB  8  12
3   O  6   8
4   l  2   4