In [2]:
import numpy as np 
import pandas as pd

### 需求
#### 按两点间距离排序，第一个点不变，找到余下各点与该点距离最近者排第二，以此类推
#### 思路就是循环遍历各点，时间复杂度为(n-1)!

In [3]:
arr = np.array([[11,9,5],[11,9,11],[11,10,7],[11,10,10]])

In [4]:
df = pd.DataFrame(arr)
df.columns = ['var1','var2','var3']
df

   var1  var2  var3
0    11     9     5
1    11     9    11
2    11    10     7
3    11    10    10

In [8]:
def func_dis(ser1,ser2):
    dis = round(((ser2[0] - ser1[0])**2 + (ser2[1] - ser1[1])**2 + (ser2[2] - ser1[2])**2) ** 0.5,5)
    return dis

start = df.iloc[0,:]
seq = [0]
df_tmp = df.copy()
cnt = 0
for i in range(1,4):
    dis_1 = np.inf
    idx_1 = None
    
    for idx,row in df_tmp.iloc[1:,:].iterrows():
        cnt = cnt + 1
        dis = func_dis(start,row)
        # print(idx)
        if dis_1 > dis:
            dis_1 = dis
            idx_1 = idx
            # print('===',idx_1)
               
    seq.append(idx_1)
    start = df.loc[idx_1]
    df_tmp.drop(idx_1,inplace=True)
    # print('=====外层=====')
   
print('循环{}次'.format(cnt))

循环6次

In [5]:
d = pd.DataFrame({'seq1':range(df.shape[0])},index=seq)
df_result = pd.merge(df,d,left_index=True,right_index=True)

In [6]:
df

   var1  var2  var3
0    11     9     5
1    11     9    11
2    11    10     7
3    11    10    10

In [7]:
df_result.sort_values(by='seq1')

   var1  var2  var3  seq1
0    11     9     5     0
2    11    10     7     1
3    11    10    10     2
1    11     9    11     3