In [1]:
import pandas as pd

df = pd.DataFrame({
    '商品' : ['A']*4 + ['B'] + ['C']*2 + ['D']*2,
    '活动名称' : ['买一送一','正价','满1000减400','六折',
              '正价','满1000减400','六折','正价','六折']
 })
df

  商品       活动名称
0  A       买一送一
1  A         正价
2  A  满1000减400
3  A         六折
4  B         正价
5  C  满1000减400
6  C         六折
7  D         正价
8  D         六折

In [2]:
no = (
    df.groupby('商品')
    .活动名称
    .apply(lambda x: (x != '正价').cumsum())
)
no

商品
A   0    1
    1    1
    2    2
    3    3
B   4    0
C   5    1
    6    2
D   7    0
    8    1
Name: 活动名称, dtype: int32

In [3]:
two_case = [(lambda x: x=='正价', '#'), (lambda x: x==x, no.array)]
df.assign(编号=df.活动名称.case_when(two_case))

  商品       活动名称 编号
0  A       买一送一  1
1  A         正价  #
2  A  满1000减400  2
3  A         六折  3
4  B         正价  #
5  C  满1000减400  1
6  C         六折  2
7  D         正价  #
8  D         六折  1