In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,10,size=(1,10)),columns=list('ABCDEFGHIJ'))
df

   A  B  C  D  E  F  G  H  I  J
0  1  1  8  3  1  3  7  6  0  3

In [3]:
def move_columns(df, cols, to):
    new_cols: list = df.columns.to_list()
    for i in cols:
        new_cols.remove(i)
    idx = new_cols.index(to) + 1
    for i in cols:
        new_cols.insert(idx, i)
        idx += 1
        
    df = df.reindex(new_cols, axis=1)
    
    return df

In [4]:
df = move_columns(df, ['H','I','J'], 'A')
df

   A  H  I  J  B  C  D  E  F  G
0  1  6  0  3  1  8  3  1  3  7

In [5]:
df = move_columns(df, ['E','F','G'], 'B')
df

   A  H  I  J  B  E  F  G  C  D
0  1  6  0  3  1  1  3  7  8  3