In [1]:
import pandas as pd
import numpy as np

In [32]:
#工厂的列标题
lst_columns = [
 '单据编号',
  '单据日期',
  '存货编码',
 '规格型号',
 '数量(本）',
 '数量2（件）',
  '金额']

#机构的列标题有点不一样
lst_columns_jigou = [
 '单据编号',
  '单据日期',
  '存货编码',
 '规格型号',
 '数量',
 '数量（件）',
  '金额']
def chuliXiaoshouDingdan(fname,lst_columns):
    df = pd.read_excel(fname)
    df = df[lst_columns]
    df = df.iloc[:-1]
    return df

In [59]:
#销售订单-工厂to销售公司
fname_gongchangToXiaoshou01 =  r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单-工厂to销售公司0726-0815.xlsx"
df_gongchangToXiaoshou01 = chuliXiaoshouDingdan(fname_gongchangToXiaoshou01,lst_columns)
fname_gongchangToXiaoshou02 =  r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单-工厂to销售公司0816-0825.xlsx"
df_gongchangToXiaoshou02 = chuliXiaoshouDingdan(fname_gongchangToXiaoshou02,lst_columns)
df_gongchangToXiaoshou = pd.concat([df_gongchangToXiaoshou01,df_gongchangToXiaoshou02])   #一次不能导出超过5000条的记录，分两次
df_gongchangToXiaoshou.tail(5)

              单据编号        单据日期       存货编码      规格型号   数量(本）  数量2（件）      金额
2566  SO-2024-1310  2024-08-25  XA203NH-a  B8小学生作业本  4000.0    20.0  4800.0
2567  SO-2024-1310  2024-08-25  XA204NH-a  B8小学生作业本  4000.0    20.0  4800.0
2568  SO-2024-1310  2024-08-25  XA206NH-a  B8小学生作业本  2000.0    10.0  2400.0
2569  SO-2024-1310  2024-08-25  XA207NH-a  B8小学生作业本  1000.0     5.0  1200.0
2570  SO-2024-1310  2024-08-25  XA208NH-a  B8小学生作业本  1000.0     5.0  1200.0

In [35]:
##销售订单-佳广to客户
fname_jiaguang = r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单-佳广to客户0726-0825.xlsx"
df_jiaguang = chuliXiaoshouDingdan(fname_jiaguang,lst_columns_jigou)
df_jiaguang.tail(5)

                单据编号        单据日期          存货编码      规格型号    数量  数量（件）     金额
433  SO-2024-03-0135  2024-08-23     N0795（电商）  B20电商缝线本   320    1.0  176.0
434  SO-2024-03-0135  2024-08-23     N0793（电商）  B20电商缝线本   320    1.0  176.0
435  SO-2024-03-0136  2024-08-23      QSX1660N  B20电商缝线本  1000    5.0  700.0
436  SO-2024-03-0136  2024-08-23      QZW1660N  B20电商缝线本  1200    6.0  840.0
437  SO-2024-03-0137  2024-08-23  EFL1660NB-定制  B20电商缝线本  1000    5.0  800.0

In [36]:
##销售订单-荣佳to客户
fname_rongjia = r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单-荣佳to客户0726-0825.xlsx"
df_rongjia = chuliXiaoshouDingdan(fname_rongjia,lst_columns_jigou)
df_rongjia.tail(5)

                单据编号        单据日期       存货编码        规格型号     数量  数量（件）      金额
278  SO-2024-04-0095  2024-08-24  N0781（方格）  B12莱特牛皮缝线本  200.0    1.0  165.00
279  SO-2024-04-0095  2024-08-24      N0785  B12莱特牛皮缝线本  200.0    1.0  165.00
280  SO-2024-04-0095  2024-08-24      N0783  B12莱特牛皮缝线本  200.0    1.0  165.00
281  SO-2024-04-0096  2024-08-24       9999          抄本    0.0    NaN   66.00
282  SO-2024-04-0112  2024-08-25       9999          抄本    0.0    NaN -119.88

In [37]:
##销售订单-莱新to客户
fname_laixin01 = r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单统计表-莱新to客户0726-0815.xlsx"
df_laixin01 = chuliXiaoshouDingdan(fname_laixin01,lst_columns_jigou)
fname_laixin02 = r"F:\a00nutstore\008\zw08\用友报价\产成品库存\销售订单统计表-莱新to客户0816-0825.xlsx"  #一次不能导出超过5000条的记录，分两次
df_laixin02 = chuliXiaoshouDingdan(fname_laixin02,lst_columns_jigou)
df_laixin = pd.concat([df_laixin01,df_laixin02])
df_laixin.tail(5)

                 单据编号        单据日期       存货编码      规格型号    数量  数量（件）      金额
2380  SO-2024-02-0644  2024-08-25  XA203NH-a  B8小学生作业本  4000   20.0  4800.0
2381  SO-2024-02-0644  2024-08-25  XA204NH-a  B8小学生作业本  4000   20.0  4800.0
2382  SO-2024-02-0644  2024-08-25  XA206NH-a  B8小学生作业本  2000   10.0  2400.0
2383  SO-2024-02-0644  2024-08-25  XA207NH-a  B8小学生作业本  1000    5.0  1200.0
2384  SO-2024-02-0644  2024-08-25  XA208NH-a  B8小学生作业本  1000    5.0  1200.0

In [38]:
df_jigou = pd.concat([df_laixin,df_jiaguang,df_rongjia])      #三个机构合并
df_jigou.head(5)

,单据编号,单据日期,存货编码,规格型号,数量,数量（件）,金额
0,SO-2024-02-0015,2024-07-26,N0785,B12莱特牛皮缝线本,40000.0,200.0,32000.0
1,SO-2024-02-0015,2024-07-26,N0784（300格）,B12莱特牛皮缝线本,40000.0,200.0,32000.0
2,SO-2024-02-0015,2024-07-26,N0783,B12莱特牛皮缝线本,40000.0,200.0,32000.0
3,SO-2024-02-0015,2024-07-26,N0781（方格）,B12莱特牛皮缝线本,40000.0,200.0,32000.0
4,SO-2024-02-0015,2024-07-26,N0782（双竖线）,B12莱特牛皮缝线本,30000.0,150.0,24000.0

In [45]:
#机构数据透视表
pivot_jigou = pd.pivot_table(df_jigou,index = '存货编码',values =  ['数量','数量（件）','金额'],aggfunc = np.sum,fill_value = 0)
pivot_jigou

C:\Users\redda\AppData\Local\Temp\ipykernel_21292\4256221215.py:2: FutureWarning: The provided callable <function sum at 0x000002C202E984A0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_jigou = pd.pivot_table(df_jigou,index = '存货编码',values =  ['数量','数量（件）','金额'],aggfunc = np.sum,fill_value = 0)

In [60]:
#工厂数据透视表
pivot_gongchang = pd.pivot_table(df_gongchangToXiaoshou,index = '存货编码',values =  ['数量(本）','数量2（件）','金额'],aggfunc = np.sum,fill_value = 0)
pivot_gongchang

C:\Users\redda\AppData\Local\Temp\ipykernel_21292\2502481464.py:1: FutureWarning: The provided callable <function sum at 0x000002C202E984A0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_gongchang = pd.pivot_table(df_gongchangToXiaoshou,index = '存货编码',values =  ['数量(本）','数量2（件）','金额'],aggfunc = np.sum,fill_value = 0)

           数量(本）  数量2（件）        金额
存货编码
1101       240.0    4.00   1324.80
1103        60.0    1.00    331.20
1105       420.0    7.00   2318.40
1106      1198.0   19.97   6612.96
1110       600.0   10.00   3312.00
...          ...     ...       ...
YW309NH   4000.0   20.00   3400.00
固定资产明细卡   6000.0    2.00    900.00
存料卡      48600.0    9.00  19764.00
教案本-100   2500.0   25.00   7895.00
教案本-80a   2400.0   15.00   5517.60

[1185 rows x 3 columns]

In [61]:
#两张透视表差异
pivot_diff = pd.merge(pivot_gongchang,pivot_jigou,left_index = True,right_index = True ,how = 'outer')
pivot_diff

           数量(本）  数量2（件）      金额_x       数量  数量（件）     金额_y
存货编码
1101       240.0    4.00   1324.80    240.0   4.00  1242.00
1103        60.0    1.00    331.20     60.0   1.00   298.08
1105       420.0    7.00   2318.40    420.0   7.00  2093.18
1106      1198.0   19.97   6612.96   1198.0  19.97  5998.02
1110       600.0   10.00   3312.00    600.0  10.00  3007.30
...          ...     ...       ...      ...    ...      ...
YW309NH   4000.0   20.00   3400.00   4000.0  20.00  3400.00
固定资产明细卡   6000.0    2.00    900.00   6000.0   2.00   810.00
存料卡      48600.0    9.00  19764.00  48600.0   9.00  4817.34
教案本-100   2500.0   25.00   7895.00   2500.0  25.00  7895.00
教案本-80a   2400.0   15.00   5517.60   2400.0  15.00  5517.60

[1189 rows x 6 columns]

In [62]:
#添加差异列
pivot_diff['本数差异'] = pivot_diff['数量(本）'] - pivot_diff['数量']
pivot_diff['件数差异'] = pivot_diff['数量2（件）'] - pivot_diff['数量（件）']
pivot_diff['金额差异'] = pivot_diff['金额_x'] - pivot_diff['金额_y']
pivot_diff

,数量(本）,数量2（件）,金额_x,数量,数量（件）,金额_y,本数差异,件数差异,金额差异
存货编码,,,,,,,,,
1101,240.0,4.00,1324.80,240.0,4.00,1242.00,0.0,0.0,82.80
1103,60.0,1.00,331.20,60.0,1.00,298.08,0.0,0.0,33.12
1105,420.0,7.00,2318.40,420.0,7.00,2093.18,0.0,0.0,225.22
1106,1198.0,19.97,6612.96,1198.0,19.97,5998.02,0.0,0.0,614.94
1110,600.0,10.00,3312.00,600.0,10.00,3007.30,0.0,0.0,304.70
...,...,...,...,...,...,...,...,...,...
YW309NH,4000.0,20.00,3400.00,4000.0,20.00,3400.00,0.0,0.0,0.00
固定资产明细卡,6000.0,2.00,900.00,6000.0,2.00,810.00,0.0,0.0,90.00
存料卡,48600.0,9.00,19764.00,48600.0,9.00,4817.34,0.0,0.0,14946.66
教案本-100,2500.0,25.00,7895.00,2500.0,25.00,7895.00,0.0,0.0,0.00
教案本-80a,2400.0,15.00,5517.60,2400.0,15.00,5517.60,0.0,0.0,0.00

In [63]:
#差异存入excel文件中
pivot_diff.to_excel('工厂to销售公司vs各机构to客户202408.xlsx')

C:\Users\redda\AppData\Local\Temp\ipykernel_21292\631190504.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  pivot_diff.to_excel('工厂to销售公司vs各机构to客户202408.xlsx')

In [65]:
#工厂的销售订单
df_gongchangToXiaoshou.to_excel('工厂.xlsx',index = False)

C:\Users\redda\AppData\Local\Temp\ipykernel_21292\889684823.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_gongchangToXiaoshou.to_excel('工厂.xlsx',index = False)